Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project:
      default:
        target: auto
        threshold: 5%

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.md
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

favor companion protocol for power state
  pyatv/core/facade.py
  pyatv/protocols/companion/__init__.py
Due: library

cq: Fix issues with new black
  docs/api/pyatv.conf.html
  docs/api/pyatv.const.html
  docs/api/pyatv.convert.html
  docs/api/pyatv.exceptions.html
  docs/api/pyatv.helpers.html
  docs/api/pyatv.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.file_storage.html
  docs/api/pyatv.storage.html
  pyatv/auth/server_auth.py
  pyatv/core/mdns.py
  pyatv/protocols/raop/stream_client.py
  scripts/chickn.py
  tests/auth/test_hap_tlv8.py
  tests/core/test_scan.py
  tests/protocols/dmap/test_dmap_pairing.py
  tests/protocols/dmap/test_parser.py
  tests/protocols/raop/test_raop_functional.py
  tests/support/test_dns.py
  tests/support/test_opack.py
  tests/support/test_packet.py
Due: library, docs, scripts, tests

cq: Fix some spelling issues
  docs/development/stream.md
  docs/support/faq.md
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/dmap/daap.py
  pyatv/protocols/raop/__init__.py
  scripts/protobuf.py
Due: library, docs, scripts

deps: Set cryptography 44.0.1 as base version
  base_versions.txt
Due: docs

wip
  scripts/chickn.py
  tests/protocols/dmap/test_dmap_functional.py
Due: scripts, tests

airplay: Add setting for MRP tunnel
  docs/api/pyatv.settings.html
  pyatv/protocols/airplay/__init__.py
  pyatv/scripts/atvremote.py
  pyatv/settings.py
Due: library, docs

Update settings info from config
  pyatv/storage/__init__.py
Due: library

Fixed (temporary?) for tvOS 18.4 for companion protocol disconnection
  pyatv/protocols/companion/api.py
Due: library

feat: Persist Target Device Information into Storage
  docs/api/pyatv.conf.html
  docs/api/pyatv.const.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.html
  pyatv/conf.py
  pyatv/interface.py
  pyatv/settings.py
  pyatv/storage/__init__.py
Due: library, docs

fix: Suppress type checking error in Settings class definition
  pyatv/settings.py
Due: library

formatting
  pyatv/settings.py
Due: library

feat: Enhance TargetDeviceInfo and TargetDeviceConfig with default values and improve serialization
  pyatv/interface.py
  pyatv/settings.py
  pyatv/storage/__init__.py
  pyatv/support/__init__.py
  tests/fake_device/__init__.py
  tests/scripts/conftest.py
  tests/scripts/test_atvremote.py
Due: library, tests

feat: Enhance stringify_model function to support nested BaseModels and dictionaries
  pyatv/support/__init__.py
Due: library

fix: Update links in documentation to reflect correct line ranges
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  pyatv/interface.py
  pyatv/settings.py
  pyatv/support/__init__.py
Due: library, docs

fix: Remove unnecessary blank lines in conftest.py and test_atvremote.py
  tests/scripts/conftest.py
  tests/scripts/test_atvremote.py
Due: tests

Added set_device_volume endpoint
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/mrp/__init__.py
Due: library

Fixed formatting
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/mrp/__init__.py
  tests/core/test_facade.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, tests

Fixed formatting and errors
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/scripts/atvscript.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, tests

Sync master
  .github/workflows/tests.yml
Due: none

First commit of modifications
  pyatv/const.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/scripts/atvscript.py
  tests/core/test_facade.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, tests

Changed OutputDevice to dataclass and moved
  pyatv/core/__init__.py
  pyatv/interface.py
  pyatv/protocols/mrp/__init__.py
Due: library

companion: Use static id for _i in _systemInfo
  docs/api/pyatv.const.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.file_storage.html
  docs/api/pyatv.storage.html
  docs/api/pyatv.storage.memory_storage.html
  pyatv/protocols/companion/api.py
  pyatv/settings.py
  pyatv/storage/__init__.py
  pyatv/storage/file_storage.py
Due: library, docs

Add support for Guide, Page Up/Down
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Disable publish to pypi
  .github/workflows/release_temp.yml
  .github/workflows/tests_temp.yml
Due: none

Fix formatting
  pyatv/core/facade.py
  pyatv/interface.py
Due: library

Remove temp actions
  .github/workflows/release_temp.yml
  .github/workflows/tests_temp.yml
Due: none

Cleanup of commands
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Removed tvOS 18.4 fix and synched with master
  Dockerfile
  pyatv/protocols/companion/api.py
  requirements/requirements.txt
  requirements/requirements_docs.txt
  requirements/requirements_test.txt
  tests/core/test_facade.py
Due: library, tests

Linting
  tests/core/test_facade.py
Due: tests

companion: Use static id for _i in _systemInfo
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.file_storage.html
  docs/api/pyatv.storage.html
  docs/api/pyatv.storage.memory_storage.html
  pyatv/protocols/companion/api.py
  pyatv/settings.py
  pyatv/storage/__init__.py
  pyatv/storage/file_storage.py
  pyatv/storage/memory_storage.py
  pyproject.toml
  tests/storage/test_memory_storage.py
  tests/test_storage_functional.py
Due: library, docs, tests
