Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

net: Add method to get all private addresses
  pyatv/support/net.py
  tests/support/test_net.py
Due: library, tests

scan: Add more typing
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/support/udns.py
  tests/fake_udns.py
  tests/support/test_udns.py
Due: library, docs, tests

scan: Add explicit bind to multicast scan
  pyatv/support/udns.py
Due: library

scan: Custom scanning implementation
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/support/udns.py
  tests/airplay/test_airplay.py
  tests/common_functional_tests.py
  tests/conftest.py
  tests/fake_udns.py
  tests/scripts/script_env.py
  tests/scripts/test_atvscript.py
  tests/support/test_udns.py
  tests/test_scan.py
  tests/utils.py
Due: library, docs, tests

udns: Cancel re-send loops properly
  pyatv/support/udns.py
Due: library

udns: Extract test helpers to module
  tests/fake_udns.py
  tests/support/test_udns.py
Due: tests

udns: Add support for A records
  pyatv/support/udns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_udns.py
Due: library, tests

scan: Add and use parser for MDNS services
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/interface.py
  pyatv/support/udns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_udns.py
  tests/test_scan.py
Due: library, docs, tests

udns: Fix some unicode issues
  pyatv/support/udns.py
Due: library

udns: Return service objects
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/support/udns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_udns.py
Due: library, docs, tests

scan: Handle sleep proxy responses
  docs/api/pyatv.html
  pyatv/support/udns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_udns.py
Due: library, docs, tests

if: Add InputAction for relevant buttons
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library, docs

if: Add support for input actions in protocols
  docs/development/control.md
  docs/index.md
  pyatv/mrp/__init__.py
  pyatv/scripts/atvremote.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
  tests/utils.py
Due: library, docs, tests

mrp: Update protobuf for language options.
  pyatv/mrp/protobuf/ContentItem.proto
  pyatv/mrp/protobuf/ContentItem_pb2.py
  pyatv/mrp/protobuf/ContentItem_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

udns: Add Response type to unicast and multicast
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/support/udns.py
  tests/support/test_udns.py
Due: library, docs, tests

scan: Add support for deep sleep detection
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/development/scan_pair_and_connect.md
  docs/documentation/atvremote.md
  docs/documentation/concepts.md
  docs/index.md
  docs/support/faq.md
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/support/udns.py
  tests/fake_udns.py
  tests/support/test_udns.py
  tests/test_conf.py
  tests/test_scan.py
Due: library, docs, tests

mdns: Rename udns module to mdns
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/support/mdns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_mdns.py
Due: library, docs, tests

scan: Extract scanners to a support module
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/support/scan.py
  tests/test_scan_functional.py
Due: library, docs, tests

device_info: Add some tvOS build numbers
  pyatv/support/device_info.py
Due: library

gha: Enable codecov again
  .github/workflows/tests.yml
Due: none

atvremote: Add delay command
  docs/documentation/atvremote.md
  pyatv/scripts/atvremote.py
Due: library, docs

devinfo: Add lookup for internal names
  pyatv/support/device_info.py
  tests/support/test_device_info.py
Due: library, tests

scan: Get device model from mdns
  docs/api/pyatv/conf.html
  pyatv/conf.py
  pyatv/support/device_info.py
  pyatv/support/mdns.py
  pyatv/support/scan.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_mdns.py
  tests/test_conf.py
  tests/test_scan_functional.py
Due: library, docs, tests
