Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

airplay: Quiet log of remote control setup failure
  docs/api/pyatv/exceptions.html
  pyatv/exceptions.py
  pyatv/protocols/airplay/__init__.py
  pyatv/support/http.py
Due: library, docs

raop: Report correct progress values
  pyatv/protocols/raop/raop.py
Due: library

core: Don't connect to dummy services
  pyatv/__init__.py
Due: library

gha: Run tests on python 3.10
  .github/workflows/tests.yml
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/support/knock.py
  setup.py
  tox.ini
Due: library

docs: Add tvOS 15 to README description
  README.md
Due: docs

raop: Add support for stop
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/raop.py
  tests/protocols/raop/conftest.py
  tests/protocols/raop/test_raop_functional.py
Due: library, docs, tests

facade: Support takeover for PushUpdater
  docs/api/pyatv/interface.html
  pyatv/core/facade.py
  tests/core/test_facade.py
Due: library, docs, tests

relayer: Fix main_instance and add instances
  pyatv/core/relayer.py
  tests/core/test_relayer.py
Due: library, tests

facade: Support for protocol takeover
  pyatv/core/facade.py
  tests/core/test_facade.py
Due: library, tests

cq: Remove stream.py
  stream.py
Due: none

core: Add takeover support to relayer
  pyatv/core/relayer.py
  tests/core/test_relayer.py
Due: library, tests

core: Pass takeover method to protocols
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
Due: library, docs

Release 0.9.3
  CHANGES.md
  pyatv/const.py
  scripts/release.py
Due: library, docs, scripts

Update README.md
  README.md
Due: docs

core: Remove need for mypy_extensions
  pyatv/core/__init__.py
Due: library

docs: Hide internal DeviceInfo.RAW_MODEL
  docs/api/pyatv/interface.html
  pyatv/interface.py
Due: library, docs

companion: Add support for UID in OPACK
  pyatv/protocols/companion/opack.py
  tests/protocols/companion/test_opack.py
Due: library, tests

Release 0.9.4
  CHANGES.md
  pyatv/const.py
Due: library, docs

core: Fix relayer fallback bug
  pyatv/core/relayer.py
  tests/core/test_relayer.py
Due: library, tests

dmap: Add missing tags aelb and casa
  pyatv/protocols/dmap/tag_definitions.py
Due: library

Release 0.9.5
  CHANGES.md
  pyatv/const.py
Due: library, docs
