Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

reduce
  pyatv/core/scan.py
Due: library

guard
  pyatv/core/scan.py
Due: library

companion: Fix pairing requirement flag
  pyatv/protocols/companion/__init__.py
Due: library

Fixes and amendments to protocols doc.
  docs/documentation/protocols.md
Due: docs

deps: Deprecate python 3.6
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/tests.yml
  docs/documentation/documentation.md
  setup.py
Due: docs

remove 3.6 compat
  tests/core/test_scan.py
Due: tests

raop: Harmonize protocol string in requests
  pyatv/support/rtsp.py
Due: library

scan: Add support for scanning with AsyncZeroconf
  base_versions.txt
  pyatv/__init__.py
  pyatv/core/mdns.py
  pyatv/core/scan.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/core/test_scan.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/companion/test_companion.py
  tests/protocols/dmap/test_dmap.py
  tests/protocols/mrp/test_mrp.py
  tests/protocols/raop/test_raop.py
Due: library, docs, tests

mrp: Fix play state bug
  .github/workflows/tests.yml
  docs/api/pyatv.html
  fail
  get.py
  paused_carol
  pyatv/protocols/mrp/player_state.py
  sample.wav
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_player_state.py
Due: library, docs, tests

mrp: Fix play state bug
  .github/workflows/tests.yml
  docs/api/pyatv.html
  pyatv/protocols/mrp/player_state.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_player_state.py
Due: library, docs, tests

Release 0.10.0
  CHANGES.md
  pyatv/const.py
Due: library, docs

docs: Update list with projects using pyatv
  docs/index.md
Due: docs

simple example json api
  examples/json-api.py
Due: examples

more output error and status
  examples/json-api.py
Due: examples

Adding a project to the list
  docs/index.md
Due: docs

A few more fields for DeviceInfoMessage
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage.proto
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.py
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.pyi
Due: library

Fix path to setup_dev_env.sh in CONTRIBUTING.md
  CONTRIBUTING.md
Due: docs

Fix sed command in setup_dev_env.sh for macOS
  scripts/setup_dev_env.sh
Due: scripts

Switch to using ChaCha20Poly1305Reusable for encryption
  base_versions.txt
  pyatv/support/chacha20.py
  requirements/requirements.txt
Due: library, docs

Switch to using ChaCha20Poly1305Reusable for encryption (#1756)
  base_versions.txt
  pyatv/support/chacha20.py
  requirements/requirements.txt
Due: library, docs

companion: Implement channel_up and channel_down
  pyatv/core/facade.py
  pyatv/protocols/companion/__init__.py
Due: library

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
