Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

naming
  .coveragerc
Due: none

add py.typed to mark pyatv as PEP-561 compliant
  pyatv/py.typed
Due: library

add some missing return types on public interfaces
  pyatv/interface.py
Due: library

Update tests.yml
  .github/workflows/tests.yml
Due: none

Fix spelling errors
  docs/api/pyatv.interface.html
  docs/development/scan_pair_and_connect.md
  docs/documentation/concepts.md
  docs/documentation/supported_features.md
  pyatv/protocols/mrp/protocol.py
  pyatv/protocols/raop/stream_client.py
  pyatv/protocols/raop/timing.py
  pyatv/support/http.py
  pyatv/support/opack.py
  pyatv/support/rtsp.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, docs, tests

Filter out invalid addreses from zeroconf
  pyatv/core/scan.py
Due: library

naming
  pyatv/core/scan.py
Due: library

api: Use error_handler when connecting
  pyatv/protocols/companion/protocol.py
  pyatv/protocols/mrp/protocol.py
  pyatv/support/__init__.py
Due: library

deps: Update protobuf version in base_versions
  base_versions.txt
Due: docs

gha: Bump setup-python tp v4
  .github/workflows/tests.yml
Due: none

Release 0.14.2
  CHANGES.md
  Dockerfile
  pyatv/const.py
Due: library, docs

storage: Remove need for pydantic-extra-types
  base_versions.txt
  docs/api/pyatv.settings.html
  pyatv/settings.py
  requirements/requirements.txt
Due: library, docs

storage: Remove usage of pydantic-settings
  base_versions.txt
  docs/api/pyatv.settings.html
  pyatv/protocols/mrp/protobuf/CommandInfo_pb2.pyi
  pyatv/protocols/mrp/protobuf/Common_pb2.pyi
  pyatv/protocols/mrp/protobuf/ContentItemMetadata_pb2.pyi
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/KeyboardMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/ModifyOutputContextRequestMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/Origin_pb2.pyi
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/RegisterForGameControllerEventsMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/SendCommandResultMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/SendPackedVirtualTouchEventMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/SetConnectionStateMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/SetRecordingStateMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/TextInputMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/VolumeControlAvailabilityMessage_pb2.pyi
  pyatv/settings.py
  requirements/requirements.txt
Due: library, docs

cq: Automatic code coverage
  .codecov.yml
Due: configs

storage: Use pydantic v1 compatibility
  base_versions.txt
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.html
  docs/pdoc_templates/html.mako
  pyatv/interface.py
  pyatv/settings.py
  pyatv/storage/__init__.py
  pyatv/storage/file_storage.py
  pyatv/support/__init__.py
  pyatv/support/pydantic_compat.py
  tests/support/test_support.py
  tests/test_storage_functional.py
Due: library, docs, tests

cq: Auto merge dependabot
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none

cq: Update auto-merge token
  .github/workflows/auto-merge.yml
Due: none

cq: Specify depdency_type to auto-merge
  .github/auto-merge.yml
Due: none

cq: Another attempt to fix update_type
  .github/auto-merge.yml
Due: none

Release 0.14.3
  CHANGES.md
  pyatv/const.py
Due: library, docs

cq: Try to fix auto-merge
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none

cq: New token for auto-merge
  .github/workflows/auto-merge.yml
Due: none

cq: New attempt with token
  .github/workflows/auto-merge.yml
Due: none

Wrap coroutines passed to asyncio.wait with create_tasks asyncio.wait does not support passing coroutines since python 3.11
  pyatv/scripts/atvscript.py
  pyatv/support/knock.py
Due: library

Release 0.14.4
  CHANGES.md
  pyatv/const.py
Due: library, docs

Changing the featured Homebridge plugin to a more recent and maintained one.
  docs/index.md
Due: docs

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
