Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

tweaks
  pyatv/core/scan.py
Due: library

tweak
  pyatv/core/scan.py
Due: library

reduce
  pyatv/core/scan.py
Due: library

lint
  pyatv/core/scan.py
Due: library

legacy
  pyatv/core/scan.py
Due: library

cover
  tests/core/test_scan.py
Due: tests

lint
  tests/core/test_scan.py
Due: tests

fix test
  tests/core/test_scan.py
Due: tests

perform
  pyatv/core/scan.py
Due: library

Fallback to sending unicast PTR queries when multicast is broken or packets are being dropped (#2122)
  pyatv/__init__.py
  pyatv/core/scan.py
  tests/core/test_scan.py
Due: library, tests

Release 0.13.4
  CHANGES.md
  docs/api/pyatv.html
  pyatv/const.py
Due: library, docs

Release 0.13.4 (#2127)
  CHANGES.md
  docs/api/pyatv.html
  pyatv/const.py
Due: library, docs

build(deps): Bump python from 3.9.7 to 3.11.4 in Dockerfile
  Dockerfile
Due: none

ci: Enable Dependabot for Dockerfile
  .github/dependabot.yml
Due: none

storage: Adjust scripts to use storage
  pyatv/scripts/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  tests/scripts/test_atvremote.py
Due: library, tests

docs: Add documentation for storage
  docs/_config.yml
  docs/_includes/api
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/core.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/api/pyatv/settings.html
  docs/api/pyatv/storage.html
  docs/api/pyatv/storage/file_storage.html
  docs/api/pyatv/storage/memory_storage.html
  docs/development/examples.md
  docs/development/listeners.md
  docs/development/scan_pair_and_connect.md
  docs/development/storage.md
  docs/documentation/atvremote.md
  docs/documentation/concepts.md
  docs/documentation/getting_started.md
  docs/documentation/supported_features.md
  docs/index.md
  docs/pdoc_templates/html.mako
  docs/support/troubleshooting.md
  tests/test_storage_functional.py
Due: docs, tests

storage: Fix tests on Windows
  docs/api/pyatv/settings.html
  tests/test_storage_functional.py
Due: docs, tests

storage: Bump mockfs to 1.1.4
  docs/api/pyatv/settings.html
  requirements/requirements_test.txt
  tests/conftest.py
Due: docs, tests

storage: Switch to pyfakefs for testing
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  docs/api/pyatv/settings.html
  requirements/requirements_test.txt
  tests/conftest.py
  tests/test_storage_functional.py
Due: docs, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
