Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

atvremote: Support manual RAOP config
  pyatv/scripts/atvremote.py
Due: library

docs: Update documentation for AirPlay and RAOP
  docs/development/airplay.md
  docs/documentation/protocols.md
  docs/index.md
Due: docs

raop: Fixes for python 3.6
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
Due: library

raop: Rewrite stream statistics
  pyatv/raop/raop.py
Due: library

raop: Add unit tests for packets
  tests/raop/test_packets.py
Due: tests

raop: Initial implementation of RAOP
  base_versions.txt
  pyatv/raop/__init__.py
  pyatv/raop/miniaudio.py
  pyatv/raop/packets.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  pyatv/raop/timing.py
  scripts/api.py
  tests/raop/test_rtsp.py
Due: library, docs, scripts, tests

raop: Add some additional debug logs
  pyatv/raop/raop.py
Due: library

raop: Add initial support for RAOP (#1060)
  base_versions.txt
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/interface.html
  docs/development/airplay.md
  docs/documentation/protocols.md
  docs/index.md
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/const.py
  pyatv/convert.py
  pyatv/interface.py
  pyatv/raop/__init__.py
  pyatv/raop/miniaudio.py
  pyatv/raop/packets.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  pyatv/raop/timing.py
  pyatv/scripts/atvremote.py
  pyatv/support/__init__.py
  pyatv/support/device_info.py
  pyatv/support/facade.py
  pyatv/support/scan.py
  scripts/api.py
  tests/fake_udns.py
  tests/raop/test_packets.py
  tests/raop/test_rtsp.py
  tests/support/test_device_info.py
  tests/support/test_scan.py
  tests/support/test_support.py
  tests/test_conf.py
  tests/test_convert.py
  tests/test_scan_functional.py
Due: library, docs, scripts, tests

raop: Respect receiver audio properties
  pyatv/raop/__init__.py
  pyatv/raop/miniaudio.py
  pyatv/raop/parsers.py
  pyatv/raop/raop.py
  tests/raop/test_parsers.py
Due: library, tests

if: Add audio interface
  docs/_config.yml
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/audio.md
  pyatv/const.py
  pyatv/interface.py
  pyatv/scripts/atvremote.py
  pyatv/support/facade.py
Due: library, docs

raop: Respect receiver audio properties (#1073)
  pyatv/raop/__init__.py
  pyatv/raop/miniaudio.py
  pyatv/raop/parsers.py
  pyatv/raop/raop.py
  tests/raop/test_parsers.py
Due: library, tests

if: Add audio interface (#1074)
  docs/_config.yml
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/audio.md
  pyatv/const.py
  pyatv/interface.py
  pyatv/scripts/atvremote.py
  pyatv/support/facade.py
Due: library, docs

raop: Use metadata from input file as metadata
  base_versions.txt
  docs/development/airplay.md
  pyatv/raop/__init__.py
  pyatv/raop/metadata.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library, docs

raop: Use metadata from input file as metadata (#1080)
  base_versions.txt
  docs/development/airplay.md
  pyatv/raop/__init__.py
  pyatv/raop/metadata.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library, docs

raop: Rename Metadata to AudioMetadata
  pyatv/raop/__init__.py
  pyatv/raop/metadata.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library

raop: Fix debug print bug
  pyatv/raop/raop.py
Due: library

raop: Add Metadata and PushUpdater interface
  docs/api/pyatv/interface.html
  docs/development/examples.md
  examples/stream.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
Due: library, examples, docs

raop: Implement Metadata and PushUpdater interface (#1084)
  docs/api/pyatv/interface.html
  docs/development/examples.md
  examples/stream.py
  pyatv/raop/__init__.py
  pyatv/raop/metadata.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library, examples, docs

docs: General uplift of documentation
  docs/_config.yml
  docs/_includes/issue
  docs/_layouts/template.html
  docs/assets/css/custom.css
  docs/assets/css/style.scss
  docs/development/airplay.md
  docs/development/audio.md
  docs/development/development.md
  docs/development/device_info.md
  docs/development/examples.md
  docs/development/features.md
  docs/development/logging.md
  docs/development/power_management.md
  docs/development/scan_pair_and_connect.md
  docs/documentation/atvlog.md
  docs/documentation/atvproxy.md
  docs/documentation/atvremote.md
  docs/documentation/atvscript.md
  docs/documentation/concepts.md
  docs/documentation/documentation.md
  docs/documentation/protocols.md
  docs/documentation/supported_features.md
  docs/documentation/workspace.code-workspace
  docs/getting_started.md
  docs/index.md
  docs/support/acknowledgements.md
  docs/support/faq.md
  docs/support/migration.md
  docs/support/scanning_issues.md
  docs/support/support.md
  docs/support/troubleshooting.md
  examples/play_url.py
Due: examples, docs

docs: General uplift of documentation (#1091)
  docs/_config.yml
  docs/_includes/issue
  docs/_layouts/template.html
  docs/assets/css/custom.css
  docs/assets/css/style.scss
  docs/development/airplay.md
  docs/development/audio.md
  docs/development/development.md
  docs/development/device_info.md
  docs/development/examples.md
  docs/development/features.md
  docs/development/logging.md
  docs/development/power_management.md
  docs/development/scan_pair_and_connect.md
  docs/documentation/atvlog.md
  docs/documentation/atvproxy.md
  docs/documentation/atvremote.md
  docs/documentation/atvscript.md
  docs/documentation/concepts.md
  docs/documentation/documentation.md
  docs/documentation/protocols.md
  docs/documentation/supported_features.md
  docs/documentation/workspace.code-workspace
  docs/getting_started.md
  docs/index.md
  docs/support/acknowledgements.md
  docs/support/faq.md
  docs/support/migration.md
  docs/support/scanning_issues.md
  docs/support/support.md
  docs/support/troubleshooting.md
  examples/play_url.py
Due: examples, docs

docs: Update README.md
  README.md
Due: docs

docs: Update README.md (#1092)
  README.md
Due: docs

env: Update black config
  pyproject.toml
Due: none

tests: Support multiple addresses in MDNS
  tests/fake_udns.py
  tests/scripts/script_env.py
  tests/support/dns_utils.py
  tests/support/test_mdns.py
  tests/support/test_mdns_functional.py
  tests/test_scan_functional.py
Due: tests

mdns: Ignore link-local addresses
  pyatv/support/mdns.py
  tests/support/test_mdns.py
Due: library, tests

mdns: Ignore link-local addresses when scanning (#1095)
  pyatv/support/mdns.py
  tests/fake_udns.py
  tests/scripts/script_env.py
  tests/support/dns_utils.py
  tests/support/test_mdns.py
  tests/support/test_mdns_functional.py
  tests/test_scan_functional.py
Due: library, tests

conf: Handle properties being convertde to lowcase
  pyatv/conf.py
  tests/support/test_mdns.py
  tests/test_conf.py
Due: library, tests

conf: Add detection of AirPort OS
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/const.py
  pyatv/interface.py
  pyatv/support/device_info.py
  tests/test_conf.py
  tests/test_interface.py
Due: library, docs, tests

scan: Extract MAC and version for AirPort Express
  docs/api/pyatv/conf.html
  pyatv/conf.py
  pyatv/support/device_info.py
  pyatv/support/scan.py
  tests/test_conf.py
Due: library, docs, tests

raop: Raise exception on RTSP error code
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library

raop: Add support for AirPort Express
  docs/documentation/protocols.md
  docs/documentation/supported_features.md
  pyatv/raop/parsers.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  tests/raop/test_parsers.py
  tests/raop/test_rtsp.py
Due: library, docs, tests

conf: Add device info for AirPort Express (#1096)
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/const.py
  pyatv/interface.py
  pyatv/support/device_info.py
  pyatv/support/scan.py
  tests/support/test_mdns.py
  tests/test_conf.py
  tests/test_interface.py
Due: library, docs, tests

raop: Raise exception on RTSP error code (#1097)
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library

raop: Add support for AirPort Express (#1098)
  docs/documentation/protocols.md
  docs/documentation/supported_features.md
  pyatv/raop/parsers.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  tests/raop/test_parsers.py
  tests/raop/test_rtsp.py
Due: library, docs, tests

raop: Support retransmission of lost packets
  docs/documentation/supported_features.md
  pyatv/raop/fifo.py
  pyatv/raop/packets.py
  pyatv/raop/raop.py
  tests/raop/test_fifo.py
Due: library, docs, tests

raop: Support retransmission of lost packets (#1099)
  docs/documentation/supported_features.md
  pyatv/raop/fifo.py
  pyatv/raop/packets.py
  pyatv/raop/raop.py
  tests/raop/test_fifo.py
Due: library, docs, tests

raop: Set correct progress in metadata
  pyatv/raop/miniaudio.py
  pyatv/raop/raop.py
Due: library

raop: Set correct progress in metadata (#1100)
  pyatv/raop/miniaudio.py
  pyatv/raop/raop.py
Due: library

companion: Add support for turn_on and turn_off
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/support/facade.py
  tests/companion/test_companion_functional.py
  tests/fake_device/companion.py
  tests/support/test_facade.py
Due: library, docs, tests

mrp: Do not deep copy protobuf messages
  pyatv/mrp/player_state.py
Due: library
