Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

doc: Add mermaid to support diagrams (#1014)
  docs/_layouts/template.html
  docs/assets/js/mermaid.8.9.2.min.js
  docs/assets/js/mermaid.min.js.map
Due: docs

scripts: Add module to log output
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
Due: library

scripts: Add module to log output (#1017)
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
Due: library

atvremote: Support companion credentials
  pyatv/scripts/atvremote.py
Due: library

companion: Add stub for pairing
  docs/api/pyatv.html
  docs/api/pyatv/companion.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/companion/__init__.py
  pyatv/companion/pairing.py
  pyatv/conf.py
  pyatv/const.py
  pyatv/convert.py
  pyatv/scripts/__init__.py
  pyatv/support/mdns.py
  pyatv/support/scan.py
  scripts/api.py
  tests/fake_udns.py
  tests/support/test_scan.py
  tests/test_conf.py
  tests/test_convert.py
  tests/test_scan_functional.py
Due: library, docs, scripts, tests

companion: Add OPACK module
  pyatv/companion/opack.py
  tests/companion/test_opack.py
Due: library, tests

companion: Add support for pairing
  docs/assets/css/pdoc.css
  docs/documentation/protocols.md
  pyatv/companion/__init__.py
  pyatv/companion/auth.py
  pyatv/companion/connection.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  pyatv/companion/srp.py
Due: library, docs

opack: Change endianness to little
  docs/documentation/protocols.md
  pyatv/companion/opack.py
  tests/companion/test_opack.py
Due: library, docs, tests

opack: Add support for additional types
  docs/documentation/protocols.md
  pyatv/companion/opack.py
  tests/companion/test_opack.py
Due: library, docs, tests

companion: Initial support for Companion
  pyatv/companion/__init__.py
  pyatv/companion/auth.py
  pyatv/companion/connection.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  pyatv/companion/srp.py
  pyatv/mrp/chacha20.py
Due: library

companion: Update protocol documentation
  docs/documentation/protocols.md
Due: docs

support: Move chacha20 to support
  pyatv/companion/connection.py
  pyatv/companion/server_auth.py
  pyatv/companion/srp.py
  pyatv/mrp/connection.py
  pyatv/mrp/server_auth.py
  pyatv/mrp/srp.py
  pyatv/scripts/atvproxy.py
  pyatv/support/chacha20.py
  tests/fake_device/mrp.py
Due: library, tests

support: Consolidate SRP for HAP implementations
  pyatv/companion/__init__.py
  pyatv/companion/auth.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  pyatv/companion/server_auth.py
  pyatv/companion/srp.py
  pyatv/mrp/__init__.py
  pyatv/mrp/auth.py
  pyatv/mrp/pairing.py
  pyatv/mrp/protocol.py
  pyatv/mrp/server_auth.py
  pyatv/scripts/atvproxy.py
  pyatv/support/hap_srp.py
  pyatv/support/mdns.py
  tests/mrp/test_protocol.py
Due: library, tests

atvproxy: Initial support for Companion
  docs/documentation/atvproxy.md
  pyatv/companion/auth.py
  pyatv/companion/connection.py
  pyatv/companion/server_auth.py
  pyatv/scripts/atvproxy.py
Due: library, docs

mrp: Lift changes from server_auth in Companion
  pyatv/companion/server_auth.py
  pyatv/mrp/server_auth.py
  pyatv/scripts/atvproxy.py
  tests/fake_device/mrp.py
Due: library, tests

atvproxy: Tidy up MRP code
  pyatv/scripts/atvproxy.py
Due: library

docs: Remove internal Companion documentation
  docs/api/pyatv/companion.html
Due: docs

cq: Fix minor code issues
  pyatv/companion/auth.py
  pyatv/companion/server_auth.py
  pyatv/scripts/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/support/hap_tlv8.py
  pyatv/support/scan.py
  tests/fake_device/mrp.py
Due: library, tests

knock: Suppress CancelledError exception
  pyatv/support/knock.py
Due: library

knock: Suppress CancelledError exception (#1023)
  pyatv/support/knock.py
Due: library

cq: Minor clean up of exceptions
  docs/api/pyatv/exceptions.html
  pyatv/airplay/srp.py
  pyatv/companion/__init__.py
  pyatv/companion/auth.py
  pyatv/companion/protocol.py
  pyatv/exceptions.py
  pyatv/mrp/auth.py
  pyatv/mrp/variant.py
  pyatv/support/mdns.py
Due: library, docs

companion: Better exceptions for SRP errors
  pyatv/companion/auth.py
Due: library

if: Add Apps interface to Companion
  docs/_config.yml
  docs/api/pyatv.html
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/apps.md
  docs/development/device_info.md
  docs/index.md
  docs/support/acknowledgements.md
  pyatv/__init__.py
  pyatv/companion/__init__.py
  pyatv/companion/protocol.py
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/scripts/atvremote.py
Due: library, docs

devinfo: Add tvOS 14.4 build number
  pyatv/support/device_info.py
Due: library

if: Add Apps interface to Companion (#1022)
  docs/_config.yml
  docs/api/pyatv.html
  docs/api/pyatv/const.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/interface.html
  docs/development/apps.md
  docs/development/device_info.md
  docs/index.md
  docs/support/acknowledgements.md
  pyatv/__init__.py
  pyatv/airplay/srp.py
  pyatv/companion/__init__.py
  pyatv/companion/auth.py
  pyatv/companion/protocol.py
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/exceptions.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/auth.py
  pyatv/mrp/variant.py
  pyatv/scripts/atvremote.py
  pyatv/support/device_info.py
  pyatv/support/mdns.py
Due: library, docs

if: Add equality to App interface
  docs/api/pyatv/interface.html
  pyatv/interface.py
  tests/test_interface.py
Due: library, docs, tests

companion: Add basic fake device
  tests/fake_device/__init__.py
  tests/fake_device/companion.py
  tests/fake_device/mrp.py
Due: tests

companion: Add initial functional tests
  pyatv/companion/connection.py
  pyatv/companion/server_auth.py
  tests/companion/test_companion_functional.py
Due: library, tests

scripts: Add Companion to fake_device.py
  scripts/fake_device.py
Due: scripts

Fake device and tests for Companion (#1025)
  docs/api/pyatv/interface.html
  pyatv/companion/connection.py
  pyatv/companion/server_auth.py
  pyatv/interface.py
  scripts/fake_device.py
  tests/companion/test_companion_functional.py
  tests/fake_device/__init__.py
  tests/fake_device/companion.py
  tests/fake_device/mrp.py
  tests/test_interface.py
Due: library, docs, scripts, tests

env: Add GitPod configuration
  .gitpod.yml
  scripts/setup_dev_env.sh
Due: configs, scripts

env: Remove documentation tab from GitPod for now
  .gitpod.yml
  README.md
Due: configs, docs

env: Remove documentation tab from GitPod for now (#1028)
  .gitpod.yml
  README.md
Due: configs, docs

env: Various updats to environment and GitPod
  .gitignore
  .gitpod.yml
  README.md
  scripts/build_docs.sh
  scripts/setup_dev_env.sh
Due: configs, docs, scripts

docs: Clarify AAD for encryption in Companion
  docs/documentation/protocols.md
Due: docs

env: Various updats to environment and GitPod (#1029)
  .gitignore
  .gitpod.yml
  README.md
  scripts/build_docs.sh
  scripts/setup_dev_env.sh
Due: configs, docs, scripts

docs: Clarify AAD for encryption in Companion (#1030)
  docs/documentation/protocols.md
Due: docs
