Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

core: Move device_info to core
  pyatv/core/device_info.py
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/support/scan.py
  tests/core/test_device_info.py
  tests/protocols/mrp/test_mrp.py
Due: library, tests

core: Move protocol details to protocols module
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/protocols/__init__.py
Due: library, docs

core: Move scan to core
  pyatv/__init__.py
  pyatv/core/scan.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/core/test_scan.py
Due: library, tests

core: Move mdns to core
  pyatv/core/mdns.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/support/scan.py
  scripts/fake_device.py
  tests/core/test_mdns.py
  tests/core/test_mdns_functional.py
  tests/fake_udns.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/companion/test_companion.py
  tests/protocols/dmap/test_dmap.py
  tests/protocols/mrp/test_mrp.py
  tests/protocols/raop/test_raop.py
  tests/support/dns_utils.py
  tests/support/test_scan.py
Due: library, scripts, tests

core: Move facade to core
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/core/facade.py
  tests/core/test_facade.py
Due: library, docs, tests

core: Move raop to protocols
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/audio_source.py
  pyatv/protocols/raop/fifo.py
  pyatv/protocols/raop/packets.py
  pyatv/protocols/raop/parsers.py
  pyatv/protocols/raop/raop.py
  pyatv/protocols/raop/timing.py
  tests/fake_device/raop.py
  tests/protocols/raop/conftest.py
  tests/protocols/raop/test_fifo.py
  tests/protocols/raop/test_parsers.py
  tests/protocols/raop/test_raop.py
  tests/protocols/raop/test_raop_functional.py
  tests/protocols/raop/test_raop_scan.py
Due: library, docs, tests

core: Move net to core
  pyatv/core/mdns.py
  pyatv/core/net.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/mrp/connection.py
  pyatv/scripts/atvproxy.py
  pyatv/support/http.py
  tests/conftest.py
  tests/core/test_mdns.py
  tests/core/test_mdns_functional.py
  tests/core/test_net.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/support/test_knock.py
Due: library, tests

core: Move dmap to protocols
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/dmap/daap.py
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/dmap/parser.py
  pyatv/protocols/dmap/tag_definitions.py
  pyatv/protocols/dmap/tags.py
  pyatv/support/rtsp.py
  scripts/api.py
  tests/fake_device/dmap.py
  tests/fake_device/raop.py
  tests/protocols/dmap/test_daap.py
  tests/protocols/dmap/test_dmap.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/dmap/test_dmap_pairing.py
  tests/protocols/dmap/test_dmap_scan.py
  tests/protocols/dmap/test_parser.py
Due: library, docs, scripts, tests

core: Move facade to core
  pyatv/core/facade.py
  pyatv/core/relayer.py
  tests/core/test_relayer.py
Due: library, tests

core: Move companion to protocols
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/auth.py
  pyatv/protocols/companion/connection.py
  pyatv/protocols/companion/opack.py
  pyatv/protocols/companion/pairing.py
  pyatv/protocols/companion/protocol.py
  pyatv/protocols/companion/server_auth.py
  pyatv/scripts/atvproxy.py
  scripts/api.py
  tests/fake_device/companion.py
  tests/protocols/companion/conftest.py
  tests/protocols/companion/test_companion.py
  tests/protocols/companion/test_companion_auth.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/companion/test_companion_scan.py
  tests/protocols/companion/test_opack.py
Due: library, docs, scripts, tests

core: Move airplay to protocols
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/auth/__init__.py
  pyatv/protocols/airplay/auth/hap.py
  pyatv/protocols/airplay/auth/hap_transient.py
  pyatv/protocols/airplay/auth/legacy.py
  pyatv/protocols/airplay/channels.py
  pyatv/protocols/airplay/features.py
  pyatv/protocols/airplay/mrp_connection.py
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/airplay/player.py
  pyatv/protocols/airplay/remote_control.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/protocols/airplay/srp.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/scripts/atvremote.py
  scripts/api.py
  tests/conftest.py
  tests/dmap/test_dmap.py
  tests/protocols/airplay/auth/test_airplay_legacy_auth.py
  tests/protocols/airplay/auth/test_auth.py
  tests/protocols/airplay/conftest.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/airplay/test_airplay_pair.py
  tests/protocols/airplay/test_airplay_player.py
  tests/protocols/airplay/test_airplay_scan.py
  tests/protocols/airplay/test_features.py
Due: library, docs, scripts, tests

if: Keep position within limits
  docs/api/pyatv/interface.html
  pyatv/interface.py
  tests/test_interface.py
Due: library, docs, tests

docs: Various minor updates
  README.md
  docs/api/pyatv/interface.html
  docs/documentation/documentation.md
  docs/documentation/supported_features.md
  docs/index.md
  docs/internals/design.md
  pyatv/interface.py
Due: library, docs

gha: Add workflow_dispatch: to tests workflow
  .github/workflows/tests.yml
Due: none

gha: Cache the .tox directory
  .github/workflows/tests.yml
  requirements_test.txt
  setup.py
  tox.ini
Due: docs

mrp: Update some MRP protobuf messages
  pyatv/protocols/mrp/protobuf/KeyboardMessage.proto
  pyatv/protocols/mrp/protobuf/KeyboardMessage_pb2.py
  pyatv/protocols/mrp/protobuf/KeyboardMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/SendCommandResultMessage.proto
  pyatv/protocols/mrp/protobuf/SendCommandResultMessage_pb2.py
  pyatv/protocols/mrp/protobuf/SendCommandResultMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/VolumeControlAvailabilityMessage.proto
  pyatv/protocols/mrp/protobuf/VolumeControlAvailabilityMessage_pb2.py
  pyatv/protocols/mrp/protobuf/VolumeControlAvailabilityMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/VolumeControlCapabilitiesDidChangeMessage.proto
  pyatv/protocols/mrp/protobuf/VolumeControlCapabilitiesDidChangeMessage_pb2.py
  pyatv/protocols/mrp/protobuf/VolumeControlCapabilitiesDidChangeMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
Due: library

mrp: Add support for Audio interface
  docs/api/pyatv/interface.html
  docs/documentation/supported_features.md
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/messages.py
  pyatv/protocols/mrp/player_state.py
  pyatv/scripts/atvremote.py
  tests/common_functional_tests.py
  tests/fake_device/mrp.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_mrp_interface.py
  tests/protocols/mrp/test_player_state.py
Due: library, docs, tests

env: Add work to .gitgnore
  .gitignore
Due: configs

if: Add volume_up and volume_down to Audio
  docs/api/pyatv/interface.html
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/scripts/atvremote.py
  pylintrc
  tests/common_functional_tests.py
  tests/fake_device/mrp.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_mrp_interface.py
  tests/protocols/raop/test_raop_functional.py
  tox.ini
Due: library, docs, tests

airplay: Base play_url availability on properties
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/auth/__init__.py
  pyatv/protocols/airplay/features.py
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/raop/__init__.py
  tests/common_functional_tests.py
  tests/protocols/airplay/test_airplay_interface.py
  tests/protocols/airplay/test_features.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, tests

facade: Verify support in play_url
  pyatv/core/facade.py
  tests/conftest.py
  tests/core/test_facade.py
  tests/fake_udns.py
Due: library, tests

docs: Minor updates
  README.md
  docs/documentation/documentation.md
  docs/documentation/supported_features.md
  docs/index.md
Due: docs

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
