Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Release 0.7.1
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

release: Add updates docs to commit
  scripts/release.py
Due: scripts

mdns: Add support for authority records
  pyatv/support/mdns.py
  tests/support/dns_utils.py
  tests/support/test_mdns.py
Due: library, tests

mrp: Require no ACK for HID messages
  pyatv/mrp/__init__.py
  tests/mrp/test_mrp_functional.py
  tests/utils.py
Due: library, tests

scan: Abort when device with identifier found
  docs/api/pyatv.html
  docs/support/faq.md
  pyatv/__init__.py
  pyatv/support/mdns.py
  pyatv/support/scan.py
  tests/support/test_mdns_functional.py
  tests/support/test_scan.py
Due: library, docs, tests

Release 0.7.2
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

deps: Lower zeroconf requirement to 0.28.0
  base_versions.txt
Due: docs

net: Change accidental info to debug log
  pyatv/support/net.py
Due: library

gha: Bump codecov to 1.0.13
  .github/workflows/tests.yml
Due: none

mdns: Bind to port 5353 instead of random port
  pyatv/support/mdns.py
Due: library

mrp: Don't use deprecated home_hold internally
  pyatv/mrp/__init__.py
Due: library

mrp: Ack client updates messages
  pyatv/mrp/messages.py
  pyatv/mrp/protocol.py
  tests/fake_device/mrp.py
Due: library, tests

mdns: Supress decoding errors
  pyatv/support/mdns.py
Due: library

Release 0.7.3
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

cq: Minor clean ups and fixes
  pyatv/support/__init__.py
  pyatv/support/knock.py
  pyatv/support/mdns.py
  tests/support/test_mdns_functional.py
Due: library, tests

mrp: Verify credentials after pairing
  pyatv/mrp/pairing.py
  tests/mrp/test_mrp_auth.py
Due: library, tests

Release 0.7.4
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

Update setup.py, extend exclude mask
  setup.py
Due: none

update MANIFEST.in, add missing file
  MANIFEST.in
Due: none

gha: Fix python 3.9 and use env files
  .github/workflows/tests.yml
Due: none
