Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

scan: Get device model from mdns
  docs/api/pyatv/conf.html
  pyatv/conf.py
  pyatv/support/device_info.py
  pyatv/support/mdns.py
  pyatv/support/scan.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_mdns.py
  tests/test_conf.py
  tests/test_scan_functional.py
Due: library, docs, tests

scan: Migrate back to zeroconf from aiozeroconf
  base_versions.txt
  docs/development/scan_pair_and_connect.md
  docs/documentation/documentation.md
  docs/support/scanning_issues.md
  pyatv/dmap/pairing.py
  pyatv/scripts/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/support/mdns.py
  scripts/fake_device.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_pairing.py
  tests/fake_device/dmap.py
  tests/zeroconf_stub.py
Due: library, docs, scripts, tests

dmap: Fix pairing endpoint bug
  pyatv/dmap/pairing.py
  tests/dmap/test_pairing.py
  tests/fake_device/dmap.py
Due: library, tests

mrp: Potential fix for protocol hangs
  pyatv/mrp/messages.py
Due: library

cq: Minor clean ups
  success
  tests/dmap/test_dmap_pair.py
  tests/dmap/test_dmap_pairing.py
Due: tests

Release 0.7.0
  CHANGES.md
  docs/support/migration.md
  pyatv/const.py
Due: library, docs

Release 0.7.0
  CHANGES.md
  docs/api/pyatv/const.html
  docs/support/migration.md
  pyatv/const.py
Due: library, docs

Resolve performance slowdown with copying playing data
  pyatv/mrp/__init__.py
Due: library

api: Print diff when API docs mismatch
  scripts/api.py
Due: scripts

api: Convert Union[x, NoneType] to Optional[x]
  docs/api/pyatv/conf.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/pdoc_templates/html.mako
Due: docs

gha: Run tests with python 3.9
  .github/workflows/tests.yml
  setup.py
  tox.ini
Due: none

scan: Remove check if host is on any local subnet
  docs/api/pyatv/exceptions.html
  docs/documentation/concepts.md
  docs/support/migration.md
  pyatv/exceptions.py
  pyatv/support/mdns.py
  tests/support/test_mdns.py
Due: library, docs, tests

support: Add level to log_binary
  pyatv/support/__init__.py
  tests/support/test_support.py
Due: library, tests

mdns: Fix multicast issues
  pyatv/scripts/atvremote.py
  pyatv/support/mdns.py
  pyatv/support/net.py
  tests/fake_udns.py
  tests/support/test_mdns.py
Due: library, tests

mdns: Extract functional tests
  pyatv/support/net.py
  tests/support/test_mdns.py
  tests/support/test_mdns_functional.py
Due: library, tests

mdns: Fixes to make tests more stable
  pyatv/support/mdns.py
  tests/support/test_mdns_functional.py
Due: library, tests

conf: Convert tests to pytest
  tests/test_conf.py
Due: tests

scan: Fix DMAP identifier when name collides
  docs/api/pyatv/conf.html
  pyatv/conf.py
  tests/dmap/test_dmap_functional.py
  tests/scripts/script_env.py
  tests/test_conf.py
Due: library, docs, tests

gha: Retry tox if first run fails
  .github/workflows/tests.yml
Due: none

tvOS 14 Play Status Support, HID Button Press Support, Migrate Play/Pause to HID
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
Due: library

Generate Docs
  docs/api/pyatv/interface.html
Due: docs

release: Add updates docs to commit
  scripts/release.py
Due: scripts

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
