Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

Artwork_save file naming.
  pyatv/scripts/atvremote.py
Due: library

Redirecting to correct page
  docs/documentation/getting_started.md
Due: docs

move opack.py into pyatv/support
  pyatv/auth/hap_srp.py
  pyatv/protocols/companion/protocol.py
  pyatv/protocols/companion/server_auth.py
  pyatv/scripts/atvproxy.py
  pyatv/support/opack.py
  tests/fake_device/companion.py
  tests/support/test_opack.py
Due: library, tests

readable paired device names for airplay and companion protocols
  pyatv/auth/hap_pairing.py
  pyatv/auth/hap_srp.py
  pyatv/protocols/airplay/auth/hap.py
  pyatv/protocols/airplay/auth/legacy.py
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/companion/auth.py
  pyatv/protocols/companion/pairing.py
  pyatv/protocols/mrp/auth.py
  pyatv/protocols/mrp/pairing.py
  pyatv/scripts/atvremote.py
  tests/protocols/airplay/auth/test_airplay_legacy_auth.py
Due: library, tests

added support for companion protocol account switching
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvremote.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

Change http timeout which appears to fix OS16.4 stream_file issues
  pyatv/support/http.py
Due: library

Fix Pause Button labelled as play
  pyatv/interface.py
Due: library

Update changes, Update patch to 4
  CHANGES.md
  pyatv/const.py
Due: library, docs

fix missing artwork
  pyatv/protocols/mrp/__init__.py
Due: library

http: Increase timeout for http requests
  pyatv/support/http.py
Due: library

test: Fix strict mode in pytest_asyncio
  docs/api/pyatv.html
  tests/conftest.py
  tests/core/test_facade.py
  tests/core/test_mdns_functional.py
  tests/core/test_protocol.py
  tests/protocols/airplay/conftest.py
  tests/protocols/companion/conftest.py
  tests/protocols/dmap/test_dmap_pairing.py
  tests/protocols/mrp/test_protocol.py
  tests/protocols/raop/conftest.py
  tests/protocols/raop/test_raop_functional.py
Due: docs, tests

deps: Remove codecov as test dependency
  requirements/requirements_test.txt
Due: none

add tests for hosted artwork
  tests/fake_device/mrp.py
  tests/protocols/mrp/test_mrp_functional.py
Due: tests

reuse client session from Core
  pyatv/protocols/mrp/__init__.py
Due: library

gha: Run tests with python 3.11
  .github/workflows/tests.yml
  setup.py
Due: none

deps: Bump aiohttp to at least 3.8.3
  base_versions.txt
  requirements/requirements.txt
Due: docs

deps: Fix mypy issues from upgrade
  docs/api/pyatv.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/helpers.html
  pyatv/__init__.py
  pyatv/auth/hap_pairing.py
  pyatv/auth/hap_srp.py
  pyatv/auth/hap_tlv8.py
  pyatv/core/protocol.py
  pyatv/core/relayer.py
  pyatv/exceptions.py
  pyatv/helpers.py
  pyatv/protocols/airplay/auth/__init__.py
  pyatv/protocols/airplay/auth/hap.py
  pyatv/protocols/airplay/auth/hap_transient.py
  pyatv/protocols/airplay/mrp_connection.py
  pyatv/protocols/airplay/remote_control.py
  pyatv/protocols/companion/auth.py
  pyatv/support/collections.py
  pyatv/support/dns.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
  tests/scripts/test_atvremote.py
Due: library, docs, tests

deps: Fix pylint issues in new release
  pyatv/__init__.py
  pyatv/core/facade.py
  pyatv/core/mdns.py
  pyatv/helpers.py
  pyatv/interface.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/mrp/protocol.py
  pyatv/protocols/raop/audio_source.py
  pyatv/protocols/raop/parsers.py
  pyatv/protocols/raop/raop.py
  pyatv/scripts/atvproxy.py
  pylintrc
  scripts/audiogen.py
  scripts/protobuf.py
  scripts/version.py
Due: library, scripts

atvscript: Check app support before printing
  pyatv/scripts/atvscript.py
Due: library

cq: Fix warnings and various issues
  chickn.yaml
  docs/api/pyatv.html
  docs/api/pyatv/helpers.html
  tests/common_functional_tests.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/airplay/test_utils.py
  tests/protocols/companion/test_companion.py
  tests/protocols/companion/test_companion_auth.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/dmap/test_dmap.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/mrp/test_mrp.py
  tests/protocols/mrp/test_mrp_auth.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_mrp_interface.py
  tests/protocols/raop/test_raop.py
  tests/scripts/test_atvremote.py
  tests/scripts/test_atvscript.py
  tests/support/test_collections.py
  tests/support/test_http.py
  tests/support/test_support.py
Due: docs, tests

deps: Deprecate python 3.7
  .github/workflows/tests.yml
  setup.py
Due: none

deps: Fix flake8 issues
  pyatv/interface.py
  pyatv/protocols/dmap/__init__.py
Due: library

deps: Fix new black issues
  pyatv/helpers.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/dmap/daap.py
  pyatv/protocols/mrp/server_auth.py
  pyatv/scripts/atvremote.py
  tests/core/test_facade.py
  tests/test_interface.py
  tests/utils.py
Due: library, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
