Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

lint
  tests/core/test_scan.py
Due: tests

timeout likely too low
  tests/core/test_scan.py
Due: tests

logging since cannot repro locally
  pyatv/core/scan.py
  tests/core/test_scan.py
Due: library, tests

logging since cannot repro locally
  pyatv/core/scan.py
Due: library

fixes
  pyatv/core/scan.py
  pyatv/helpers.py
  tests/core/test_scan.py
  tests/test_helpers.py
Due: library, tests

tweaks
  pyatv/core/scan.py
Due: library

coverage
  tests/core/test_scan.py
Due: tests

s/async_zeroconf/aiozc/g
  pyatv/__init__.py
  tests/core/test_scan.py
Due: library, tests

drop helpers
  pyatv/core/scan.py
Due: library

rename
  pyatv/core/scan.py
Due: library

s/def _async/def /g
  pyatv/core/scan.py
  tests/core/test_scan.py
Due: library, tests

deps: Deprecate python 3.6
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/tests.yml
  docs/documentation/documentation.md
  setup.py
Due: docs

fix
  pyatv/core/scan.py
  tests/core/test_scan.py
Due: library, tests

s/atv_service/dev_service/g
  pyatv/core/scan.py
Due: library

s/atv_type/service_type/g
  pyatv/core/scan.py
Due: library

simplify
  pyatv/core/scan.py
Due: library

lint
  pyatv/core/scan.py
  pyatv/helpers.py
  tests/core/test_scan.py
Due: library, tests

prune
  tests/core/test_scan.py
  tests/test_helpers.py
Due: tests

prune
  tests/core/test_scan.py
Due: tests

move device info name from short name into protocol modules
  pyatv/core/scan.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/core/test_scan.py
Due: library, tests

lint
  pyatv/core/scan.py
  tests/core/test_scan.py
Due: library, tests

prune
  pyatv/core/scan.py
Due: library

typing
  pyatv/core/scan.py
Due: library

lint
  pyatv/core/scan.py
Due: library

coverage
  tests/protocols/airplay/test_airplay.py
  tests/protocols/companion/test_companion.py
  tests/protocols/dmap/test_dmap.py
  tests/protocols/mrp/test_mrp.py
  tests/protocols/raop/test_raop.py
Due: tests

Update pyatv/core/scan.py
  pyatv/core/scan.py
Due: library

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
