Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Clean up tox and move from coveralls to codecov
  .codecov.yml
  .travis.yml
  README.md
  pyatv/__main__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/srp.py
  requirements_test.txt
  scripts/setup_dev_env.sh
  tox.ini
Due: library, configs, docs, scripts

Support for scanning specific hosts
  docs/_config.yml
  docs/development/scan_pair_and_connect.md
  docs/documentation/atvremote.md
  docs/documentation/concepts.md
  docs/support/scanning_issues.md
  docs/support/troubleshooting.md
  pyatv/__init__.py
  pyatv/__main__.py
  pyatv/udns.py
  tests/fake_udns.py
  tests/test_atvremote.py
  tests/test_scan.py
  tests/test_udns.py
Due: library, docs, tests

Minor bug fixes
  pyatv/__init__.py
  pyatv/mrp/player_state.py
  pyatv/udns.py
Due: library

Release 0.4.0a11
  CHANGES.rst
  docs/_config.yml
  pyatv/const.py
Due: library, docs

Handle NaN durations in MRP
  pyatv/mrp/__init__.py
Due: library

Set unicast bit in qtype field
  pyatv/udns.py
  tests/test_udns.py
Due: library, tests

Avoid closing external aiohttp session in MRP
  pyatv/mrp/__init__.py
Due: library

Release resources when closing in DMAP pairing
  pyatv/dmap/pairing.py
  tests/dmap/test_pairing.py
Due: library, tests

Initial clean-up of pairing and auth exceptions
  docs/development/scan_pair_and_connect.md
  pyatv/__init__.py
  pyatv/__main__.py
  pyatv/airplay/auth.py
  pyatv/airplay/pairing.py
  pyatv/airplay/srp.py
  pyatv/convert.py
  pyatv/exceptions.py
  pyatv/mrp/chacha20.py
  pyatv/mrp/pairing.py
  pyatv/mrp/srp.py
  pylintrc
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/test_convert.py
Due: library, docs, tests

Add temporary test for credentials in atvremote
  pyatv/__main__.py
  pyatv/mrp/protocol.py
  pyatv/mrp/srp.py
  tests/mrp/fake_mrp_atv.py
  tests/test_atvremote.py
Due: library, tests

Some updates to the MRP proxy
  pyatv/mrp/messages.py
  scripts/proxy.py
Due: library, scripts

Add som AirPlay troubleshooting docs
  docs/support/troubleshooting.md
Due: docs

Release 0.4.0a12
  CHANGES.rst
  docs/_config.yml
  pyatv/const.py
  scripts/release.py
Due: library, docs, scripts

Re-raise OSError during AirPlay pairing on errors
  pyatv/airplay/pairing.py
Due: library

Update troubleshooting.md
  docs/support/troubleshooting.md
Due: docs

Move more functional tests to common
  pyatv/__main__.py
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  pylintrc
  tests/common_functional_tests.py
  tests/dmap/fake_dmap_atv.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Migrate last common functional tests
  pyatv/__init__.py
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/fake_mrp_atv.py
  tests/utils.py
Due: library, tests

Use pytest-xdist in tox
  requirements_test.txt
  setup.py
  tox.ini
Due: docs

Unicast scanning does not work between networks
  docs/documentation/concepts.md
  docs/support/scanning_issues.md
Due: docs

Extract SRP server code in proxy
  scripts/proxy.py
Due: scripts

Add tests for MRP authentication
  scripts/proxy.py
  tests/airplay/fake_airplay_device.py
  tests/dmap/test_dmap_pair.py
  tests/mrp/__init__.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/mrp_server_auth.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/test_atvremote.py
Due: scripts, tests
