Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Some fixes after code review.
  pyatv/__main__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library

Forgot to remove some test var. :)
  pyatv/mrp/__init__.py
Due: library

implementation of power listener + more fixes
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library

if: Tidy up convert module and make it public
  docs/development/api_reference.md
  pyatv/convert.py
  pyatv/dmap/__init__.py
  pyatv/dmap/daap.py
  pyatv/interface.py
  tests/dmap/test_daap.py
  tests/test_convert.py
  tests/test_interface.py
Due: library, docs, tests

fixes after code review
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library

more fixes.
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library

forgot to remove await
  pyatv/mrp/__init__.py
Due: library

Add Power State to DMAP + Fix tox issues
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library

Change turn on and turn off
  pyatv/mrp/__init__.py
Due: library

Revert "Change turn on and turn off"
  pyatv/mrp/__init__.py
Due: library

Fix DMAP
  pyatv/dmap/__init__.py
Due: library

DMAP Power State tests are added
  tests/dmap/test_dmap_functional.py
Due: tests

Updating documentation.
  docs/development/listeners.md
  docs/documentation/atvremote.md
Due: docs

More docs updates
  docs/_config.yml
  docs/development/control.md
  docs/development/power_management.md
Due: docs

filter listener from commands
  pyatv/interface.py
Due: library

make lint happy :)
  pyatv/interface.py
Due: library

Added MRP Power State tests - part 1
  pyatv/mrp/messages.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Added MRP Power State tests - part 2
  tests/mrp/test_mrp_functional.py
Due: tests

MRP Power State tests - update 1
  tests/mrp/test_mrp_functional.py
Due: tests

MRP Power State tests - update 2
  tests/mrp/test_mrp_functional.py
Due: tests

Change turn_on logic to WakeDevice.
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
Due: library

Update docs
  docs/development/listeners.md
  docs/development/power_management.md
  docs/index.md
Due: docs

MRP Power State tests - update 3
  pyatv/mrp/messages.py
  tests/mrp/fake_mrp_atv.py
Due: library, tests

MRP Power State support (#458)
  docs/_config.yml
  docs/development/control.md
  docs/development/listeners.md
  docs/development/power_management.md
  docs/documentation/atvremote.md
  docs/index.md
  pyatv/__main__.py
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  pyatv/mrp/protocol.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: library, docs, tests

if: Add interface for device information
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/test_interface.py
Due: library, tests

devinfo: Add helpers for extracting device info
  pyatv/device_info.py
  tests/test_device_info.py
Due: library, tests

devinfo: Add documentation
  docs/_config.yml
  docs/development/device_info.md
  docs/documentation/atvremote.md
  docs/documentation/concepts.md
  docs/getting_started.md
  docs/index.md
  pyatv/interface.py
Due: library, docs

devinfo: Add support for device info
  pyatv/__init__.py
  pyatv/__main__.py
  pyatv/conf.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/test_mrp_functional.py
  tests/test_conf.py
Due: library, tests

devinfo: Clean up zeroconf properties
  pyatv/__init__.py
  pyatv/conf.py
  tests/common_functional_tests.py
  tests/test_conf.py
  tests/test_scan.py
Due: library, tests

devinfo: Get version from osvers
  pyatv/conf.py
  tests/test_conf.py
Due: library, tests

devinfo: Add device_info to atvremote
  docs/documentation/atvremote.md
  pyatv/__init__.py
  pyatv/__main__.py
  tests/test_atvremote.py
Due: library, docs, tests

devinfo: Minor clean ups
  docs/development/device_info.md
  docs/getting_started.md
  pyatv/__main__.py
Due: library, docs
