Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Fix bug i TXT handling in UDNS
  pyatv/udns.py
  tests/test_udns.py
Due: library, tests

Add simple LRU cache for artwork
  pyatv/cache.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/common_functional_tests.py
  tests/dmap/fake_dmap_atv.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
  tests/test_cache.py
  tests/test_interface.py
Due: library, tests

Run tests with GitHub actions
  .github/workflows/tests.yml
  tox.ini
Due: none

Fix tests on Windows
  .github/workflows/tests.yml
  pyatv/__init__.py
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  pylintrc
Due: library

Remove travis configuration
  .travis.yml
  README.md
  pyatv/dmap/__init__.py
  tox.ini
Due: library, configs, docs

Add codecov upload to test workflow
  .github/workflows/tests.yml
  tox.ini
Due: none

Minor clean ups and additional coverage
  .coveragerc
  pyatv/mrp/messages.py
  pyatv/mrp/protocol.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
  tests/utils.py
Due: library, tests

Add timestamp to debug log in atvremote
  pyatv/__main__.py
Due: library

Fixes to push updates, error handling and more
  pyatv/__main__.py
  pyatv/airplay/pairing.py
  pyatv/airplay/srp.py
  pyatv/dmap/__init__.py
  pyatv/exceptions.py
  pyatv/interface.py
  pyatv/log.py
  pyatv/mrp/__init__.py
  pyatv/mrp/auth.py
  pyatv/mrp/connection.py
  pyatv/mrp/pairing.py
  pyatv/mrp/srp.py
  pyatv/mrp/tlv8.py
  pyatv/support.py
  pyatv/udns.py
  scripts/proxy.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/mrp_server_auth.py
  tests/mrp/test_mrp_auth.py
  tests/test_interface.py
  tests/test_log.py
  tests/test_support.py
Due: library, scripts, tests

Use content id as hash in MRP
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Improve device state and delta updates in MRP
  .gitignore
  pyatv/__init__.py
  pyatv/convert.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
  tests/test_convert.py
  tests/test_interface.py
Due: library, configs, tests

Add priority to identifiers in config
  pyatv/conf.py
  tests/test_conf.py
Due: library, tests

Change AirPlay interface to Stream interface
  docs/development/airplay.md
  pyatv/__init__.py
  pyatv/__main__.py
  pyatv/airplay/__init__.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/common_functional_tests.py
Due: library, docs, tests

wil
  pyatv/conf.py
  tests/test_scan.py
Due: library, tests

Remove AirPlay as special case
  pyatv/airplay/__init__.py
  pyatv/conf.py
  tests/dmap/test_dmap_functional.py
  tests/test_conf.py
Due: library, tests

Remove AirPlay as special case
  pyatv/airplay/__init__.py
  pyatv/conf.py
  tests/dmap/test_dmap_functional.py
  tests/test_conf.py
  tests/test_scan.py
Due: library, tests

Change last files from rst to markdown
  .codecov.yml
  CHANGES.md
  CHANGES.rst
  CONTRIBUTORS.md
  LICENSE.md
  LICENSE.rst
  MANIFEST.in
  README.md
  scripts/release.py
Due: configs, docs, scripts

Release 0.4.0a13
  CHANGES.md
  docs/_config.yml
  pyatv/const.py
Due: library, docs

Limit log printouts for binary data att protobuf
  docs/documentation/atvremote.md
  docs/support/troubleshooting.md
  pyatv/mrp/connection.py
  pyatv/support.py
  setup.py
  tests/test_support.py
Due: library, docs, tests

Add some missing DMAP tags
  pyatv/dmap/tag_definitions.py
  pyatv/dmap/tags.py
  tests/dmap/test_parser.py
Due: library, tests

Supress unknown DMAP media kind
  pyatv/convert.py
  tests/test_convert.py
Due: library, tests
