Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Supress unknown DMAP media kind
  pyatv/convert.py
  tests/test_convert.py
Due: library, tests

Ignore some unknown DMAP tags
  pyatv/dmap/tag_definitions.py
Due: library

Consolidate protobuf scripts into one script
  scripts/chacha20_decrypt.py
  scripts/print_protobuf.py
  scripts/protobuf.py
  scripts/protobuf_raw.py
Due: scripts

Release 0.4.0a14
  CHANGES.md
  docs/_config.yml
  pyatv/const.py
Due: library, docs

mrp: Fix device state handling
  pyatv/mrp/player_state.py
  tests/common_functional_tests.py
  tests/dmap/fake_dmap_atv.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Change zeroconf warning to debug
  pyatv/__init__.py
Due: library

Release 0.4.0a15
  CHANGES.md
  docs/_config.yml
  pyatv/const.py
Due: library, docs

scan: Remove non-breaking space in names
  pyatv/__init__.py
  tests/test_scan.py
Due: library, tests

mrp: Fix calcuation of position
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/mrp/fake_mrp_atv.py
  tests/utils.py
Due: library, tests

Release 0.4.0a16
  CHANGES.md
  docs/_config.yml
  pyatv/const.py
Due: library, docs

docs: Add basic migration instructions
  docs/_config.yml
  docs/index.md
  docs/support/migration.md
Due: docs

Release 0.4.0
  CHANGES.md
  docs/_config.yml
  pyatv/const.py
  scripts/release.py
Due: library, docs, scripts

Initital Power state support
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  pyatv/mrp/protobuf/__init__.py
  pyatv/mrp/protocol.py
Due: library

Continue implementing power state
  pyatv/__main__.py
  pyatv/mrp/__init__.py
Due: library

small fix
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
Due: library

fixes after code review
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
Due: library

mrp: Wait for command responses
  pyatv/exceptions.py
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/protobuf/SendButtonEventMessage.proto
  pyatv/mrp/protobuf/SendButtonEventMessage_pb2.py
  pyatv/mrp/protobuf/SendButtonEventMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
  tests/mrp/fake_mrp_atv.py
Due: library, tests

Reimplementation of Power State (WIP)
  pyatv/__main__.py
  pyatv/const.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  pyatv/mrp/protocol.py
Due: library

mrp: Add some protobuf definitions for voice
  pyatv/mrp/protobuf/SendVoiceInputMessage.proto
  pyatv/mrp/protobuf/SendVoiceInputMessage_pb2.py
  pyatv/mrp/protobuf/SendVoiceInputMessage_pb2.pyi
  pyatv/mrp/protobuf/SetRecordingStateMessage.proto
  pyatv/mrp/protobuf/SetRecordingStateMessage_pb2.py
  pyatv/mrp/protobuf/SetRecordingStateMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

gh: Run actions on pull requests
  .github/workflows/tests.yml
Due: none

gha: Trigger on both push and pull_request
  .github/workflows/tests.yml
Due: none

protobuf: Move pyatv imports in protobuf.py
  scripts/protobuf.py
Due: scripts
