Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project:
      default:
        target: auto
        threshold: 5%

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.md
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

still need to pad for hap
  pyatv/support/chacha20.py
Due: library

Simplify ChaCha20 Poly1305 implementation
  pyatv/support/chacha20.py
Due: library

Update index.md
  docs/index.md
Due: docs

gha: Remove automerge workflow
  .github/workflows/auto-merge.yml
Due: none

Bump setup-python to v5
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

dep: Bump chacha20poly1305-reuseable and cryptography
  base_versions.txt
  requirements/requirements.txt
Due: docs

dep: Bump requests base to 2.30.0
  base_versions.txt
Due: docs

test: Improve aiothttp session closing
  docs/api/pyatv.conf.html
  docs/api/pyatv.const.html
  docs/api/pyatv.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.file_storage.html
  docs/api/pyatv.storage.html
  docs/api/pyatv.storage.memory_storage.html
  pyatv/core/facade.py
  tests/core/test_facade.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, docs, tests

Fixed bug in touch_click and added test_hold command for click & hold gesture
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvremote.py
Due: library

Fixed bug in touch_click and added test_hold command for click & hold gesture
  tests/protocols/companion/test_companion_functional.py
Due: tests

test: Improve dispatch test
  tests/core/test_protocol.py
Due: tests

test: Improve MRP volume tests
  tests/protocols/mrp/test_mrp_functional.py
Due: tests

gha: Bump setup-python tp v4
  .github/workflows/tests.yml
Due: none

Update tests.yml
  .github/workflows/tests.yml
Due: none

gha: Run tests with python 3.12
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/tests.yml
  setup.py
Due: none

Fix Chacha20Cipher with companion
  pyatv/auth/hap_srp.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/protocols/mrp/connection.py
  pyatv/protocols/mrp/server_auth.py
  pyatv/support/chacha20.py
  tests/fake_device/mrp.py
  tests/support/test_chacha20.py
Due: library, tests

Requests changes
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvremote.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Removed print for debug purpose
  pyatv/protocols/companion/protocol.py
Due: library

Linting fix
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvremote.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Fixed linting issue on master
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/protocol.py
Due: library

Fixed linting
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvremote.py
Due: library

Linting fix
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Fixed linting
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
Due: library

feat: Add iTunes Store Identifier to metadata
  docs/api/pyatv.const.html
  docs/api/pyatv.interface.html
  pyatv/const.py
  pyatv/interface.py
  pyatv/protocols/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/test_interface.py
Due: library, docs, tests

Renamed enum HID to TouchAction
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvremote.py
Due: library

docs: Fix codespell issues
  chickn.yaml
  docs/development/power_management.md
  requirements/requirements_test.txt
  tests/protocols/mock_protocol.py
Due: docs, tests

cq: Fix pylint issues
  docs/api/pyatv.conf.html
  docs/api/pyatv.const.html
  docs/api/pyatv.convert.html
  docs/api/pyatv.exceptions.html
  docs/api/pyatv.helpers.html
  docs/api/pyatv.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.file_storage.html
  docs/api/pyatv.storage.html
  docs/api/pyatv.storage.memory_storage.html
  pyatv/protocols/airplay/__init__.py
  pyatv/scripts/atvproxy.py
Due: library, docs
