Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

protobuf: Update messages
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/protobuf/SetNowPlayingPlayerMessage.proto
  pyatv/mrp/protobuf/SetNowPlayingPlayerMessage_pb2.py
  pyatv/mrp/protobuf/SetNowPlayingPlayerMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

docs: Clean up and improve documentation
  docs/_config.yml
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/development/api_reference.md
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/const.py
  pyatv/helpers.py
  pyatv/interface.py
  scripts/api.py
  scripts/features.py
  tests/fake_udns.py
Due: library, docs, scripts, tests

docs: Change domain to pyatv.dev
  README.md
  docs/_config.yml
Due: docs

Create CNAME
  docs/CNAME
Due: docs

docs: Fix baseurl
  docs/_config.yml
Due: docs

docs: Fix relative links
  docs/_layouts/template.html
Due: docs

if: Add interface for app
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  scripts/diagram.pya
  scripts/features.py
  tests/dmap/test_dmap_functional.py
  tests/test_interface.py
Due: library, docs, scripts, tests

mrp: Add app support
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

docs: Add documentation for app support
  README.md
  docs/api/pyatv/interface.html
  docs/development/metadata.md
  docs/documentation/atvremote.md
  docs/index.md
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: docs, tests

docs: Add links to API reference
  docs/_includes/api
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/development/airplay.md
  docs/development/control.md
  docs/development/device_info.md
  docs/development/features.md
  docs/development/listeners.md
  docs/development/metadata.md
  docs/development/power_management.md
  docs/development/scan_pair_and_connect.md
  docs/documentation/concepts.md
  docs/documentation/documentation.md
  docs/index.md
  docs/pdoc_templates/html.mako
Due: docs

test: Migrate from asynctest to pytest-asyncio
  docs/api/pyatv/helpers.html
  examples/auto_connect.py
  pyatv/helpers.py
  requirements_test.txt
  tests/airplay/test_airplay_pair.py
  tests/dmap/test_pairing.py
  tests/fake_udns.py
  tests/support/test_support.py
  tests/support/test_udns.py
  tests/test_helpers.py
  tests/test_scan.py
Due: library, examples, docs, tests

scripts: Move atvremote
  .coveragerc
  docs/api/pyatv/interface.html
  pyatv/scripts/__init__.py
  pyatv/scripts/atvremote.py
  scripts/api.py
  setup.py
  tests/test_atvremote.py
Due: library, docs, scripts, tests

tests: Fix broken sleep stub
  tests/utils.py
Due: tests

tests: Break out script test environment
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
  tests/test_atvremote.py
Due: tests

scripts: Add atvproxy
  docs/_config.yml
  docs/documentation/atvproxy.md
  pyatv/mrp/server_auth.py
  pyatv/scripts/atvproxy.py
  setup.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_auth.py
  tests/test_atvremote.py
Due: library, docs, tests

tests: Add initial tests for atvscript
  requirements_test.txt
  tests/scripts/test_atvscript.py
Due: docs, tests

scan: Wait for pending tasks
  docs/api/pyatv.html
  pyatv/__init__.py
Due: library, docs

scripts: Add atvscript
  .coveragerc
  docs/_config.yml
  docs/api/pyatv/interface.html
  docs/documentation/atvscript.md
  pyatv/interface.py
  pyatv/scripts/__init__.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  setup.py
Due: library, docs

tests: Make push updates test more robust
  tests/common_functional_tests.py
Due: tests

docs: Minor fixes
  docs/documentation/atvscript.md
  docs/index.md
Due: docs

protobuf: Workaround for older versions
  pyatv/support/__init__.py
  setup.py
Due: library
