Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

companion: Add support for turn_on and turn_off (#1104)
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/support/facade.py
  tests/companion/test_companion_functional.py
  tests/fake_device/companion.py
  tests/support/test_facade.py
Due: library, docs, tests

mrp: Do not deep copy protobuf messages (#1105)
  pyatv/mrp/player_state.py
Due: library

companion: Fix case when app_list fails
  docs/documentation/protocols.md
  pyatv/companion/__init__.py
  pyatv/companion/connection.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  tests/companion/test_companion_functional.py
  tests/fake_device/companion.py
Due: library, docs, tests

companion: Fix case when app_list fails (#1106)
  docs/documentation/protocols.md
  pyatv/companion/__init__.py
  pyatv/companion/connection.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  tests/companion/test_companion_functional.py
  tests/fake_device/companion.py
Due: library, docs, tests

airplay: Refactor to use new http module
  docs/api/pyatv/interface.html
  pyatv/airplay/__init__.py
  pyatv/airplay/auth.py
  pyatv/airplay/pairing.py
  pyatv/airplay/player.py
  pyatv/interface.py
  pyatv/raop/__init__.py
  pyatv/support/http.py
  tests/airplay/conftest.py
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/airplay/test_airplay_player.py
  tests/fake_device/__init__.py
  tests/fake_device/airplay.py
  tests/support/test_http.py
Due: library, docs, tests

http: Generalize RTSP parsing to HTTP
  pyatv/raop/rtsp.py
  pyatv/support/http.py
  tests/raop/test_rtsp.py
  tests/support/test_http.py
Due: library, tests

airplay: Simulate streaming from fake device
  tests/airplay/testfile.txt
  tests/common_functional_tests.py
  tests/fake_device/airplay.py
  tests/utils.py
Due: tests

net: Move HttpSession to http
  pyatv/dmap/__init__.py
  pyatv/support/http.py
  pyatv/support/net.py
Due: library

airplay: Move StaticFileWebServer to http
  pyatv/airplay/__init__.py
  pyatv/airplay/server.py
  pyatv/support/http.py
Due: library

raop: Convert RTSP to use the new HTTP module
  pyatv/raop/rtsp.py
  pyatv/support/http.py
Due: library

atvremote: Fix bugs in manual mode
  pyatv/scripts/atvremote.py
Due: library

rtsp: Use composition instead of inheritance
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  pyatv/support/http.py
Due: library

net: Move aiohttp session management to http
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/dmap/pairing.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/pairing.py
  pyatv/raop/__init__.py
  pyatv/support/facade.py
  pyatv/support/http.py
  pyatv/support/net.py
  tests/airplay/test_airplay_player.py
  tests/conftest.py
  tests/dmap/test_dmap_pairing.py
  tests/support/test_mdns_functional.py
Due: library, docs, tests

hap_srp: Rename Credentials to HapCredentials
  pyatv/companion/auth.py
  pyatv/companion/protocol.py
  pyatv/mrp/pairing.py
  pyatv/mrp/protocol.py
  pyatv/support/hap_srp.py
Due: library

airplay: Fix patching in tests
  pyatv/airplay/srp.py
  tests/airplay/test_airplay_pair.py
Due: library, tests

raop: Verify using AirPlay if credentials provided
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
Due: library

raop: Use feedback endpoint for keep-alive
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library

airplay: Fix encoding name typo
  pyatv/airplay/auth.py
Due: library

http: Ignore case in when parsing headers
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

env: Don't post comment with GitPod link
  .gitpod.yml
Due: configs

http: Ignore type mypy cannot find
  pyatv/support/http.py
Due: library

http: Add a simple web server implementation
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

raop: Add basic fake device
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/raop/raop.py
  pyatv/support/http.py
  scripts/fake_device.py
  tests/common_functional_tests.py
  tests/data/testfile.txt
  tests/fake_device/__init__.py
  tests/fake_device/raop.py
  tests/raop/conftest.py
  tests/support/test_http.py
  tests/utils.py
Due: library, docs, scripts, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
