Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

mdns: Quiet error log if address cannot be added
  pyatv/core/mdns.py
Due: library

gh: Update question issue
  .github/ISSUE_TEMPLATE/question-or-idea.yml
Due: none

protobuf: Fix support on Windows
  scripts/protobuf.py
Due: scripts

protobuf: Use version from base_versions.txt
  scripts/protobuf.py
Due: scripts

Release 0.9.8
  CHANGES.md
  pyatv/const.py
Due: library, docs

raop: Make slowness warnings less chatty
  pyatv/protocols/raop/raop.py
Due: library

core: Dispatch volume changes in protocols
  pyatv/core/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/conftest.py
  tests/core/test_facade.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, tests

raop: Override volume from other protocols
  pyatv/protocols/raop/__init__.py
  tests/protocols/raop/test_raop_functional.py
Due: library, tests

mrp: Fix protocol bug in state dispatcher
  pyatv/core/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/protocol.py
  tests/core/test_facade.py
Due: library, tests

facade: Stop push updaters on close
  pyatv/core/facade.py
  tests/core/test_facade.py
Due: library, tests

airplay: Fix pairing requirement bug
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/utils.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/airplay/test_utils.py
  tests/protocols/raop/test_raop.py
Due: library, tests

core: Introduce Core in protocols
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
Due: library, docs

raop: Use requests instead of urllib in web stream
  pyatv/protocols/raop/audio_source.py
  requirements/requirements_test.txt
Due: library

raop: Fix stream from buffer bug
  docs/api/pyatv.html
  pyatv/protocols/raop/__init__.py
Due: library, docs

gha: Don't build for armv7
  .github/workflows/release.yml
Due: none

core: Initial work to unify pairing
  docs/api/pyatv.html
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/scan_pair_and_connect.md
  examples/pairing.py
  pyatv/const.py
  pyatv/core/__init__.py
  pyatv/interface.py
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/companion/pairing.py
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/mrp/pairing.py
  tests/core/test_core.py
  tests/protocols/dmap/test_dmap_pairing.py
Due: library, examples, docs, tests

companion: Migrate to AbstractPairingHandler
  docs/api/pyatv/interface.html
  pyatv/protocols/companion/pairing.py
  tests/protocols/companion/test_companion_auth.py
Due: library, docs, tests

airplay: Migrate to AbstractPairingHandler
  docs/api/pyatv/interface.html
  pyatv/auth/hap_srp.py
  pyatv/protocols/airplay/auth/hap.py
  pyatv/protocols/airplay/pairing.py
  tests/protocols/airplay/test_airplay_pair.py
Due: library, docs, tests

dmap: Migrate to AbstractPairingHandler
  docs/api/pyatv/interface.html
  pyatv/protocols/dmap/pairing.py
  tests/protocols/dmap/test_dmap_pairing.py
Due: library, docs, tests

mrp: Migrate to AbstractPairingHandler
  docs/api/pyatv/interface.html
  pyatv/protocols/mrp/pairing.py
Due: library, docs

deps: Add requests as dependency
  base_versions.txt
  requirements/requirements.txt
Due: docs

support: Handle through in error_handler
  pyatv/support/__init__.py
  tests/support/test_support.py
Due: library, tests

wip
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/interface.html
  pyatv/core/__init__.py
  pyatv/exceptions.py
  pyatv/interface.py
  tests/core/test_core.py
Due: library, docs, tests

Ensure knock exceptions are retrieved
  pyatv/support/knock.py
  tests/support/test_knock.py
Due: library, tests

Ensure knock exceptions are retrieved
  tests/support/test_knock.py
Due: tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
