Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

gha: Minor changes to codecov
  .github/workflows/tests.yml
Due: none

gha: Minor changes to codecov (#1031)
  .github/workflows/tests.yml
Due: none

script: Install docs dependencies in dev env
  scripts/setup_dev_env.sh
Due: scripts

mrp: Handle missing artwork gracefully
  docs/api/pyatv/interface.html
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, docs, tests

mrp: Handle missing artwork gracefully (#1033)
  docs/api/pyatv/interface.html
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, docs, tests

script: Install docs dependencies in dev env (#1032)
  scripts/setup_dev_env.sh
Due: scripts

gha: Run tests workflow on master
  .github/workflows/tests.yml
Due: none

gha: Run tests workflow on master (#1039)
  .github/workflows/tests.yml
Due: none

companion: Add pairing function tests
  pyatv/companion/server_auth.py
  tests/companion/test_companion_auth.py
  tests/fake_device/companion.py
Due: library, tests

companion: Add pairing function tests (#1041)
  pyatv/companion/server_auth.py
  tests/companion/test_companion_auth.py
  tests/fake_device/companion.py
Due: library, tests

facade: Properly implement support for Features
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  docs/development/features.md
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/support/facade.py
  pyatv/support/relayer.py
  tests/companion/test_companion_functional.py
  tests/conftest.py
  tests/support/test_facade.py
  tests/support/test_relayer.py
Due: library, docs, tests

relayer: Add relayer module for protocol handling
  pyatv/support/relayer.py
  tests/support/test_relayer.py
Due: library, tests

facade: Hide implementations behind facade pattern
  docs/api/pyatv.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/interface.html
  docs/documentation/concepts.md
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/exceptions.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/support/facade.py
  pyatv/support/relayer.py
  tests/common_functional_tests.py
  tests/support/test_relayer.py
  tests/test_interface.py
Due: library, docs, tests

facade: Fix a few bad naming misstakes
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/support/facade.py
  tests/support/test_facade.py
Due: library, docs, tests

docs: Change "Apps" section to "Known Issues"
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/support/faq.md
Due: docs

facade: Various fixes and coverage increase
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/support/facade.py
  tests/common_functional_tests.py
  tests/conftest.py
  tests/mrp/test_mrp_functional.py
  tests/support/test_facade.py
  tests/test_interface.py
Due: library, docs, tests

Implement facade pattern for public interface (#1042)
  docs/api/pyatv.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/interface.html
  docs/development/features.md
  docs/documentation/concepts.md
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/exceptions.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/support/facade.py
  pyatv/support/relayer.py
  tests/common_functional_tests.py
  tests/companion/test_companion_functional.py
  tests/conftest.py
  tests/mrp/test_mrp_functional.py
  tests/support/test_facade.py
  tests/support/test_relayer.py
  tests/test_interface.py
Due: library, docs, tests

docs: Change "Apps" section to "Known Issues" (#1045)
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/support/faq.md
Due: docs

docs: Add section about commands in Companion
  docs/documentation/protocols.md
Due: docs

docs: Add section about commands in Companion (#1047)
  docs/documentation/protocols.md
Due: docs

mrp: Tidy upp keyboard related messages
  pyatv/mrp/protobuf/GetRemoteTextInputSessionMessage.proto
  pyatv/mrp/protobuf/GetRemoteTextInputSessionMessage_pb2.py
  pyatv/mrp/protobuf/GetRemoteTextInputSessionMessage_pb2.pyi
  pyatv/mrp/protobuf/KeyboardMessage.proto
  pyatv/mrp/protobuf/KeyboardMessage_pb2.py
  pyatv/mrp/protobuf/KeyboardMessage_pb2.pyi
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/protobuf/RemoteTextInputMessage.proto
  pyatv/mrp/protobuf/RemoteTextInputMessage_pb2.py
  pyatv/mrp/protobuf/RemoteTextInputMessage_pb2.pyi
  pyatv/mrp/protobuf/TextEditingAttributesMessage.proto
  pyatv/mrp/protobuf/TextEditingAttributesMessage_pb2.py
  pyatv/mrp/protobuf/TextEditingAttributesMessage_pb2.pyi
  pyatv/mrp/protobuf/TextInputMessage.proto
  pyatv/mrp/protobuf/TextInputMessage_pb2.py
  pyatv/mrp/protobuf/TextInputMessage_pb2.pyi
  pyatv/mrp/protobuf/TextInputTraitsMessage.proto
  pyatv/mrp/protobuf/TextInputTraitsMessage_pb2.py
  pyatv/mrp/protobuf/TextInputTraitsMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

if: Add series name, season and episode number
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/interface.py
  tests/scripts/test_atvscript.py
  tests/test_interface.py
Due: library, docs, tests

docs: Add new series field documentation
  docs/development/metadata.md
  docs/documentation/atvremote.md
Due: docs

mrp: Add series name, season and episode number
  pyatv/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Add series name, season and episode number (#1049)
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/metadata.md
  docs/documentation/atvremote.md
  pyatv/const.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/test_atvscript.py
  tests/test_interface.py
Due: library, docs, tests

mrp: Tidy upp keyboard related messages (#1048)
  pyatv/mrp/protobuf/GetRemoteTextInputSessionMessage.proto
  pyatv/mrp/protobuf/GetRemoteTextInputSessionMessage_pb2.py
  pyatv/mrp/protobuf/GetRemoteTextInputSessionMessage_pb2.pyi
  pyatv/mrp/protobuf/KeyboardMessage.proto
  pyatv/mrp/protobuf/KeyboardMessage_pb2.py
  pyatv/mrp/protobuf/KeyboardMessage_pb2.pyi
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/protobuf/RemoteTextInputMessage.proto
  pyatv/mrp/protobuf/RemoteTextInputMessage_pb2.py
  pyatv/mrp/protobuf/RemoteTextInputMessage_pb2.pyi
  pyatv/mrp/protobuf/TextEditingAttributesMessage.proto
  pyatv/mrp/protobuf/TextEditingAttributesMessage_pb2.py
  pyatv/mrp/protobuf/TextEditingAttributesMessage_pb2.pyi
  pyatv/mrp/protobuf/TextInputMessage.proto
  pyatv/mrp/protobuf/TextInputMessage_pb2.py
  pyatv/mrp/protobuf/TextInputMessage_pb2.pyi
  pyatv/mrp/protobuf/TextInputTraitsMessage.proto
  pyatv/mrp/protobuf/TextInputTraitsMessage_pb2.py
  pyatv/mrp/protobuf/TextInputTraitsMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

scripts: Protocol clean up
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
Due: library

scripts: Protocol clean up (#1057)
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
Due: library

some small additions to the OPACK definitions
  docs/documentation/protocols.md
Due: docs

some small additions to the OPACK definitions (#1064)
  docs/documentation/protocols.md
Due: docs

env: Enable CodeQL
  .github/workflows/codeql-analysis.yml
Due: none

env: Enable CodeQL (#1070)
  .github/workflows/codeql-analysis.yml
Due: none

facade: Add PushUpdates to the feature interface
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/interface.py
  pyatv/scripts/atvremote.py
  pyatv/support/facade.py
  pyatv/support/relayer.py
  tests/support/test_facade.py
Due: library, docs, tests

facade: Add PushUpdates to the feature interface (#1072)
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/interface.py
  pyatv/scripts/atvremote.py
  pyatv/support/facade.py
  pyatv/support/relayer.py
  tests/support/test_facade.py
Due: library, docs, tests

raop: Use time.monotonic for time related things
  pyatv/raop/raop.py
  pyatv/raop/timing.py
Due: library

support: Allow non-bytes arguments to log_binary
  pyatv/support/__init__.py
  tests/support/test_support.py
Due: library, tests

raop: Send keep-alive message
  pyatv/raop/raop.py
Due: library

raop: Send with additional packets when late
  pyatv/raop/raop.py
Due: library

raop: Add shell support for RAOP
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/const.py
  pyatv/convert.py
  pyatv/interface.py
  pyatv/raop/__init__.py
  pyatv/support/device_info.py
  pyatv/support/facade.py
  pyatv/support/scan.py
  tests/fake_udns.py
  tests/support/test_device_info.py
  tests/support/test_scan.py
  tests/test_conf.py
  tests/test_convert.py
  tests/test_scan_functional.py
Due: library, docs, tests

raop: Add initial implementation of stream_file
  pyatv/raop/__init__.py
Due: library

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
