Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

conf: Extract BaseConfig interface
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/core/facade.py
  pyatv/core/scan.py
  pyatv/interface.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/pairing.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/pairing.py
  pyatv/protocols/raop/__init__.py
  tests/conftest.py
Due: library, docs, tests

if: Rely solely on BaseService internally
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/pairing.py
  pyatv/protocols/companion/protocol.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  tests/common_functional_tests.py
  tests/protocols/airplay/conftest.py
  tests/protocols/airplay/test_airplay_interface.py
  tests/protocols/companion/conftest.py
  tests/protocols/companion/test_companion_auth.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/dmap/test_dmap_pairing.py
  tests/protocols/mrp/test_mrp_auth.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_protocol.py
  tests/protocols/raop/conftest.py
  tests/test_conf.py
Due: library, docs, tests

core: Move back device_info to support
  pyatv/core/scan.py
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/support/device_info.py
  tests/protocols/mrp/test_mrp.py
  tests/support/test_device_info.py
Due: library, tests

core: Move state_producer to support
  pyatv/core/mdns.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/mrp/connection.py
  pyatv/scripts/atvproxy.py
  pyatv/support/http.py
  pyatv/support/net.py
  tests/conftest.py
  tests/core/test_mdns.py
  tests/core/test_mdns_functional.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/support/test_knock.py
  tests/support/test_net.py
Due: library, tests

core: Move state_producer to support
  docs/api/pyatv/interface.html
  pyatv/auth/hap_channel.py
  pyatv/core/__init__.py
  pyatv/interface.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/mrp_connection.py
  pyatv/protocols/airplay/remote_control.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/connection.py
  pyatv/protocols/raop/__init__.py
  pyatv/support/state_producer.py
  tests/support/test_state_producer.py
Due: library, docs, tests

if: Restructure service handling
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/core/__init__.py
  pyatv/core/scan.py
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  tests/common_functional_tests.py
  tests/protocols/airplay/conftest.py
  tests/protocols/airplay/test_airplay_interface.py
  tests/protocols/companion/conftest.py
  tests/protocols/companion/test_companion_auth.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/dmap/test_dmap_pairing.py
  tests/protocols/mrp/test_mrp_auth.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_protocol.py
  tests/protocols/raop/conftest.py
  tests/test_conf.py
Due: library, docs, tests

if: Add protocol specific methods for service info
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/core/scan.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
Due: library, docs

raop: Add support for requires_password
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/core/__init__.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  tests/protocols/raop/test_raop.py
Due: library, docs, tests

airplay: Add support for requires_password
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/auth/__init__.py
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/airplay/utils.py
  pyatv/protocols/raop/__init__.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/airplay/test_utils.py
  tests/protocols/raop/test_raop.py
Due: library, tests

mrp: Add support for pairing requirement
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/const.py
  pyatv/core/__init__.py
  pyatv/interface.py
  pyatv/protocols/mrp/__init__.py
  tests/protocols/mrp/test_mrp.py
Due: library, docs, tests

companion: Add support for pairing requirement
  pyatv/protocols/companion/__init__.py
  tests/protocols/companion/test_companion.py
Due: library, tests

dmap: Add support for pairing requirement
  pyatv/protocols/dmap/__init__.py
  tests/protocols/dmap/test_dmap.py
Due: library, tests

dmap: Add support for pairing requirement
  docs/api/pyatv/interface.html
  pyatv/core/scan.py
  pyatv/interface.py
  pyatv/protocols/dmap/__init__.py
  tests/protocols/dmap/test_dmap.py
  tests/test_conf.py
Due: library, docs, tests

airplay: Add support for pairing requirement
  pyatv/protocols/airplay/__init__.py
  tests/protocols/airplay/test_airplay.py
Due: library, tests

airplay: Refactor pairing requirement extraction
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/utils.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/airplay/test_utils.py
Due: library, tests

raop: Add support for pairing requirement
  pyatv/protocols/airplay/utils.py
  pyatv/protocols/raop/__init__.py
  tests/protocols/airplay/test_utils.py
  tests/protocols/raop/test_raop.py
Due: library, tests

docs: Update scan, pair and connect docs
  docs/development/scan_pair_and_connect.md
  examples/manual_connect.py
Due: examples, docs

http: Handle responses when no receiver exists
  pyatv/support/http.py
Due: library

raop: Send empty audio during latency period
  pyatv/protocols/raop/audio_source.py
  pyatv/protocols/raop/packets.py
  pyatv/protocols/raop/raop.py
  tests/protocols/raop/test_raop_functional.py
Due: library, tests

Release 0.9.0
  CHANGES.md
  README.md
  docs/support/migration.md
  pyatv/const.py
  tests/protocols/raop/test_raop_functional.py
Due: library, docs, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
