Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

mypy: Fix typing issues
  pyatv/companion/pairing.py
  pyatv/support/http.py
  pyatv/support/mdns.py
  pyproject.toml
  requirements_test.txt
Due: library, docs

helpers: Add get_unique_id
  docs/api/pyatv/conf.html
  docs/api/pyatv/helpers.html
  pyatv/conf.py
  pyatv/helpers.py
  pyatv/support/scan.py
  tests/support/test_scan.py
  tests/test_conf.py
  tests/test_helpers.py
Due: library, docs, tests

docs: Various documentation updates
  docs/_config.yml
  docs/_includes/code
  docs/development/stream.md
  docs/documentation/getting_started.md
  docs/documentation/supported_features.md
  docs/index.md
  docs/internals/design.md
  docs/internals/documentation.md
  docs/internals/interfaces.md
  docs/internals/internals.md
  docs/internals/submit_pr.md
  docs/internals/testing.md
  docs/internals/tools.md
  pyatv/scripts/atvproxy.py
Due: library, docs

raop: Only perform auth-setup for AirPort Express
  pyatv/raop/raop.py
  tests/raop/test_raop_functional.py
Due: library, tests

raop: Fallback to AirPlay credentials
  docs/documentation/supported_features.md
  pyatv/raop/__init__.py
Due: library, docs

gitpod: Unset PIP_USER flag
  .gitpod.yml
Due: configs

scripts: Unset PIP_USER in setup_dev_env.sh
  scripts/setup_dev_env.sh
Due: scripts

raop: Teardown session after streaming
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  tests/fake_device/raop.py
  tests/raop/test_raop_functional.py
Due: library, tests

tests: Make RAOP work in fake device
  docs/internals/tools.md
  pyatv/raop/raop.py
  scripts/fake_device.py
  tests/fake_device/raop.py
Due: library, docs, scripts, tests

scan: Be more forgiving if service parsing fails
  pyatv/support/scan.py
Due: library

scan: Migrate to use get_unique_id internally
  docs/api/pyatv/helpers.html
  pyatv/helpers.py
  pyatv/support/scan.py
  tests/support/test_scan.py
  tests/test_helpers.py
Due: library, docs, tests

docs: Update migration guide for 0.8.0
  docs/documentation/documentation.md
  docs/support/migration.md
Due: docs

docs: Add a tutorial
  docs/_config.yml
  docs/_includes/pypi
  docs/documentation/getting_started.md
  docs/documentation/tutorial.md
  docs/index.md
Due: docs

docs: Clarification regarding device listener
  docs/documentation/supported_features.md
Due: docs

deps: Don't bump bitarray past 2.1.2
  .github/dependabot.yml
  base_versions.txt
Due: docs

docs: Add examples
  README.md
Due: docs

scripts: Generate new format in CHANGES.md
  scripts/release.py
Due: scripts

Release 0.8.0
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

raop: Support streaming files from a buffer
  docs/api/pyatv/interface.html
  docs/development/stream.md
  docs/documentation/atvremote.md
  pyatv/interface.py
  pyatv/raop/__init__.py
  pyatv/raop/audio_source.py
  pyatv/raop/metadata.py
  pyatv/raop/miniaudio.py
  pyatv/raop/raop.py
  pyatv/scripts/atvremote.py
  pyatv/support/facade.py
  tests/data/README
  tests/data/audio_1_packet_metadata.wav
  tests/raop/test_raop_functional.py
Due: library, docs, tests

docs: Add tutorial as an example
  docs/development/examples.md
  docs/documentation/tutorial.md
  pylintrc
Due: docs

raop: Fix timing when starting to stream
  pyatv/raop/raop.py
Due: library

raop: Add small buffer to BufferedReaderSource
  pyatv/raop/__init__.py
  pyatv/raop/audio_source.py
  pyatv/raop/raop.py
Due: library

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
