Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

airplay: Use default timeout for HTTP requests
  pyatv/airplay/player.py
Due: library

cq: Fix a bunch of TODOs in the code
  pyatv/airplay/srp.py
  pyatv/mrp/player_state.py
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/srp.py
  tests/airplay/test_airplay_auth.py
  tests/conftest.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/dmap/test_pairing.py
Due: library, tests

atvremote: Support width/height in artwork_save
  docs/documentation/atvremote.md
  pyatv/scripts/atvremote.py
Due: library, docs

if: Add width and height to artwork method
  docs/api/pyatv/interface.html
  docs/development/metadata.md
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library, docs

dmap: Add limited support for artwork width/height
  pyatv/dmap/__init__.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/fake_device/dmap.py
Due: library, tests

mrp: Add support for artwork width/height
  pyatv/mrp/__init__.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

docs: Rename variable in credentials example
  docs/development/scan_pair_and_connect.md
Due: docs

Release 0.6.0
  CHANGES.md
  docs/support/migration.md
  pyatv/const.py
Due: library, docs

Release 0.6.0
  CHANGES.md
  docs/api/pyatv/const.html
  docs/support/migration.md
  pyatv/const.py
Due: library, docs

mrp: Fixes to support older protobuf versions
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  pyatv/mrp/protobuf/SendCommandResultMessage.proto
  pyatv/mrp/protobuf/SendCommandResultMessage_pb2.py
  pyatv/mrp/protobuf/SendCommandResultMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
  tests/fake_device/mrp.py
Due: library, tests

Release 0.6.1
  CHANGES.md
  pyatv/const.py
Due: library, docs

Release 0.6.1
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

cq: Run tests with base versions
  .github/workflows/tests.yml
  base_versions.txt
  docs/documentation/documentation.md
  setup.py
  tox.ini
Due: docs

tests: Fix minor pytest incompatibilities
  tests/support/test_support.py
Due: tests

cq: Add dependabot config
  .dependabot/config.yml
Due: none

doc: Add black badge to README
  README.md
Due: docs

atvproxy: Add tunnel support
  docs/documentation/atvproxy.md
  pyatv/scripts/__init__.py
  pyatv/scripts/atvproxy.py
Due: library, docs

mrp: Fix state when playback rate is wrong
  pyatv/mrp/player_state.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Added information regarding playbackRate issue
  docs/support/faq.md
Due: docs

Add Telia Play to playbackRate issue
  docs/support/faq.md
Due: docs

mrp: Maintain last known app name
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

cq: Support for aiohttp 4
  base_versions.txt
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
  pyatv/dmap/__init__.py
  pyatv/dmap/pairing.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/pairing.py
  pyatv/support/net.py
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/dmap/test_pairing.py
  tests/utils.py
Due: library, docs, tests

power: Add await_new_state argument
  docs/api/pyatv/interface.html
  docs/development/power_management.md
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/mrp/test_mrp_functional.py
Due: library, docs, tests

gha: Remove invalid codecov option
  .github/workflows/tests.yml
Due: none
