Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

rtsp: Make handling of bplists more general
  pyatv/protocols/airplay/auth/legacy.py
  pyatv/protocols/airplay/player.py
  pyatv/protocols/airplay/remote_control.py
  pyatv/protocols/airplay/utils.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
Due: library

raop: Basic AirPlay 2 streaming
  docs/documentation/supported_features.md
  pyatv/auth/hap_srp.py
  pyatv/auth/hap_tlv8.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/auth/__init__.py
  pyatv/protocols/airplay/auth/hap_transient.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/protocols/airplay/utils.py
  pyatv/protocols/companion/server_auth.py
  pyatv/protocols/mrp/server_auth.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/alac.py
  pyatv/protocols/raop/protocols/__init__.py
  pyatv/protocols/raop/protocols/airplayv1.py
  pyatv/protocols/raop/protocols/airplayv2.py
  pyatv/protocols/raop/stream_client.py
  pyatv/scripts/atvproxy.py
  pyatv/support/chacha20.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
  tests/fake_device/raop.py
  tests/protocols/airplay/test_airplay_interface.py
  tests/protocols/airplay/test_utils.py
  tests/protocols/raop/test_alac.py
  tests/protocols/raop/test_raop.py
  tests/support/test_http.py
  tests/support/test_knock.py
Due: library, docs, tests

raop: Add feedback to AirPlay 2 streaming
  base_versions.txt
  docs/documentation/supported_features.md
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/protocols/airplayv2.py
Due: library, docs

mrp: Fix position if playbackRate is 0.0
  docs/api/pyatv/interface.html
  pyatv/protocols/mrp/__init__.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, docs, tests

companion: Implement SystemStatus support
  docs/api/pyatv/interface.html
  docs/documentation/protocols.md
  pyatv/core/facade.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvremote.py
  tests/core/test_facade.py
  tests/fake_device/companion.py
  tests/fake_device/raop.py
  tests/protocols/companion/conftest.py
  tests/protocols/companion/test_companion_functional.py
  tests/shared_helpers.py
  tests/support/test_knock.py
Due: library, docs, tests

Release 0.13.0
  .github/workflows/release.yml
  CHANGES.md
  pyatv/const.py
Due: library, docs

raop: Fix bug when streaming from buffer
  pyatv/protocols/raop/audio_source.py
Due: library

raop: Send autio as raw PCM
  pyatv/protocols/raop/alac.py
  pyatv/protocols/raop/audio_source.py
  pyatv/protocols/raop/protocols/airplayv2.py
  pyatv/protocols/raop/stream_client.py
  pyatv/support/buffer.py
  pyatv/support/rtsp.py
  tests/fake_device/raop.py
  tests/support/test_buffer.py
Due: library, tests

device: Add second generation HomePod
  pyatv/const.py
  pyatv/convert.py
  pyatv/support/device_info.py
  tests/test_convert.py
Due: library, tests

Release 0.13.1
  CHANGES.md
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  pyatv/const.py
Due: library, docs

airplay: Disable AirPlay for macOS
  pyatv/protocols/airplay/utils.py
  tests/protocols/airplay/test_airplay.py
Due: library, tests

helpers: Add is_device_supported
  docs/api/pyatv/helpers.html
  pyatv/helpers.py
  tests/test_helpers.py
Due: library, docs, tests

deps: Remove bitarray code
  base_versions.txt
  pyatv/protocols/raop/alac.py
  pyproject.toml
  requirements/requirements.txt
  tests/protocols/raop/test_alac.py
Due: library, docs, tests

raop: Support override missing stream fields
  docs/api/pyatv/interface.html
  docs/development/stream.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/support/metadata.py
  scripts/audiogen.py
  tests/data/only_title.wav
  tests/protocols/raop/test_raop_functional.py
Due: library, docs, scripts, tests

raop: Allow setting artwork
  docs/api/pyatv/interface.html
  docs/development/stream.md
  pyatv/interface.py
  pyatv/protocols/raop/stream_client.py
  pyatv/support/__init__.py
  pyatv/support/metadata.py
  pyatv/support/rtsp.py
  tests/fake_device/raop.py
  tests/protocols/raop/test_raop_functional.py
  tests/support/test_support.py
Due: library, docs, tests

support: Add missing metadata tests
  tests/support/test_metadata.py
Due: tests

airplay: Fix AirPlay major version detection
  pyatv/protocols/airplay/utils.py
  tests/protocols/airplay/test_utils.py
Due: library, tests

Release 0.13.2
  .github/workflows/release.yml
  CHANGES.md
  pyatv/const.py
Due: library, docs

Rework zeroconf for unicast scanning
  pyatv/core/scan.py
Due: library

fixes
  pyatv/core/mdns.py
Due: library

lint
  pyatv/core/mdns.py
  pyatv/core/scan.py
Due: library

Make unicast requests when hosts are specified
  pyatv/core/scan.py
Due: library

versions
  base_versions.txt
  requirements/requirements.txt
Due: docs

raop: Use correct auth type for RAOP pairing
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/raop/__init__.py
Due: library

docs: Clarify atvremote app section
  docs/documentation/atvremote.md
Due: docs

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
