Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

gha: Store issue/comment body as file for log2html (#970)
  .github/workflows/log.yaml
Due: none

log2html: Fix broken log entry loading
  .github/workflows/log.yaml
  scripts/log2html.py
Due: scripts

log2html: Fix broken log entry loading (#971)
  .github/workflows/log.yaml
  scripts/log2html.py
Due: scripts

gha: Save log for log2html using pygithub
  .github/workflows/log.yaml
Due: none

gha: Save log for log2html using pygithub (#972)
  .github/workflows/log.yaml
Due: none

log2html: Allow toggling of showing date
  scripts/log2html.py
Due: scripts

log2html: Allow toggling of showing date (#974)
  scripts/log2html.py
Due: scripts

mrp: Add retry to heartbeats
  pyatv/mrp/protocol.py
  tests/mrp/test_protocol.py
  tests/utils.py
Due: library, tests

mrp: Add retry to heartbeats (#978)
  pyatv/mrp/protocol.py
  tests/mrp/test_protocol.py
  tests/utils.py
Due: library, tests

log2html: Add generation date and command
  scripts/log2html.py
Due: scripts

log2html: Add generation date and command (#980)
  scripts/log2html.py
Due: scripts

log2html: Add separate include and exclude filters
  scripts/log2html.py
Due: scripts

log2html: Add separate include and exclude filters (#981)
  scripts/log2html.py
Due: scripts

atvlog: Rename log2html and bundle it
  .github/workflows/log.yaml
  docs/_config.yml
  docs/documentation/atvlog.md
  pyatv/scripts/atvlog.py
  setup.py
Due: library, docs

atvlog: Rename log2html and bundle it (#982)
  .github/workflows/log.yaml
  docs/_config.yml
  docs/documentation/atvlog.md
  pyatv/scripts/atvlog.py
  setup.py
Due: library, docs

mrp: Use GenericMessage for heartbeats
  pyatv/mrp/protobuf/GenericMessage.proto
  pyatv/mrp/protobuf/GenericMessage_pb2.py
  pyatv/mrp/protobuf/GenericMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
  pyatv/mrp/protocol.py
  tests/fake_device/mrp.py
Due: library, tests

cq: Run pylint from tox
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/airplay/pairing.py
  pyatv/airplay/srp.py
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/dmap/tag_definitions.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/connection.py
  pyatv/mrp/pairing.py
  pyatv/mrp/player_state.py
  pyatv/mrp/protocol.py
  pyatv/scripts/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  pyatv/support/collections.py
  pyatv/support/dns.py
  pyatv/support/hap_tlv8.py
  pyatv/support/knock.py
  pyatv/support/mdns.py
  pyatv/support/net.py
  pyatv/support/scan.py
  pylintrc
  requirements_test.txt
  scripts/api.py
  scripts/fake_device.py
  scripts/features.py
  scripts/protobuf.py
  scripts/release.py
  tox.ini
Due: library, docs, scripts

cq: Run pylint from tox (#979)
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/airplay/pairing.py
  pyatv/airplay/srp.py
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/dmap/tag_definitions.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/connection.py
  pyatv/mrp/pairing.py
  pyatv/mrp/player_state.py
  pyatv/mrp/protocol.py
  pyatv/scripts/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  pyatv/support/collections.py
  pyatv/support/dns.py
  pyatv/support/hap_tlv8.py
  pyatv/support/knock.py
  pyatv/support/mdns.py
  pyatv/support/net.py
  pyatv/support/scan.py
  pylintrc
  requirements_test.txt
  scripts/api.py
  scripts/fake_device.py
  scripts/features.py
  scripts/protobuf.py
  scripts/release.py
  tox.ini
Due: library, docs, scripts

gh: Add example to attach log to a bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

gh: Add example to attach log to a bug report (#984)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Convert knock to use asyncio
  pyatv/support/knock.py
Due: library

support: Convert knock to use asyncio (#988)
  pyatv/support/knock.py
Due: library

mrp: Use GenericMessage for heartbeats (#975)
  pyatv/mrp/protobuf/GenericMessage.proto
  pyatv/mrp/protobuf/GenericMessage_pb2.py
  pyatv/mrp/protobuf/GenericMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
  pyatv/mrp/protocol.py
  tests/fake_device/mrp.py
Due: library, tests

Release 0.7.7
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

Release 0.7.7 (#990)
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

atvlog: Support serving output via web server
  docs/documentation/atvlog.md
  pyatv/scripts/atvlog.py
Due: library, docs

atvlog: Support serving output via web server (#997)
  docs/documentation/atvlog.md
  pyatv/scripts/atvlog.py
Due: library, docs

atvlog: Exit if no output was generated
  pyatv/scripts/atvlog.py
  pyatv/scripts/atvproxy.py
Due: library

atvlog: Exit if no output was generated (#1001)
  pyatv/scripts/atvlog.py
  pyatv/scripts/atvproxy.py
Due: library

tests: Fix incorrect camel case naming
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/test_mrp_functional.py
Due: tests

dmap: Reset revision if push update fails
  pyatv/dmap/__init__.py
  tests/dmap/test_dmap_functional.py
Due: library, tests

dmap: Reset revision if push update fails (#1004)
  pyatv/dmap/__init__.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Improve handling of unreliable connections
  pyatv/mrp/protocol.py
Due: library

mrp: Implement and enforce internal protocol state (fixes #1007)
  docs/api/pyatv/exceptions.html
  pyatv/exceptions.py
  pyatv/mrp/protocol.py
Due: library, docs

mrp: Implement and enforce internal protocol state (fixes #1007) (#1009)
  docs/api/pyatv/exceptions.html
  pyatv/exceptions.py
  pyatv/mrp/protocol.py
Due: library, docs

chore: update types in CryptoPairingMessage to be optional
  pyatv/mrp/protobuf/CryptoPairingMessage.proto
  pyatv/mrp/protobuf/CryptoPairingMessage_pb2.py
Due: library

chore: update types in CryptoPairingMessage to be optional (#1013)
  pyatv/mrp/protobuf/CryptoPairingMessage.proto
  pyatv/mrp/protobuf/CryptoPairingMessage_pb2.py
Due: library

doc: Add mermaid to support diagrams
  docs/_layouts/template.html
  docs/assets/js/mermaid.8.9.2.min.js
  docs/assets/js/mermaid.min.js.map
Due: docs
