Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project:
      default:
        target: auto
        threshold: 5%

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.md
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Updates since comments
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvremote.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Last changes
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
Due: library

Fixed linting
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvremote.py
  scripts/release.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, scripts, tests

Push modification
  scripts/release.py
Due: scripts

deps: Bump some lowest deps versions
  base_versions.txt
Due: docs

companion skip implementation
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Fixed old python version compatibility
  tests/fake_device/companion.py
Due: tests

Fixed linting
  tests/protocols/companion/test_companion_functional.py
Due: tests

Fixed linting
  pyatv/protocols/companion/api.py
Due: library

Linting
  pyatv/scripts/atvremote.py
  scripts/release.py
Due: library, scripts

Linting
  scripts/release.py
Due: scripts

Linting
  pyatv/scripts/atvremote.py
Due: library

Fixed tests
  tests/protocols/companion/test_companion_functional.py
Due: tests

Added touch gesture to companion protocol (#2402)
  docs/documentation/protocols.md
  docs/documentation/supported_features.md
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvremote.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

precise skip in companion, mrp, dmap
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, tests

deps: Sync some versions with base versions
  requirements/requirements.txt
Due: none

fix styling for 2462
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

opack: pack and unpack dates
  pyatv/support/opack.py
  tests/support/test_opack.py
Due: library, tests

deps: Bump protobuf base version to 4.25.3
  base_versions.txt
Due: docs

opack: fix byte encoding length
  pyatv/support/opack.py
  tests/support/test_opack.py
Due: library, tests

Release 0.15.0
  CHANGES.md
  docs/api/pyatv.const.html
  docs/api/pyatv.interface.html
  pyatv/const.py
Due: library, docs

raop: Fix broken audio streaming
  pyatv/protocols/raop/protocols/airplayv2.py
Due: library

Release 0.15.1
  CHANGES.md
  pyatv/const.py
Due: library, docs

bump protobuf to 5.28.0 in base_versions.txt
  base_versions.txt
Due: docs

Fix atvremote action enum
  pyatv/scripts/atvremote.py
Due: library

Add Input.Action to Companion
  pyatv/protocols/companion/__init__.py
  scripts/setup_dev_env.sh
  tests/protocols/companion/test_companion_functional.py
Due: library, scripts, tests
