Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

docs: Add a logo image and favicon
  README.md
  docs/_layouts/template.html
  docs/assets/img/logo.svg
  docs/favicon.ico
Due: docs

mrp: Clean up player path handling
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
Due: library

Update __init__.py
  pyatv/mrp/__init__.py
Due: library

cq: Exclude __pycache__ from black
  pyproject.toml
Due: none

gha: Bump codecov action
  .github/workflows/tests.yml
Due: none

gha: Disable codecov as it's broken
  .github/workflows/tests.yml
Due: none

docs: Various updates to documentation
  docs/development/examples.md
  docs/documentation/documentation.md
  docs/getting_started.md
  docs/support/faq.md
Due: docs

atvproxy: Simplify MRP usage
  docs/documentation/atvproxy.md
  pyatv/scripts/atvproxy.py
Due: library, docs

mrp: Clean up transaction message
  pyatv/mrp/protobuf/TransactionKey.proto
  pyatv/mrp/protobuf/TransactionKey_pb2.py
  pyatv/mrp/protobuf/TransactionKey_pb2.pyi
  pyatv/mrp/protobuf/TransactionMessage.proto
  pyatv/mrp/protobuf/TransactionMessage_pb2.py
  pyatv/mrp/protobuf/TransactionMessage_pb2.pyi
  pyatv/mrp/protobuf/TransactionPacket.proto
  pyatv/mrp/protobuf/TransactionPacket_pb2.py
  pyatv/mrp/protobuf/TransactionPacket_pb2.pyi
  pyatv/mrp/protobuf/TransactionPackets.proto
  pyatv/mrp/protobuf/TransactionPackets_pb2.py
  pyatv/mrp/protobuf/TransactionPackets_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

wip
  pyatv/mrp/transactions.py
  tests/mrp/test_transactions.py
Due: library, tests

mrp: Fix state when playback rate is wrong
  pyatv/mrp/player_state.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

mrp: Fix repeat state bug
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  pyatv/mrp/protobuf/Common.proto
  pyatv/mrp/protobuf/Common_pb2.py
  pyatv/mrp/protobuf/Common_pb2.pyi
  tests/fake_device/mrp.py
Due: library, tests

mrp: Move tlv8 to support and rename
  pyatv/mrp/auth.py
  pyatv/mrp/messages.py
  pyatv/mrp/server_auth.py
  pyatv/mrp/srp.py
  pyatv/support/hap_tlv8.py
  tests/support/test_hap_tlv8.py
Due: library, tests

mrp: Configure TCP keep-alive
  docs/support/faq.md
  pyatv/mrp/connection.py
  pyatv/support/net.py
  success
  tests/scripts/test_atvscript.py
Due: library, docs, tests

hap_tlv8: Convert to pytest
  tests/support/test_hap_tlv8.py
Due: tests

hap_tlv8: Use integer as key instead of string
  pyatv/mrp/server_auth.py
  pyatv/support/hap_tlv8.py
  tests/support/test_hap_tlv8.py
Due: library, tests

hap_tlv8: Use enums instead of constants
  pyatv/mrp/auth.py
  pyatv/mrp/server_auth.py
  pyatv/mrp/srp.py
  pyatv/support/hap_tlv8.py
Due: library

mrp: Use stringify for TLV8 errors
  pyatv/mrp/auth.py
Due: library

hap_tlv8: Add stringify method
  pyatv/support/hap_tlv8.py
  tests/support/test_hap_tlv8.py
Due: library, tests

net: Add method to get all private addresses
  pyatv/support/net.py
  tests/support/test_net.py
Due: library, tests

scan: Custom scanning implementation
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/support/udns.py
  tests/airplay/test_airplay.py
  tests/common_functional_tests.py
  tests/conftest.py
  tests/fake_udns.py
  tests/scripts/script_env.py
  tests/scripts/test_atvscript.py
  tests/support/test_udns.py
  tests/test_scan.py
  tests/utils.py
Due: library, docs, tests

scan: Add explicit bind to multicast scan
  pyatv/support/udns.py
Due: library

scan: Add more typing
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/support/udns.py
  tests/fake_udns.py
  tests/support/test_udns.py
Due: library, docs, tests

cq: Fix broken sleep stub
  tests/utils.py
Due: tests

udns: Cancel re-send loops properly
  pyatv/support/udns.py
Due: library

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
