Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

facade: Return remaining tasks in close
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/support/facade.py
  tests/conftest.py
  tests/support/test_facade.py
Due: library, docs, tests

facade: Only propagate one device update
  pyatv/interface.py
  pyatv/support/facade.py
  tests/common_functional_tests.py
  tests/support/test_facade.py
Due: library, tests

if: Move StateProducer to core and add max_calls
  docs/api/pyatv.html
  docs/api/pyatv/core.html
  docs/api/pyatv/interface.html
  pyatv/core/__init__.py
  pyatv/interface.py
  tests/core/test_core.py
Due: library, docs, tests

facade: Close protocols on device update
  pyatv/support/facade.py
  tests/support/test_facade.py
Due: library, tests

facade: Return pending tasks from previous close
  pyatv/support/facade.py
  tests/support/test_facade.py
Due: library, tests

facade: Close connections only once
  pyatv/support/facade.py
  tests/support/test_facade.py
Due: library, tests

core: Add state_was_updated to StateProducer
  docs/api/pyatv/core.html
  docs/api/pyatv/interface.html
  pyatv/core/__init__.py
  tests/core/test_core.py
Due: library, docs, tests

docs: Use absolute address to logo in README
  README.md
Due: docs

conf: Add password to RAOP output
  docs/api/pyatv/conf.html
  pyatv/conf.py
  tests/test_conf.py
Due: library, docs, tests

helpers: Add is_streamable method
  docs/api/pyatv/helpers.html
  docs/development/stream.md
  pyatv/helpers.py
  tests/test_helpers.py
Due: library, docs, tests

scripts: Add support for year, track and genre
  scripts/audiogen.py
Due: scripts

deps: Bump protobuf to 3.17.3
  base_versions.txt
Due: docs

core: Switch from audio-metadata to mediafile
  base_versions.txt
  pyatv/raop/__init__.py
  pyatv/raop/audio_source.py
  pyatv/raop/metadata.py
Due: library, docs

airplay: Rename auth to auth_legacy
  pyatv/airplay/__init__.py
  pyatv/airplay/auth.py
  pyatv/airplay/pairing.py
  pyatv/raop/raop.py
  tests/airplay/test_airplay_auth.py
Due: library, tests

auth: Refactor to general HAP pairing scheme
  pyatv/airplay/__init__.py
  pyatv/airplay/auth_legacy.py
  pyatv/airplay/pairing.py
  pyatv/airplay/srp.py
  pyatv/auth/hap_pairing.py
  pyatv/companion/auth.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  pyatv/mrp/auth.py
  pyatv/mrp/pairing.py
  pyatv/mrp/protocol.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/support/hap_srp.py
  scripts/api.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
Due: library, scripts, tests

http: Add pre/post processors to HttpConnection
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

airplay: Add legacy to auth procedure name
  pyatv/airplay/__init__.py
  pyatv/airplay/auth_legacy.py
  pyatv/airplay/pairing.py
  pyatv/raop/raop.py
  tests/airplay/test_airplay_auth.py
Due: library, tests

auth: Move tlv8 and srp to auth modules
  pyatv/airplay/server_auth.py
  pyatv/auth/hap_srp.py
  pyatv/auth/hap_tlv8.py
  pyatv/companion/__init__.py
  pyatv/companion/auth.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  pyatv/companion/server_auth.py
  pyatv/mrp/__init__.py
  pyatv/mrp/auth.py
  pyatv/mrp/messages.py
  pyatv/mrp/pairing.py
  pyatv/mrp/server_auth.py
  pyatv/scripts/atvproxy.py
  tests/mrp/test_protocol.py
  tests/support/test_hap_tlv8.py
Due: library, tests

airplay: Add HAP auth support
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/auth/hap.py
  pyatv/airplay/auth/legacy.py
  pyatv/airplay/srp.py
  tests/airplay/auth/test_airplay_legacy_auth.py
  tests/airplay/auth/test_auth.py
Due: library, tests

airplay: Refactor auth for multiple types
  pyatv/airplay/__init__.py
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/auth/legacy.py
  pyatv/airplay/pairing.py
  pyatv/auth/hap_pairing.py
  pyatv/companion/protocol.py
  pyatv/mrp/pairing.py
  pyatv/mrp/protocol.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  tests/airplay/auth/test_airplay_legacy_auth.py
  tests/airplay/auth/test_auth.py
  tests/airplay/test_airplay_pair.py
  tests/auth/test_hap_tlv8.py
  tests/scripts/test_atvremote.py
Due: library, tests

airplay: Add auth type to pair_setup
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/pairing.py
Due: library

airplay: Generate new credentials for Pair-Setup
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/pairing.py
  tests/airplay/auth/test_auth.py
  tests/airplay/test_airplay_pair.py
  tests/conftest.py
  tests/scripts/test_atvremote.py
Due: library, tests

raop: Move metadata to support
  pyatv/mrp/connection.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/scripts/atvproxy.py
  pyatv/support/metadata.py
  pyatv/support/rtsp.py
  pyatv/support/variant.py
  scripts/protobuf.py
  tests/fake_device/mrp.py
  tests/support/test_variant.py
Due: library, scripts, tests

auth: Add abstract class for HAP channels
  pyatv/auth/hap_channel.py
Due: library

support: Add length field to packet
  pyatv/support/packet.py
  tests/support/test_packet.py
Due: library, tests

raop: Move packets to support
  pyatv/raop/packets.py
  pyatv/support/packet.py
  tests/support/test_packet.py
Due: library, tests
