Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project:
      default:
        target: auto
        threshold: 5%

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.md
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

FIx for Keyboard Focus state changed not working
  pyatv/settings.py
Due: library

companion: send TVRCSessionStart during connect
  pyatv/protocols/companion/api.py
Due: library

companion: never send a null _i in _systemInfo
  pyatv/protocols/companion/api.py
Due: library

companion: add tests for TVRCSessionStart and _systemInfo identifier
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: tests

docs: document TVRCSessionStart and the _systemInfo _i requirement
  docs/documentation/protocols.md
Due: docs

Preserve underlying error when InternetSource fails to decode
  pyatv/protocols/raop/audio_source.py
Due: library

Fix regression with tvOS 26.5
  pyatv/protocols/companion/api.py
Due: library

Linting
  pyatv/protocols/companion/api.py
Due: library

Reported modification to fakedevice for testings
  tests/fake_device/companion.py
Due: tests

Revert "Linting"
  pyatv/protocols/companion/api.py
Due: library

Revert "Fix regression with tvOS 26.5"
  pyatv/protocols/companion/api.py
Due: library

Revert "Reported modification to fakedevice for testings"
  tests/fake_device/companion.py
Due: tests

Release 0.17.0 (#2813)
  CHANGES.md
  docs/api/pyatv.const.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.html
  pyatv/const.py
Due: library, docs

Change to Python 3.14 in Dockerfil
  Dockerfile
Due: none

Update pyatv/protocols/raop/audio_source.py
  pyatv/protocols/raop/audio_source.py
Due: library

Fix exception handling for DecodeError
  pyatv/protocols/raop/audio_source.py
Due: library

companion: keep power-state subscription when initial fetch fails
  pyatv/protocols/companion/__init__.py
Due: library

Address review: restore required loop arg in examples, fix knock typing
  examples/connect_with_credentials.py
  examples/manual_connect.py
  examples/pairing.py
  examples/play_url.py
  examples/scan_and_connect.py
  examples/storage.py
  examples/stream.py
  examples/tutorial.py
  pyatv/support/knock.py
Due: library, examples

Release 0.18.0
  CHANGES.md
  pyatv/const.py
Due: library, docs

tests: avoid reverse-DNS hang when starting pytest-httpserver
  tests/conftest.py
Due: tests

raop: close residual read deadlock for non-aligned streams (#2849)
  pyatv/protocols/raop/audio_source.py
  tests/protocols/raop/test_audio_source.py
Due: library, tests

tests: reuse data_webserver fixture; cover the deadlock gap
  tests/protocols/raop/test_audio_source.py
Due: tests
