Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

raop: Move packets to support
  pyatv/raop/packets.py
  pyatv/support/packet.py
  tests/support/test_packet.py
Due: library, tests

airplay: Add helper verify_connection to auth
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/auth/legacy.py
  pyatv/auth/hap_pairing.py
  tests/airplay/auth/test_airplay_legacy_auth.py
Due: library, tests

airplay: Refactor auth for multiple types
  pyatv/airplay/__init__.py
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/auth/legacy.py
  pyatv/airplay/pairing.py
  pyatv/auth/hap_pairing.py
  pyatv/companion/protocol.py
  pyatv/mrp/pairing.py
  pyatv/mrp/protocol.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  tests/airplay/auth/test_airplay_legacy_auth.py
  tests/airplay/auth/test_auth.py
  tests/airplay/test_airplay_pair.py
  tests/auth/test_hap_tlv8.py
  tests/scripts/test_atvremote.py
Due: library, tests

raop: Generalize the RTSP implementation
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library

core: Set up protocols independently
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/core/__init__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/support/facade.py
  tests/dmap/test_dmap_functional.py
  tests/support/test_facade.py
Due: library, docs, tests

airplay: Pick most suitable pairing type
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
Due: library

mrp: Generalize set up of MRP
  pyatv/mrp/__init__.py
  pyatv/mrp/connection.py
  pyatv/mrp/protocol.py
  tests/mrp/test_protocol.py
Due: library, tests

auth: Add HAPSession used for encryption
  pyatv/auth/hap_session.py
Due: library

airplay: Rename auth to auth_legacy
  pyatv/airplay/__init__.py
  pyatv/airplay/auth.py
  pyatv/airplay/pairing.py
  pyatv/raop/raop.py
  tests/airplay/test_airplay_auth.py
Due: library, tests

auth: Add abstract class for HAP channels
  pyatv/auth/hap_channel.py
Due: library

auth: Move tlv8 and srp to auth modules
  pyatv/airplay/server_auth.py
  pyatv/auth/hap_srp.py
  pyatv/auth/hap_tlv8.py
  pyatv/companion/__init__.py
  pyatv/companion/auth.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  pyatv/companion/server_auth.py
  pyatv/mrp/__init__.py
  pyatv/mrp/auth.py
  pyatv/mrp/messages.py
  pyatv/mrp/pairing.py
  pyatv/mrp/server_auth.py
  pyatv/scripts/atvproxy.py
  tests/mrp/test_protocol.py
  tests/support/test_hap_tlv8.py
Due: library, tests

raop: Add support for legacy pairing
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
  pyatv/raop/__init__.py
Due: library, docs

support: Add collection method dict_merge
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/support/collections.py
  tests/support/test_collections.py
Due: library, docs, tests

devinfo: Add new tvOS build numbers
  pyatv/support/device_info.py
Due: library

if: Base DeviceInfo on dict
  pyatv/conf.py
  pyatv/interface.py
  tests/test_interface.py
Due: library, tests

conf: Move device_info implementations to protocol
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/conf.py
  pyatv/core/__init__.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/support/facade.py
  pyatv/support/scan.py
  tests/airplay/test_airplay.py
  tests/companion/test_companion.py
  tests/dmap/test_dmap.py
  tests/mrp/test_mrp.py
  tests/raop/test_raop.py
  tests/support/test_facade.py
  tests/test_conf.py
  tests/test_interface.py
Due: library, docs, tests

mrp: Extract build number from DEVICE_INFO
  docs/documentation/concepts.md
  docs/documentation/supported_features.md
  pyatv/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, docs, tests

gha: Build and publish Docker containers
  .github/workflows/packages.yml
  scripts/version.py
Due: scripts

gha: Create GitHub release when tag is pushed
  .github/workflows/release.yml
Due: none

gha: Fix building containers and make releases
  .github/workflows/release.yml
  Dockerfile
  pyatv/scripts/atvremote.py
  scripts/version.py
Due: library, scripts

gha: Fix remaining issues with release workflow
  .github/workflows/release.yml
  README.md
Due: docs

gh: Convert issue templates to forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/implementation-proposal.md
  .github/ISSUE_TEMPLATE/implementation-proposal.yml
  .github/ISSUE_TEMPLATE/investigation.md
  .github/ISSUE_TEMPLATE/investigation.yml
  .github/ISSUE_TEMPLATE/question-or-idea.md
  .github/ISSUE_TEMPLATE/question-or-idea.yml
Due: none

gha: Change tags and labels a bit for containers
  .github/workflows/release.yml
  docs/documentation/documentation.md
Due: docs

gh: Fix bad labels for investigation and bugs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/investigation.yml
Due: none

core: Move airplay to protocols
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/auth/__init__.py
  pyatv/protocols/airplay/auth/hap.py
  pyatv/protocols/airplay/auth/hap_transient.py
  pyatv/protocols/airplay/auth/legacy.py
  pyatv/protocols/airplay/channels.py
  pyatv/protocols/airplay/features.py
  pyatv/protocols/airplay/mrp_connection.py
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/airplay/player.py
  pyatv/protocols/airplay/remote_control.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/protocols/airplay/srp.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/scripts/atvremote.py
  scripts/api.py
  tests/conftest.py
  tests/dmap/test_dmap.py
  tests/protocols/airplay/auth/test_airplay_legacy_auth.py
  tests/protocols/airplay/auth/test_auth.py
  tests/protocols/airplay/conftest.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/airplay/test_airplay_pair.py
  tests/protocols/airplay/test_airplay_player.py
  tests/protocols/airplay/test_airplay_scan.py
  tests/protocols/airplay/test_features.py
Due: library, docs, scripts, tests

core: Move facade to core
  pyatv/core/facade.py
  pyatv/core/relayer.py
  tests/core/test_relayer.py
Due: library, tests

core: Move net to core
  pyatv/core/mdns.py
  pyatv/core/net.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/mrp/connection.py
  pyatv/scripts/atvproxy.py
  pyatv/support/http.py
  tests/conftest.py
  tests/core/test_mdns.py
  tests/core/test_mdns_functional.py
  tests/core/test_net.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/support/test_knock.py
Due: library, tests

core: Move companion to protocols
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/auth.py
  pyatv/protocols/companion/connection.py
  pyatv/protocols/companion/opack.py
  pyatv/protocols/companion/pairing.py
  pyatv/protocols/companion/protocol.py
  pyatv/protocols/companion/server_auth.py
  pyatv/scripts/atvproxy.py
  scripts/api.py
  tests/fake_device/companion.py
  tests/protocols/companion/conftest.py
  tests/protocols/companion/test_companion.py
  tests/protocols/companion/test_companion_auth.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/companion/test_companion_scan.py
  tests/protocols/companion/test_opack.py
Due: library, docs, scripts, tests

core: Move dmap to protocols
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/dmap/daap.py
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/dmap/parser.py
  pyatv/protocols/dmap/tag_definitions.py
  pyatv/protocols/dmap/tags.py
  pyatv/support/rtsp.py
  scripts/api.py
  tests/fake_device/dmap.py
  tests/fake_device/raop.py
  tests/protocols/dmap/test_daap.py
  tests/protocols/dmap/test_dmap.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/dmap/test_dmap_pairing.py
  tests/protocols/dmap/test_dmap_scan.py
  tests/protocols/dmap/test_parser.py
Due: library, docs, scripts, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
