Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

audiogen: Add new script to generate audio files
  requirements_test.txt
  scripts/audiogen.py
Due: docs, scripts

raop: Add initial functional tests
  pyatv/dmap/tag_definitions.py
  pyatv/raop/__init__.py
  pyatv/raop/packets.py
  pyatv/raop/raop.py
  tests/common_functional_tests.py
  tests/data/README
  tests/data/audio_10_frames.wav
  tests/data/audio_3_packets.wav
  tests/data/only_metadata.wav
  tests/fake_device/raop.py
  tests/raop/conftest.py
  tests/raop/test_packets.py
  tests/raop/test_raop_functional.py
  tests/utils.py
Due: library, tests

http: Add a simple web server implementation
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

raop: Add basic fake device
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/raop/raop.py
  pyatv/support/http.py
  scripts/fake_device.py
  tests/common_functional_tests.py
  tests/data/testfile.txt
  tests/fake_device/__init__.py
  tests/fake_device/raop.py
  tests/raop/conftest.py
  tests/support/test_http.py
  tests/utils.py
Due: library, docs, scripts, tests

raop: Avoid blocking I/O in MiniaudioWrapper
  pyatv/raop/__init__.py
  pyatv/raop/miniaudio.py
Due: library

raop: Avoid blocking I/O when loading metadata
  pyatv/raop/__init__.py
  pyatv/raop/metadata.py
Due: library

raop: Fix instability in retransmission test
  tests/raop/test_raop_functional.py
Due: tests

raop: Send feedback if supported by receiver
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  tests/fake_device/raop.py
  tests/raop/test_raop_functional.py
Due: library, tests

cq: Clean up usage of ensure_future
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/mrp/protocol.py
  pyatv/raop/raop.py
  pyatv/scripts/atvproxy.py
  pyatv/support/knock.py
  pyatv/support/mdns.py
Due: library

raop: Support progress (position and total_time)
  pyatv/raop/__init__.py
  pyatv/raop/metadata.py
  pyatv/raop/raop.py
  scripts/audiogen.py
  tests/data/README
  tests/data/static_3sec.ogg
  tests/raop/test_raop_functional.py
Due: library, scripts, tests

raop: Correctly implement position in metadata
  docs/documentation/supported_features.md
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  pyatv/raop/timing.py
Due: library, docs

facade: Enforce percentage level for audio
  docs/api/pyatv/interface.html
  pyatv/interface.py
  pyatv/support/facade.py
  tests/support/test_facade.py
Due: library, docs, tests

support: Add map_range function
  pyatv/support/__init__.py
  tests/support/test_support.py
Due: library, tests

raop: Initial volume support
  docs/api/pyatv/interface.html
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  pyatv/support/collections.py
  tests/fake_device/raop.py
  tests/raop/test_raop_functional.py
Due: library, docs, tests

raop: Make sure authentication is performed early
  pyatv/raop/raop.py
  tests/fake_device/raop.py
  tests/raop/test_raop_functional.py
Due: library, tests

raop: Support set_volume, volume_up, volume_down
  docs/api/pyatv/interface.html
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  pyatv/support/http.py
  tests/raop/test_raop_functional.py
Due: library, docs, tests

raop: Only allow one stream at the time
  pyatv/raop/__init__.py
  tests/raop/test_raop_functional.py
Due: library, tests

raop: Handle muted volume level
  pyatv/raop/__init__.py
  tests/fake_device/raop.py
  tests/raop/test_raop_functional.py
Due: library, tests

raop: Minor updates to documentation
  docs/documentation/supported_features.md
Due: docs

raop: Support devices not implementing /info
  pyatv/raop/rtsp.py
  tests/fake_device/raop.py
  tests/raop/test_raop_functional.py
Due: library, tests

deps: Temporarily lock bitarray <2.1.1
  base_versions.txt
Due: docs
