Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

mdns: Revert binding to port 5353
  pyatv/support/mdns.py
Due: library

mrp: Handle UpdateClient before SetState
  pyatv/mrp/player_state.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Release 0.7.5
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

Use 127.0.0.1 for testing local servers
  tests/support/test_net.py
Due: tests

Fix keepalive tests on Windows
  tests/support/test_net.py
Due: tests

Require Python 3.7 for TCP keepalive on Windows
  tests/support/test_net.py
Due: tests

Skip missing TCP_KEEPIDLE test on Darwin
  pyatv/support/net.py
  tests/support/test_net.py
Due: library, tests

Use TCP keep alive whenever the symbols are available
  pyatv/support/net.py
Due: library

Remove socket.shutdown in keepalive tests
  tests/support/test_net.py
Due: tests

Add tests for TCP keepalive
  tests/support/test_net.py
Due: tests

net: Use TCP keepalive on more platforms (#897)
  pyatv/support/net.py
  tests/support/test_net.py
Due: library, tests

mdns: Start improving typing
  pyatv/support/mdns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_mdns.py
Due: library, tests

mdns: Import just 'typing' package
  pyatv/support/mdns.py
  tests/support/test_mdns_functional.py
Due: library, tests

mdns: Alphabetize stdlib imports
  pyatv/support/mdns.py
Due: library

mdns: Update pylint ignore directives for Exception
  pyatv/support/mdns.py
Due: library

mdns: Improve DNS-SD RFC conformance for properties
  pyatv/support/mdns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
Due: library, tests

mdns: Improve type hints for tests and utils
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/test_scan_functional.py
Due: tests

mdns: Improve name encoding RFC conformance
  pyatv/support/mdns.py
Due: library

mdns: Rewrite DNS decoding to use BytesIO and improve RFC conformance
  pyatv/support/mdns.py
  tests/support/test_mdns.py
Due: library, tests

mdns: Add docstrings to CaseInsensitiveDict and QueryType
  pyatv/support/mdns.py
Due: library

mdns: Add unpack_stream helper
  pyatv/support/mdns.py
Due: library

mdns: Split DNS parsing and CaseInsensitiveDict into separate modules
  pyatv/support/collections.py
  pyatv/support/dns.py
  pyatv/support/mdns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_mdns.py
Due: library, tests

mdns: Add tests for dns module and fix bug with name decoding
  pyatv/support/dns.py
  tests/support/test_dns.py
  tests/support/test_mdns.py
Due: library, tests

Loosen Service.properties type hints to Mappings
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/interface.py
  pyatv/support/mdns.py
Due: library, docs

mdns: CaseInsensitiveDict is now a MutableMapping
  pyatv/support/collections.py
  pyatv/support/dns.py
  pyatv/support/mdns.py
  tests/support/test_collections.py
Due: library, tests

Restrict protobuf to below version 4
  base_versions.txt
Due: docs

Make srptools a normal strict equality requirement
  base_versions.txt
Due: docs

Slightly refine protobuf and srptools base requirements (#902)
  base_versions.txt
Due: docs

dns: Clarify docstring for unpack_stream()
  pyatv/support/dns.py
Due: library

dns: Log a warning for name labels that are too long
  pyatv/support/dns.py
Due: library

dns: Use pack() methods on DnsHeader and DnsQuestion
  pyatv/support/dns.py
Due: library

support: Add new tvOS versions to list
  pyatv/support/device_info.py
Due: library

Improve DNS message parsing for mDNS (#899)
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/interface.py
  pyatv/support/collections.py
  pyatv/support/dns.py
  pyatv/support/mdns.py
  tests/fake_udns.py
  tests/support/dns_utils.py
  tests/support/test_collections.py
  tests/support/test_dns.py
  tests/support/test_mdns.py
  tests/support/test_mdns_functional.py
  tests/test_scan_functional.py
Due: library, docs, tests

support: Add new tvOS versions to list (#913)
  pyatv/support/device_info.py
Due: library

mrp: Improve client and player handling
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/fake_device/mrp.py
Due: library, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
