Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

airplay: Support Disabled pairing requirement
  pyatv/protocols/airplay/__init__.py
  tests/protocols/airplay/test_airplay.py
Due: library, tests

raop: Support Disabled pairing requirement
  pyatv/protocols/raop/__init__.py
  stream.py
  tests/protocols/raop/test_raop.py
Due: library, tests

convert: Add model_str method
  docs/api/pyatv/convert.html
  pyatv/convert.py
  tests/test_convert.py
Due: library, docs, tests

core: Use connect order based on protocol
  docs/api/pyatv.html
  pyatv/__init__.py
Due: library, docs

companion: Better support for pairing requirement
  pyatv/protocols/companion/__init__.py
  tests/protocols/companion/test_companion.py
Due: library, tests

mrp: Updates to volume management
  pyatv/protocols/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, tests

Release 0.9.1
  .github/workflows/release.yml
  CHANGES.md
  pyatv/const.py
Due: library, docs

scan: Support scanning for multiple identifiers
  docs/api/pyatv.html
  docs/development/scan_pair_and_connect.md
  pyatv/__init__.py
  pyatv/core/scan.py
  pyatv/scripts/__init__.py
  pyatv/scripts/atvremote.py
  tests/scripts/test_atvremote.py
  tests/test_scan_functional.py
Due: library, docs, tests

companion: Improve pairing requirement detection
  pyatv/protocols/companion/__init__.py
  tests/protocols/companion/test_companion.py
Due: library, tests

fix wrong param
  docs/documentation/tutorial.md
Due: docs

dmap: Add device model Music for Music/iTunes
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/convert.py
  pyatv/core/scan.py
  pyatv/interface.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/companion/test_companion.py
  tests/protocols/dmap/test_dmap.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/mrp/test_mrp.py
  tests/protocols/raop/test_raop.py
  tests/test_convert.py
  tests/test_interface.py
Due: library, docs, tests

core: Add raw_model to DeviceInfo
  docs/api/pyatv/interface.html
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/fake_device/mrp.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/companion/test_companion.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/raop/test_raop.py
  tests/test_interface.py
Due: library, docs, tests

dmap: Avoid unnecessary creation of Zeroconf
  pyatv/protocols/dmap/pairing.py
Due: library

companion: Enable test that should be enabled
  tests/protocols/companion/test_companion.py
Due: tests

Release 0.9.2
  .github/workflows/release.yml
  CHANGES.md
  pyatv/const.py
Due: library, docs

WIP: Ignore NoOp responses
  pyatv/protocols/companion/connection.py
  pyatv/scripts/atvremote.py
Due: library

wip
  pyatv/protocols/companion/__init__.py
Due: library

docs: Add docs for app_list and launch_app
  docs/documentation/atvremote.md
Due: docs

airplay: Handle semver version in osvers
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/remote_control.py
  pyatv/protocols/airplay/utils.py
  tests/protocols/airplay/test_utils.py
Due: library, tests

mrp: Ignore service during scan for tvOS >= 15
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/fake_udns.py
  tests/support/test_device_info.py
  tests/test_scan_functional.py
Due: library, tests

net: Set multicast options after bind
  pyatv/support/net.py
Due: library

core: Don't connect to dummy services
  pyatv/__init__.py
Due: library

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
