Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project:
      default:
        target: auto
        threshold: 5%

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.md
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

build(deps): Bump protobuf from 6.31.0 to 6.31.1 in /base_versions.txt
  base_versions.txt
Due: docs

companion: Use static id for _i in _systemInfo
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.file_storage.html
  docs/api/pyatv.storage.html
  docs/api/pyatv.storage.memory_storage.html
  pyatv/protocols/companion/api.py
  pyatv/settings.py
  pyatv/storage/__init__.py
  pyatv/storage/file_storage.py
  pyatv/storage/memory_storage.py
  pyproject.toml
  tests/storage/test_memory_storage.py
  tests/test_storage_functional.py
Due: library, docs, tests

Release 0.16.1
  CHANGES.md
  docs/api/pyatv.const.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.html
  pyatv/const.py
Due: library, docs

Modernize packaging
  .github/workflows/release.yml
  pyproject.toml
  setup.py
Due: none

Use asyncio.timeout for Python 3.11+
  base_versions.txt
  pyatv/protocols/mrp/protocol.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
  requirements/requirements.txt
Due: library, docs

Remove black target-version
  pyproject.toml
Due: none

Update code formatting for Python 3.9+
  pyatv/__init__.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/audio_source.py
  pyatv/protocols/raop/stream_client.py
  pyatv/support/buffer.py
  pyatv/support/collections.py
  tests/core/test_scan.py
  tests/fake_device/mrp.py
Due: library, tests

Fix pip install in test script
  scripts/chickn.py
Due: scripts

Remove unnecessary bdist_wheel config
  setup.cfg
Due: none

Drop support for pydantic v1
  base_versions.txt
  pyatv/settings.py
  pyatv/storage/__init__.py
  pyatv/storage/file_storage.py
  pyatv/support/__init__.py
  pyatv/support/pydantic_compat.py
  tests/support/test_support.py
  tests/test_storage_functional.py
Due: library, docs, tests

Update stringify_model for Python 3.14
  pyatv/support/__init__.py
Due: library

Move version guard and import alias to pyatv.support
  pyatv/protocols/mrp/protocol.py
  pyatv/support/__init__.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
Due: library

Use asyncio.timeout for Python 3.11+ (#2735)
  base_versions.txt
  pyatv/protocols/mrp/protocol.py
  pyatv/support/__init__.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
  requirements/requirements.txt
  scripts/chickn.py
Due: library, docs, scripts

Add Python 3.14
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/tests.yml
  setup.py
Due: none

fix(net): fallback multicast join without adapters
  pyatv/support/net.py
Due: library

feat(mrp): add fire-and-forget remote option and clearer reconnect errors
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/connection.py
  pyatv/protocols/mrp/protocol.py
  tests/protocols/mrp/test_mrp_interface.py
  tests/protocols/mrp/test_protocol.py
Due: library, tests

feat(remote): expose send_command on interface/facade
  pyatv/core/facade.py
  pyatv/interface.py
Due: library

fix link for `c4-pyatv-remote`
  docs/index.md
Due: docs

Add Python 3.14 (#2800)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/tests.yml
  setup.py
Due: none

Added ability to set volume per (connected) device (#2673)
  pyatv/core/__init__.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/scripts/atvscript.py
  tests/core/test_facade.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, tests

Modernize packaging (#2734)
  .github/workflows/release.yml
  pyatv/__init__.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/audio_source.py
  pyatv/protocols/raop/stream_client.py
  pyatv/support/buffer.py
  pyatv/support/collections.py
  pyproject.toml
  setup.cfg
  setup.py
  tests/core/test_scan.py
  tests/fake_device/mrp.py
Due: library, tests

Add support for Guide and Control Center (#2699)
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Release 0.17.0
  CHANGES.md
  docs/api/pyatv.const.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.html
  pyatv/const.py
Due: library, docs

Pin Python version in dockerfile to 3.14.2
  Dockerfile
Due: none

Pin python in docker to 3.14.2
  Dockerfile
Due: none

fix(net): avoid public IP for route probe
  pyatv/support/net.py
Due: library

Fix Python 3.14 compatibility: replace deprecated asyncio.get_event_loop()
  examples/auto_connect.py
  examples/connect_with_credentials.py
  examples/manual_connect.py
  examples/pairing.py
  examples/play_url.py
  examples/scan_and_connect.py
  examples/storage.py
  examples/stream.py
  examples/tutorial.py
  pyatv/auth/hap_channel.py
  pyatv/core/__init__.py
  pyatv/core/protocol.py
  pyatv/helpers.py
  pyatv/protocols/airplay/player.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/raop/audio_source.py
  pyatv/protocols/raop/stream_client.py
  pyatv/scripts/atvlog.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  pyatv/support/http.py
  pyatv/support/knock.py
  pyatv/support/metadata.py
  tests/scripts/conftest.py
  tests/scripts/test_asyncio_compat.py
Due: library, examples, tests

Re-enabled some logs
  pyatv/support/http.py
Due: library

Detect playbackState changes
  docs/documentation/protocols.md
  pyatv/protocols/airplay/ap2_session.py
  pyatv/protocols/airplay/auth/hap.py
  pyatv/protocols/airplay/auth/legacy.py
  pyatv/protocols/airplay/channels.py
  pyatv/protocols/airplay/player.py
  pyatv/protocols/raop/protocols/__init__.py
  pyatv/protocols/raop/protocols/airplayv2.py
  pyatv/scripts/atvproxy.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
Due: library, docs

minor requirements updates
  base_versions.txt
  requirements/requirements.txt
Due: docs

Fix regression with tvOS 26.5
  pyatv/protocols/companion/api.py
Due: library

Linting
  pyatv/protocols/companion/api.py
Due: library

Reported modification to fakedevice for testings
  tests/fake_device/companion.py
Due: tests

raop: fix read-side deadlock in PatchedIceCastClient (#2849)
  pyatv/protocols/raop/audio_source.py
  requirements/requirements.txt
  tests/data/audio_long.mp3
  tests/protocols/raop/test_audio_source.py
Due: library, tests
