Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

auth: Refactor HAP for generic key derivation
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/auth/hap.py
  pyatv/airplay/auth/legacy.py
  pyatv/auth/hap_pairing.py
  pyatv/companion/auth.py
  pyatv/companion/protocol.py
  pyatv/mrp/auth.py
  pyatv/mrp/protocol.py
  tests/airplay/auth/test_airplay_legacy_auth.py
Due: library, tests

raop: Move RTSP implementation to support
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/support/rtsp.py
Due: library

airplay: Various connection robustness changes
  pyatv/airplay/__init__.py
  pyatv/airplay/channels.py
  pyatv/airplay/remote_control.py
  pyatv/core/protocol.py
  pyatv/mrp/connection.py
  pyatv/mrp/protocol.py
  pyatv/scripts/atvremote.py
  tests/conftest.py
  tests/core/test_protocol.py
Due: library, tests

docs: Add instructions for close
  docs/development/scan_pair_and_connect.md
Due: docs

core: Set up protocols independently
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/core/__init__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/support/facade.py
  tests/dmap/test_dmap_functional.py
  tests/support/test_facade.py
Due: library, docs, tests

raop: Generalize the RTSP implementation
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
Due: library

raop: Add support for legacy pairing
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
  pyatv/raop/__init__.py
Due: library, docs

auth: Add HAPSession used for encryption
  pyatv/auth/hap_session.py
Due: library

core: Allow setup to yield multiple instances
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/support/facade.py
Due: library, docs

docs: Remove internal things from API docs
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  scripts/api.py
Due: library, docs, scripts

airplay: Add helper verify_connection to auth
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/auth/legacy.py
  pyatv/auth/hap_pairing.py
  tests/airplay/auth/test_airplay_legacy_auth.py
Due: library, tests

airplay: Pick most suitable pairing type
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
Due: library

airplay: Add support for transient pairing
  pyatv/airplay/__init__.py
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/auth/hap_transient.py
  pyatv/airplay/remote_control.py
  pyatv/auth/hap_channel.py
  pyatv/auth/hap_pairing.py
  pyatv/auth/hap_session.py
  pyatv/auth/hap_srp.py
Due: library

mrp: Add VolumeDidChangeMessage
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/protobuf/VolumeDidChangeMessage.proto
  pyatv/mrp/protobuf/VolumeDidChangeMessage_pb2.py
  pyatv/mrp/protobuf/VolumeDidChangeMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

core: Refactor pair to take service
  docs/api/pyatv/interface.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
  pyatv/companion/__init__.py
  pyatv/companion/pairing.py
  pyatv/dmap/__init__.py
  pyatv/dmap/pairing.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/pairing.py
  tests/dmap/test_dmap_pairing.py
Due: library, docs, tests

airplay: Add module to parse features
  pyatv/airplay/features.py
  tests/airplay/test_features.py
Due: library, tests

mrp: Generalize set up of MRP
  pyatv/mrp/__init__.py
  pyatv/mrp/connection.py
  pyatv/mrp/protocol.py
  tests/mrp/test_protocol.py
Due: library, tests

airplay: Support MRP tunneling over AirPlay 2
  pyatv/airplay/__init__.py
  pyatv/airplay/channels.py
  pyatv/airplay/mrp_connection.py
  pyatv/airplay/remote_control.py
  pyatv/auth/hap_channel.py
  pyatv/mrp/messages.py
  pyatv/scripts/atvremote.py
  pyatv/support/rtsp.py
Due: library

core: Return protocol when setting up protocol
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/support/facade.py
  tests/support/test_facade.py
Due: library, docs, tests

airplay: Add auth type to pair_setup
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/pairing.py
Due: library

support: Add length field to packet
  pyatv/support/packet.py
  tests/support/test_packet.py
Due: library, tests

auth: Refactor to general HAP pairing scheme
  pyatv/airplay/__init__.py
  pyatv/airplay/auth_legacy.py
  pyatv/airplay/pairing.py
  pyatv/airplay/srp.py
  pyatv/auth/hap_pairing.py
  pyatv/companion/auth.py
  pyatv/companion/pairing.py
  pyatv/companion/protocol.py
  pyatv/mrp/auth.py
  pyatv/mrp/pairing.py
  pyatv/mrp/protocol.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/support/hap_srp.py
  scripts/api.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
Due: library, scripts, tests

raop: Move metadata to support
  pyatv/mrp/connection.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/scripts/atvproxy.py
  pyatv/support/metadata.py
  pyatv/support/rtsp.py
  pyatv/support/variant.py
  scripts/protobuf.py
  tests/fake_device/mrp.py
  tests/support/test_variant.py
Due: library, scripts, tests

airplay: Generate new credentials for Pair-Setup
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/pairing.py
  tests/airplay/auth/test_auth.py
  tests/airplay/test_airplay_pair.py
  tests/conftest.py
  tests/scripts/test_atvremote.py
Due: library, tests

airplay: Add legacy to auth procedure name
  pyatv/airplay/__init__.py
  pyatv/airplay/auth_legacy.py
  pyatv/airplay/pairing.py
  pyatv/raop/raop.py
  tests/airplay/test_airplay_auth.py
Due: library, tests

http: Add pre/post processors to HttpConnection
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

airplay: Add HAP auth support
  pyatv/airplay/auth/__init__.py
  pyatv/airplay/auth/hap.py
  pyatv/airplay/auth/legacy.py
  pyatv/airplay/srp.py
  tests/airplay/auth/test_airplay_legacy_auth.py
  tests/airplay/auth/test_auth.py
Due: library, tests
