Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

deps: Fix flake8 issues
  pyatv/interface.py
  pyatv/protocols/dmap/__init__.py
Due: library

protobuf: Hardcode protoc version again
  scripts/protobuf.py
Due: scripts

deps: Fix new black issues
  pyatv/helpers.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/dmap/daap.py
  pyatv/protocols/mrp/server_auth.py
  pyatv/scripts/atvremote.py
  tests/core/test_facade.py
  tests/test_interface.py
  tests/utils.py
Due: library, tests

added support for companion protocol text input
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/keyed_archiver.py
  pyatv/protocols/companion/plist_payloads/__init__.py
  pyatv/protocols/companion/plist_payloads/rti_text_operations.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

add new keyboard interface for text input
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/scripts/atvremote.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

close connection to companion device when client disconnects
  pyatv/scripts/atvproxy.py
Due: library

return an identifier for Companion service
  pyatv/helpers.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
Due: library

support opack packing with large object lists
  pyatv/support/opack.py
  tests/support/test_opack.py
Due: library, tests

fix encryption issue when sending frames with no data (for example FrameType.NoOp)
  pyatv/protocols/companion/connection.py
  pyatv/scripts/atvproxy.py
Due: library

process buffer until it is empty
  pyatv/scripts/atvproxy.py
Due: library

proxy all traffic, not just OPACK requests and responses
  pyatv/protocols/companion/connection.py
  pyatv/scripts/atvproxy.py
Due: library

update published companion proxy properties, and support copying properties from remote
  pyatv/scripts/atvproxy.py
Due: library

adjust system info request and response payloads to prevent disconnects
  pyatv/scripts/atvproxy.py
  pyatv/support/__init__.py
Due: library

update atvproxy documentation
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/documentation/atvproxy.md
Due: docs

added listener interface to Audio for volume updates
  docs/api/pyatv/interface.html
  docs/development/listeners.md
  docs/documentation/atvscript.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/scripts/atvscript.py
  tests/core/test_facade.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, docs, tests

Release 0.11.0
  CHANGES.md
  docs/api/pyatv.html
  pyatv/const.py
Due: library, docs

fixup! proxy all traffic, not just OPACK requests and responses
  pyatv/protocols/companion/connection.py
  pyatv/protocols/companion/protocol.py
Due: library

Fix companion proxy (#1912)
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/documentation/atvproxy.md
  pyatv/helpers.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/connection.py
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvproxy.py
  pyatv/support/__init__.py
  pyatv/support/opack.py
  tests/support/test_opack.py
Due: library, docs, tests

Make sure were sending and receiving volume messages for our device, even if playing to other AirPlay devices in a group
  pyatv/protocols/mrp/__init__.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, tests

Make sure were sending and receiving volume messages for our device, even if playing to other AirPlay devices in a group (#2006)
  pyatv/protocols/mrp/__init__.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, tests

Add support for companion protocol text input (#1905)
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/keyed_archiver.py
  pyatv/protocols/companion/plist_payloads/__init__.py
  pyatv/protocols/companion/plist_payloads/rti_text_operations.py
  pyatv/scripts/atvremote.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

Release 0.12.0
  CHANGES.md
  pyatv/const.py
Due: library, docs

Release 0.12.0 (#2007)
  CHANGES.md
  pyatv/const.py
Due: library, docs

raop: Support asyncio StreamReader when streaming
  docs/api/pyatv/interface.html
  docs/development/audio.md
  docs/development/listeners.md
  docs/development/stream.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/audio_source.py
Due: library, docs

env: Install correct miniaudio on GHA
  chickn.yaml
  scripts/chickn.py
Due: scripts

env: Install correct miniaudio on GHA (#2012)
  chickn.yaml
  scripts/chickn.py
Due: scripts

raop: Support asyncio StreamReader when streaming (#2010)
  docs/api/pyatv/interface.html
  docs/development/audio.md
  docs/development/listeners.md
  docs/development/stream.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/audio_source.py
Due: library, docs

raop: Support custom metadata when streaming
  .github/workflows/tests.yml
  docs/api/pyatv/interface.html
  docs/development/stream.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/raop.py
  pyatv/support/metadata.py
  pyatv/support/rtsp.py
  tests/protocols/raop/test_raop_functional.py
Due: library, docs, tests

raop: Support custom metadata when streaming (#2011)
  .github/workflows/tests.yml
  docs/api/pyatv/interface.html
  docs/development/stream.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/raop.py
  pyatv/support/metadata.py
  pyatv/support/rtsp.py
  tests/protocols/raop/test_raop_functional.py
Due: library, docs, tests

Add Apple TV 4k (gen3) and new tvOS versions
  docs/api/pyatv/const.html
  pyatv/const.py
  pyatv/convert.py
  pyatv/interface.py
  pyatv/support/device_info.py
  tests/test_convert.py
  tests/test_interface.py
Due: library, docs, tests

gha: Fix building docker images
  .github/workflows/release.yml
  Dockerfile
Due: none
