Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

Ensure knock exceptions are retrieved
  tests/support/test_knock.py
Due: tests

skip test on legacy 3.7
  tests/support/test_knock.py
Due: tests

Ensure knock exceptions are retrieved
  pyatv/support/knock.py
  tests/support/test_knock.py
Due: library, tests

Add support for scanning with AsyncZeroconf
  pyatv/__init__.py
  pyatv/core/scan.py
Due: library

preen
  pyatv/core/scan.py
Due: library

legacy typing
  pyatv/core/scan.py
Due: library

no walrus support
  pyatv/core/scan.py
Due: library

no walrus support
  pyatv/helpers.py
Due: library

no walrus support
  pyatv/core/scan.py
  pyatv/helpers.py
Due: library

bump
  base_versions.txt
Due: docs

legac
  pyatv/core/scan.py
Due: library

typing fixes
  pyatv/core/scan.py
Due: library

add changes
  pyatv/core/mdns.py
Due: library

compat
  pyatv/core/scan.py
Due: library

correct type
  pyatv/core/scan.py
Due: library

adjust
  pyatv/helpers.py
Due: library

docstring
  pyatv/core/mdns.py
Due: library

lint
  pyatv/core/scan.py
Due: library

normalize hosts since it seems they sometimes get passed in as ipv4 anyways
  pyatv/__init__.py
  pyatv/core/scan.py
Due: library

normalize hosts since it seems they sometimes get passed in as ipv4 anyways
  pyatv/core/scan.py
Due: library

normalize hosts since it seems they sometimes get passed in as ipv4 anyways
  pyatv/__init__.py
Due: library

Add a basic test
  tests/core/test_scan.py
Due: tests

there is no ptr for device-info
  tests/core/test_scan.py
Due: tests

fix race
  tests/core/test_scan.py
Due: tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
