Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

atvscript: Add device listener
  docs/api/pyatv/interface.html
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
Due: library, docs

atvscript: Add timestamp to output
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
  tests/scripts/script_env.py
  tests/scripts/test_atvscript.py
Due: library, docs, tests

cq: Improvements to tox
  tox.ini
Due: none

cq: Add codespell for code and docs
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/airplay.md
  docs/development/listeners.md
  docs/development/metadata.md
  docs/development/scan_pair_and_connect.md
  docs/documentation/atvremote.md
  docs/documentation/atvscript.md
  docs/documentation/concepts.md
  docs/documentation/protocols.md
  docs/support/faq.md
  docs/support/scanning_issues.md
  pyatv/airplay/pairing.py
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/dmap/daap.py
  pyatv/interface.py
  pyatv/mrp/protobuf/CommandInfo.proto
  pyatv/mrp/protobuf/CommandOptions.proto
  pyatv/mrp/protobuf/NowPlayingInfo.proto
  pyatv/mrp/protocol.py
  pyatv/mrp/tlv8.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  requirements_docs.txt
  requirements_test.txt
  scripts/api.py
  scripts/release.py
  tests/airplay/test_airplay_auth.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
  tox.ini
Due: library, docs, scripts, tests

if: Add skip_forward and skip_backward
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library, docs

mrp: Implement skip_forward and skip_backward
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

docs: Minor updates for skip_forward/backward
  docs/documentation/atvremote.md
Due: docs

dmap: Implement skip_forward and skip_backward
  pyatv/dmap/__init__.py
  tests/dmap/test_dmap_functional.py
Due: library, tests

mrp: Make Playing objects immutable
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/common_functional_tests.py
Due: library, tests

airplay: Add support for streaming local file
  docs/development/airplay.md
  docs/index.md
  pyatv/airplay/__init__.py
  pyatv/airplay/player.py
  pyatv/airplay/server.py
  pyatv/dmap/pairing.py
  pyatv/support/net.py
  tests/airplay/testfile.txt
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/mrp/test_mrp_functional.py
  tests/utils.py
Due: library, docs, tests

if: Change close to not be a coroutine
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/getting_started.md
  docs/support/migration.md
  examples/manual_connect.py
  examples/scan_and_connect.py
  pyatv/dmap/__init__.py
  pyatv/helpers.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/test_helpers.py
Due: library, examples, docs, tests

mrp: Fix broken protobuf messages
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  pyatv/mrp/protobuf/CommandInfo.proto
  pyatv/mrp/protobuf/CommandInfo_pb2.py
  pyatv/mrp/protobuf/CommandInfo_pb2.pyi
  pyatv/mrp/protobuf/CommandOptions.proto
  pyatv/mrp/protobuf/CommandOptions_pb2.py
  pyatv/mrp/protobuf/CommandOptions_pb2.pyi
  pyatv/mrp/protobuf/Common.proto
  pyatv/mrp/protobuf/Common_pb2.py
  pyatv/mrp/protobuf/Common_pb2.pyi
  pyatv/mrp/protobuf/NowPlayingInfo.proto
  pyatv/mrp/protobuf/NowPlayingInfo_pb2.py
  pyatv/mrp/protobuf/NowPlayingInfo_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
  tests/fake_device/mrp.py
Due: library, tests

atvscript: Make more robust to errors
  pyatv/scripts/atvscript.py
Due: library

atvscript: Add debug flag
  pyatv/scripts/atvscript.py
Due: library

docs: Add type annotations for properties
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/pdoc_templates/html.mako
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library, docs

if: Use weak references for listeners
  docs/api/pyatv/interface.html
  docs/support/troubleshooting.md
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  pyatv/scripts/atvremote.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
Due: library, docs, tests

mrp: Change topmenu to go to main menu
  pyatv/mrp/__init__.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
Due: library, tests

docs: Add stacktrace key to atvscript
  docs/documentation/atvscript.md
Due: docs

udns: Verify address in any local subnet
  docs/api/pyatv.html
  docs/api/pyatv/exceptions.html
  docs/documentation/concepts.md
  pyatv/__init__.py
  pyatv/exceptions.py
  pyatv/scripts/__init__.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  pyatv/support/udns.py
  tests/support/test_udns.py
Due: library, docs, tests

gha: Test on windows-latest
  .github/workflows/tests.yml
Due: none

docs: Clarify when no PIN is displayed
  docs/support/troubleshooting.md
Due: docs

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
