Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

storage: Adjust scripts to use storage
  pyatv/scripts/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  tests/scripts/test_atvremote.py
Due: library, tests

docs: Add documentation for storage
  docs/_config.yml
  docs/_includes/api
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/core.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/api/pyatv/settings.html
  docs/api/pyatv/storage.html
  docs/api/pyatv/storage/file_storage.html
  docs/api/pyatv/storage/memory_storage.html
  docs/development/examples.md
  docs/development/listeners.md
  docs/development/scan_pair_and_connect.md
  docs/development/storage.md
  docs/documentation/atvremote.md
  docs/documentation/concepts.md
  docs/documentation/getting_started.md
  docs/documentation/supported_features.md
  docs/index.md
  docs/pdoc_templates/html.mako
  docs/support/troubleshooting.md
  tests/test_storage_functional.py
Due: docs, tests

docs: Try to fix API docs for some modules
  docs/api/pyatv.html
  docs/api/pyatv/interface.html
  docs/api/pyatv/settings.html
  docs/pdoc_templates/html.mako
Due: docs

docs: Another attempt to fix docs
  docs/api/pyatv.conf.html
  docs/api/pyatv.const.html
  docs/api/pyatv.convert.html
  docs/api/pyatv.exceptions.html
  docs/api/pyatv.helpers.html
  docs/api/pyatv.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.file_storage.html
  docs/api/pyatv.storage.html
  docs/api/pyatv.storage.memory_storage.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/storage/file_storage.html
  docs/api/pyatv/storage/memory_storage.html
  docs/pdoc_templates/html.mako
  scripts/api.py
Due: docs, scripts

Release 0.14.0
  CHANGES.md
  docs/api/pyatv.settings.html
  pyatv/const.py
Due: library, docs

storage: Use pydantic-extra-types for MAC
  base_versions.txt
  docs/api/pyatv.settings.html
  pyatv/settings.py
  requirements/requirements.txt
Due: library, docs

docs: More link fixes
  docs/api/pyatv.conf.html
  docs/api/pyatv.const.html
  docs/api/pyatv.convert.html
  docs/api/pyatv.exceptions.html
  docs/api/pyatv.helpers.html
  docs/api/pyatv.html
  docs/api/pyatv.interface.html
  docs/api/pyatv.settings.html
  docs/api/pyatv.storage.file_storage.html
  docs/api/pyatv.storage.html
  docs/api/pyatv.storage.memory_storage.html
  docs/pdoc_templates/html.mako
Due: docs

storage: Add FileStorage.default_storage
  docs/api/pyatv.storage.file_storage.html
  docs/development/storage.md
  examples/storage.py
  pyatv/scripts/__init__.py
  pyatv/storage/file_storage.py
Due: library, examples, docs

docs: Some updates to README.md
  README.md
  docs/documentation/atvremote.md
  docs/index.md
Due: docs

raop: Add settings for timing and control ports
  docs/api/pyatv.settings.html
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/stream_client.py
  pyatv/settings.py
Due: library, docs

docs: Add minor change template
  .github/ISSUE_TEMPLATE/minor-change.yml
  .github/ISSUE_TEMPLATE/question-or-idea.yml
Due: none

wip: Support streaming from video services
  docs/api/pyatv.exceptions.html
  docs/api/pyatv.interface.html
  pyatv/exceptions.py
  pyatv/interface.py
  pyatv/protocols/airplay/player.py
  pyatv/support/yt_dlp.py
  tests/core/test_facade.py
Due: library, docs, tests

atvremote: Fix storage passing to pair
  pyatv/scripts/atvremote.py
Due: library

tests: Migrate scripts tests to pytest
  tests/fake_device/airplay.py
  tests/scripts/conftest.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
  tests/scripts/test_atvscript.py
  tests/test_storage_functional.py
  tests/utils.py
Due: tests

tests: Add test for atvremote wizard
  tests/fake_udns.py
  tests/scripts/test_atvremote.py
Due: tests

raop: Add protocol_version setting
  docs/api/pyatv.settings.html
  docs/documentation/atvremote.md
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/airplay/utils.py
  pyatv/protocols/raop/__init__.py
  pyatv/scripts/atvremote.py
  pyatv/settings.py
  tests/protocols/airplay/test_utils.py
Due: library, docs, tests

gha: Run tests with python 3.12
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/tests.yml
  setup.py
Due: none

companion: Fix credentials not saved
  pyatv/protocols/companion/pairing.py
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage.proto
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.py
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
Due: library

Release 0.14.1
  CHANGES.md
  docs/_includes/atvremote_scan
  pyatv/const.py
Due: library, docs

add py.typed to mark pyatv as PEP-561 compliant
  pyatv/py.typed
Due: library

add some missing return types on public interfaces
  pyatv/interface.py
Due: library

Filter out invalid addreses from zeroconf
  pyatv/core/scan.py
Due: library

naming
  pyatv/core/scan.py
Due: library
