Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

companion: Events and persistent connection
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/auth.py
  pyatv/protocols/companion/connection.py
  pyatv/protocols/companion/protocol.py
  tests/fake_device/companion.py
  tests/protocols/companion/conftest.py
Due: library, tests

companion: Add support for additional commands
  docs/api/pyatv/interface.html
  pyatv/core/facade.py
  pyatv/protocols/companion/__init__.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

core: Add generic MessageDispatcher
  pyatv/core/protocol.py
  tests/core/test_protocol.py
Due: library, tests

companion: Use XID for message dispatch
  docs/documentation/protocols.md
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/auth.py
  pyatv/protocols/companion/connection.py
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvproxy.py
Due: library, docs

collection: Add SharedData type
  pyatv/support/collections.py
  tests/support/test_collections.py
Due: library, tests

mrp: Migrate protocol to MessageDispatcher
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/player_state.py
  pyatv/protocols/mrp/protocol.py
  tests/protocols/mrp/conftest.py
  tests/protocols/mrp/test_mrp_interface.py
  tests/protocols/mrp/test_player_state.py
Due: library, tests

conf: Ignore services with missing identifier
  pyatv/interface.py
  tests/test_conf.py
Due: library, tests

wip
  .github/workflows/tests.yml
  chickn.yaml
Due: none

wip
  .github/workflows/tests.yml
Due: none

env: Rebuild miniaudio in tests workflow
  .github/workflows/tests.yml
  chickn.yaml
Due: none

conf: Implement __deepcopy__ in BaseConfig
  pyatv/conf.py
  pyatv/core/__init__.py
  pyatv/interface.py
Due: library

conf: Implement __deepcopy__ in BaseConfig
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  pyatv/conf.py
  pyatv/interface.py
Due: library, docs

core: Create copy of config in connect
  docs/api/pyatv.html
  pyatv/__init__.py
  tests/common_functional_tests.py
  tests/protocols/raop/test_raop_functional.py
Due: library, docs, tests

docs: Clarifications for data channel payload
  docs/documentation/protocols.md
Due: docs

net: Log instead of raise in tcp_keepalive
  op.py
  pyatv/support/net.py
  stream.py
Due: library

cq: Remove unwanted files
  op.py
  stream.py
Due: none

env: Fix broken GitPod integration
  .gitpod.yml
  chickn.yaml
  docs/internals/tools.md
  scripts/chickn.py
Due: configs, docs, scripts

wip
  pyatv/conf.py
  pyatv/interface.py
  tests/test_conf.py
Due: library, tests

opack: Handle pointers properly
  docs/documentation/protocols.md
  pyatv/protocols/companion/opack.py
  tests/protocols/companion/test_opack.py
Due: library, docs, tests

core: Add enabled state to services
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/interface.html
  docs/development/scan_pair_and_connect.md
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/core/__init__.py
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/mrp/__init__.py
  tests/test_conf.py
  tests/test_scan_functional.py
Due: library, docs, tests

raop: Support streaming from HTTP(s)
  docs/api/pyatv/interface.html
  docs/development/stream.md
  docs/documentation/supported_features.md
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/audio_source.py
Due: library, docs

Release 0.9.7
  CHANGES.md
  docs/documentation/supported_features.md
  docs/support/migration.md
  pyatv/const.py
Due: library, docs

mrp: Add enable_encryption to connection
  pyatv/auth/hap_pairing.py
  pyatv/auth/hap_srp.py
  pyatv/protocols/airplay/auth/hap.py
  pyatv/protocols/airplay/auth/legacy.py
  pyatv/protocols/airplay/mrp_connection.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/auth.py
  pyatv/protocols/mrp/connection.py
  pyatv/protocols/mrp/protocol.py
Due: library

raop: Let pause button stop playback
  docs/api/pyatv/interface.html
  pyatv/protocols/raop/__init__.py
  tests/protocols/raop/test_raop_functional.py
Due: library, docs, tests

core: Support plain functions in MessageDispatcher
  pyatv/core/protocol.py
  tests/core/test_protocol.py
Due: library, tests
