Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

gha: Test on windows-latest
  .github/workflows/tests.yml
Due: none

docs: Clarify when no PIN is displayed
  docs/support/troubleshooting.md
Due: docs

dmap: Add support for volume_up and volume_down
  docs/development/control.md
  docs/index.md
  pyatv/dmap/__init__.py
  pyatv/dmap/daap.py
  pyatv/mrp/__init__.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, docs, tests

scan: Fix type bug in scan_hosts
  docs/api/pyatv.html
  pyatv/__init__.py
  tests/test_scan.py
Due: library, docs, tests

cq: Various debug log improvements
  pyatv/airplay/pairing.py
  pyatv/airplay/srp.py
  pyatv/dmap/pairing.py
  pyatv/mrp/connection.py
  pyatv/mrp/pairing.py
  pyatv/support/__init__.py
  pyatv/support/net.py
  tests/support/test_support.py
Due: library, tests

mrp: Make connection listener into weakref
  docs/api/pyatv/interface.html
  pyatv/mrp/connection.py
Due: library, docs

net: Change timeout to 25 seconds
  pyatv/support/net.py
Due: library

udns: Port knock to wake sleeping devices
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/scripts/atvremote.py
  pyatv/support/knock.py
  tests/conftest.py
  tests/fake_knock.py
  tests/scripts/script_env.py
  tests/support/test_knock.py
  tests/test_scan.py
Due: library, docs, tests

udns: Send UDNS request every second
  pyatv/support/udns.py
  tests/conftest.py
  tests/fake_udns.py
  tests/support/test_udns.py
Due: library, tests

knock: Support for continuously knocking ports
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/support/knock.py
  tests/conftest.py
  tests/fake_knock.py
  tests/support/test_knock.py
  tests/test_scan.py
Due: library, docs, tests

cq: Fix warnings from tests
  pyatv/mrp/__init__.py
  pyatv/mrp/pairing.py
  pyatv/mrp/protocol.py
  pyatv/scripts/atvproxy.py
  pyatv/support/udns.py
  tests/mrp/test_mrp_auth.py
  tests/support/test_support.py
Due: library, tests

docs: Add apps section to FAQ
  docs/support/faq.md
Due: docs

atvscript: Add start log entry
  pyatv/scripts/atvscript.py
Due: library

mrp: Fix TransationMessage definition
  pyatv/mrp/protobuf/TransactionMessage.proto
  pyatv/mrp/protobuf/TransactionMessage_pb2.py
  pyatv/mrp/protobuf/TransactionMessage_pb2.pyi
Due: library

dmap: Minor log improvements to DAAP
  pyatv/dmap/daap.py
Due: library

cq: Clean up resources when closing a device
  docs/api/pyatv/interface.html
  pyatv/airplay/__init__.py
  pyatv/airplay/server.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library, docs

mrp: Add fallback for play_pause
  docs/api/pyatv/interface.html
  docs/development/features.md
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/test_mrp_functional.py
  tests/test_interface.py
Due: library, docs, tests

docs: Inherit from listener interfaces
  docs/development/listeners.md
Due: docs

dmap: Add limited support for artwork width/height
  pyatv/dmap/__init__.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/fake_device/dmap.py
Due: library, tests

if: Add width and height to artwork method
  docs/api/pyatv/interface.html
  docs/development/metadata.md
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
Due: library, docs

atvremote: Support width/height in artwork_save
  docs/documentation/atvremote.md
  pyatv/scripts/atvremote.py
Due: library, docs

mrp: Add support for artwork width/height
  pyatv/mrp/__init__.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
