Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

companion: Report better feature state
  docs/api/pyatv.html
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/core/facade.py
  pyatv/protocols/companion/__init__.py
Due: library, docs

companion: Add tests for channel_up/down
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: tests

raop: Increase late warning to five frames
  pyatv/protocols/raop/raop.py
Due: library

raop: Increase late warning to five frames (#1775)
  pyatv/protocols/raop/raop.py
Due: library

mdns: Suppress exceptions properly
  pyatv/support/net.py
Due: library

mdns: Suppress exceptions properly (#1774)
  pyatv/support/net.py
Due: library

raop: Not do blocking I/O while streaming
  pyatv/protocols/raop/audio_source.py
Due: library

raop: Not do blocking I/O while streaming (#1776)
  pyatv/protocols/raop/audio_source.py
Due: library

raop: Fallback to pk as unique id
  chickn.yaml
  pyatv/helpers.py
  pyatv/protocols/raop/__init__.py
  tests/test_helpers.py
Due: library, tests

raop: Fallback to pk as unique id (#1777)
  chickn.yaml
  pyatv/helpers.py
  pyatv/protocols/raop/__init__.py
  tests/test_helpers.py
Due: library, tests

deps: Fix pylint issues
  pylintrc
Due: none

deps: Bump minor aiohttp to 3.8.1
  base_versions.txt
Due: docs

Release 0.10.1
  CHANGES.md
  docs/api/pyatv.html
  docs/api/pyatv/helpers.html
  pyatv/const.py
Due: library, docs

Release 0.10.1 (#1779)
  CHANGES.md
  docs/api/pyatv.html
  docs/api/pyatv/helpers.html
  pyatv/const.py
Due: library, docs

deps: Require cryptography >= 36.0.2
  base_versions.txt
Due: docs

deps: Require cryptography >= 36.0.2 (#1780)
  base_versions.txt
Due: docs

Release 0.10.2
  CHANGES.md
  pyatv/const.py
Due: library, docs

Release 0.10.2 (#1781)
  CHANGES.md
  pyatv/const.py
Due: library, docs

conf: Add model_str property
  docs/api/pyatv/interface.html
  pyatv/interface.py
  tests/test_interface.py
Due: library, docs, tests

atvscript: Add model and model_str to scan
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
  tests/fake_udns.py
  tests/scripts/script_env.py
  tests/scripts/test_atvscript.py
Due: library, docs, tests

atvscript: Add device_info section
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
  tests/scripts/test_atvscript.py
Due: library, docs, tests

atvscript: Add operating_system and version
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
  tests/scripts/test_atvscript.py
Due: library, docs, tests

add debug prints
  pyatv/core/protocol.py
  pyatv/protocols/mrp/protocol.py
Due: library

Switch out asyncio.wait_for with async_timeout
  base_versions.txt
  pyatv/protocols/mrp/protocol.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
  requirements/requirements.txt
Due: library, docs

mrp: Fix set_volume bug
  pyatv/protocols/mrp/__init__.py
  tests/protocols/mrp/conftest.py
  tests/protocols/mrp/test_mrp_interface.py
Due: library, tests

Release 0.10.3
  CHANGES.md
  pyatv/const.py
Due: library, docs

Add support for URL param to LaunchApp
  docs/api/pyatv/interface.html
  docs/development/apps.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

ability to ask AppleTV to open a user-provided URL
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
