Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

raop: Support streaming files from a buffer
  docs/api/pyatv/interface.html
  docs/development/stream.md
  docs/documentation/atvremote.md
  pyatv/interface.py
  pyatv/raop/__init__.py
  pyatv/raop/audio_source.py
  pyatv/raop/metadata.py
  pyatv/raop/miniaudio.py
  pyatv/raop/raop.py
  pyatv/scripts/atvremote.py
  pyatv/support/facade.py
  tests/data/README
  tests/data/audio_1_packet_metadata.wav
  tests/raop/test_raop_functional.py
Due: library, docs, tests

raop: Fix timing when starting to stream
  pyatv/raop/raop.py
Due: library

docs: Add missing tutorial example
  examples/tutorial.py
Due: examples

docs: Add issue regarding cellcomtvappleos
  docs/support/faq.md
Due: docs

raop: Use perf_counter instead of monotonic
  pyatv/raop/raop.py
  pyatv/raop/timing.py
Due: library

raop: Sync sending based on absolute time
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
Due: library

Release 0.8.1
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

gha: Re-run tox without cache if failure
  .github/workflows/tests.yml
  tox.ini
Due: none

env: Update metadata in setup.py
  setup.py
Due: none

gha: Another attempt to re-run tox on failure
  .github/workflows/tests.yml
  scripts/tox.sh
Due: scripts

docs: Add feature name and supported protocols
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/assets/css/custom.css
  docs/pdoc_templates/config.mako
  docs/pdoc_templates/html.mako
  pyatv/dmap/__init__.py
  pyatv/interface.py
  tests/dmap/test_dmap_functional.py
Due: library, docs, tests

gha: Fix running tox on Windows
  .github/workflows/tests.yml
Due: none

debug: Include zeroconf properties in debug log
  pyatv/support/scan.py
Due: library

Update README.md
  README.md
Due: docs

scan: Move scan code to protocols
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/internals/design.md
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/companion/__init__.py
  pyatv/conf.py
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/raop/__init__.py
  pyatv/support/scan.py
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_scan.py
  tests/companion/test_companion.py
  tests/companion/test_companion_scan.py
  tests/conftest.py
  tests/dmap/test_dmap.py
  tests/dmap/test_dmap_scan.py
  tests/mrp/test_mrp.py
  tests/mrp/test_mrp_scan.py
  tests/raop/test_raop.py
  tests/raop/test_raop_scan.py
  tests/support/test_mdns_functional.py
  tests/support/test_scan.py
  tests/test_conf.py
  tests/test_scan_functional.py
  tests/utils.py
Due: library, docs, tests

scan: Support scanning for specific protocols
  docs/api/pyatv.html
  docs/development/scan_pair_and_connect.md
  docs/documentation/atvremote.md
  pyatv/__init__.py
  pyatv/scripts/__init__.py
  pyatv/scripts/atvremote.py
  pyatv/support/scan.py
  tests/companion/test_companion_scan.py
  tests/conftest.py
  tests/test_scan_functional.py
Due: library, docs, tests

env: Only verify docs with py3.8
  tox.ini
Due: none

mdns: Fix unstable multicast test
  tests/support/test_mdns_functional.py
Due: tests

core: Fix potential aiohttp client session leak
  docs/api/pyatv.html
  pyatv/__init__.py
Due: library, docs

cq: Refactor pairing handlers
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
  pyatv/companion/__init__.py
  pyatv/companion/connection.py
  pyatv/companion/pairing.py
  pyatv/dmap/__init__.py
  pyatv/dmap/pairing.py
  pyatv/mrp/__init__.py
  pyatv/mrp/pairing.py
Due: library, docs

companion: Generalize OPACK error handling
  pyatv/companion/__init__.py
  pyatv/companion/protocol.py
Due: library

Add support for password protected RAOP devices
  docs/api/pyatv/conf.html
  docs/development/stream.md
  docs/documentation/atvremote.md
  docs/documentation/supported_features.md
  pyatv/conf.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  pyatv/scripts/atvremote.py
  pyatv/support/http.py
  tests/fake_device/raop.py
  tests/raop/test_raop_functional.py
Due: library, docs, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
