Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

core: Specialize StateDispatcher in protcols
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  tests/core/test_core.py
  tests/core/test_facade.py
Due: library, docs, tests

core: Clean up dispatchers
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/core/test_core.py
  tests/core/test_facade.py
Due: library, docs, tests

dep: Migrate from netifaces to ifaddr
  base_versions.txt
  pyatv/protocols/dmap/pairing.py
  pyatv/support/net.py
  pylintrc
  pyproject.toml
  requirements/requirements.txt
  scripts/setup_dev_env.sh
  tests/conftest.py
  tests/support/test_net.py
Due: library, docs, scripts, tests

typing
  pyatv/support/knock.py
Due: library

remove debug
  pyatv/support/knock.py
Due: library

more tweaks to ensure we yield if there are many devices
  pyatv/support/knock.py
Due: library

update tests
  pyatv/support/knock.py
  tests/support/test_knock.py
Due: library, tests

cover
  tests/support/test_knock.py
Due: tests

cover
  pyatv/support/knock.py
Due: library

core: Support plain functions in MessageDispatcher
  pyatv/core/protocol.py
  tests/core/test_protocol.py
Due: library, tests

core: Add filtering to MessageDispatcher
  pyatv/core/protocol.py
  tests/core/test_protocol.py
Due: library, tests

core: Prevent duplicates from state producer
  docs/api/pyatv/interface.html
  pyatv/core/__init__.py
  pyatv/interface.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/core/test_core.py
  tests/core/test_facade.py
  tests/test_interface.py
Due: library, docs, tests

core: Add main_protocol to Relayer
  pyatv/core/relayer.py
  tests/core/test_relayer.py
Due: library, tests

facade: Make Power interface respect play status
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  tests/core/test_facade.py
Due: library, tests

core: Add base support for internal state updates
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
Due: library, docs

if: Remove loop argument to PushUpdater
  docs/api/pyatv/interface.html
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/core/test_facade.py
  tests/test_interface.py
Due: library, docs, tests

support: Add shield module
  chickn.yaml
  docs/api/pyatv/exceptions.html
  pyatv/exceptions.py
  pyatv/support/shield.py
  tests/conftest.py
  tests/support/test_shield.py
Due: library, docs, tests

facade: Block calls to public methods after close
  pyatv/core/facade.py
  tests/core/test_facade.py
Due: library, tests

knock Ensure knock yields to the event loop often enough to avoid blocking (#1515)
  pyatv/support/knock.py
  tests/support/test_knock.py
Due: library, tests

mrp: Fix erroneous button press behavior
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/messages.py
  pyatv/protocols/mrp/protobuf/ProtocolMessage.proto
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
Due: library

mrp: Fix protocol bug in state dispatcher
  pyatv/core/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/protocol.py
  tests/core/test_facade.py
Due: library, tests

mrp: Do not disable MRP service for older tvOS
  pyatv/protocols/airplay/__init__.py
Due: library

airplay: Be stricter when setting up remotecontrol
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/utils.py
  tests/protocols/airplay/test_utils.py
Due: library, tests

mrp: Fix erroneous button press behavior (#1521)
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/messages.py
  pyatv/protocols/mrp/protobuf/ProtocolMessage.proto
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
Due: library

mdns: Quiet error log if address cannot be added
  pyatv/core/mdns.py
Due: library

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
