Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

tests: Refactor fake devices
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
Due: tests

fake_device: Add initial support for AirPlay
  scripts/fake_device.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/utils.py
Due: scripts, tests

tests: Move all fake devices to common directory
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/fake_device/fake_airplay_device.py
  tests/fake_device/fake_dmap_atv.py
  tests/fake_device/fake_mrp_atv.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
Due: tests

tests: Begin extraction of fake AirPlay state
  tests/airplay/fake_airplay_device.py
  tests/airplay/test_airplay.py
  tests/common_functional_tests.py
  tests/dmap/fake_dmap_atv.py
  tests/mrp/fake_mrp_atv.py
Due: tests

tests: Use one fake device with multiple services
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/fake_device/__init__.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
  tests/scripts/test_atvscript.py
Due: tests

docs: Update FAQ regarding AirPlay
  docs/support/faq.md
Due: docs

mrp: Add tvOS 13.4 build number
  pyatv/support/device_info.py
Due: library

bug: Make pairing interface consistent
  pyatv/airplay/pairing.py
  pyatv/mrp/pairing.py
  tests/dmap/test_dmap_pair.py
  tests/mrp/test_mrp_auth.py
Due: library, tests

docs: Exclude internal function
  docs/api/pyatv/interface.html
  pyatv/interface.py
Due: library, docs

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

scan: Clean up pending service browsers
  docs/api/pyatv.html
  pyatv/__init__.py
  tests/zeroconf_stub.py
Due: library, docs, tests

flush output of each line printed by atvscript
  pyatv/scripts/atvscript.py
Due: library

atvscript: Treat empty strings as None
  pyatv/scripts/atvscript.py
Due: library

mrp: Handle artwork without identifier
  pyatv/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

atvscript: Flush output of each line
  pyatv/scripts/atvscript.py
Due: library

mrp: Handle artwork without identifier
  pyatv/mrp/__init__.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

release: Use current commit instead of master
  scripts/release.py
Due: scripts

Release 0.5.1
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

release: Adapt script to recent changes
  scripts/api.py
  scripts/release.py
Due: scripts

mrp: Add error code to SendCommandResultMessage
  pyatv/mrp/__init__.py
  pyatv/mrp/messages.py
  pyatv/mrp/protobuf/SendCommandResultMessage.proto
  pyatv/mrp/protobuf/SendCommandResultMessage_pb2.py
  pyatv/mrp/protobuf/SendCommandResultMessage_pb2.pyi
Due: library

mrp: Fix naming bug I introduced
  pyatv/mrp/__init__.py
Due: library

mrp: Add error codes
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
Due: library

atvscript: Add device listener
  docs/api/pyatv/interface.html
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
Due: library, docs
