Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Output all identifiers when scanning with atvscript
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
  tests/scripts/test_atvscript.py
Due: library, docs, tests

add mac address to device info
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
  tests/scripts/test_atvscript.py
Due: library, docs, tests

Changing the featured Homebridge plugin to a more recent and maintained one.
  docs/index.md
Due: docs

update the list of contributors
  docs/support/acknowledgements.md
Due: docs

Fix a bug that causes atvscript push_updates to never report the app
  pyatv/scripts/atvscript.py
Due: library

scan: Fix python-zeroconf incompatibility
  base_versions.txt
  tests/protocols/dmap/test_dmap_pairing.py
Due: docs, tests

Release 0.14.5
  CHANGES.md
  pyatv/const.py
Due: library, docs

gha: Re-enable armv7 in release workflow
  .github/workflows/release.yml
Due: none

Simplify ChaCha20 Poly1305 implementation
  pyatv/support/chacha20.py
Due: library

lint
  pyatv/support/chacha20.py
Due: library

still need to pad for hap
  pyatv/support/chacha20.py
Due: library

companion server auth: use argument for pincode, private key
  pyatv/protocols/companion/server_auth.py
Due: library

add fast forward and rewind support in companion protocol
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
Due: library

add fast forward and remote support for companion protocol
  pyatv/const.py
  pyatv/protocols/companion/__init__.py
Due: library

add fast forward and remote support for companion protocol
  pyatv/const.py
Due: library

add fast forward and rewind constants to media control feature array for tests
  tests/protocols/companion/test_companion_functional.py
Due: tests

Check companion pairing authentication status code
  pyatv/protocols/companion/auth.py
Due: library

Fix typo in README.
  README.md
Due: docs

Added touch gesture to companion protocol
  docs/documentation/protocols.md
  pyatv/protocols/companion/api.py
Due: library, docs

Fixes and created new interface
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
Due: library

Tuned delay between events
  pyatv/protocols/companion/api.py
Due: library

Added a UI tool script to simulate touch gestures
  pyatv/scripts/atvui.py
Due: library

Added touch_click method
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvui.py
Due: library

Fixed linting
  pyatv/protocols/companion/__init__.py
  pyatv/scripts/atvui.py
Due: library

Requests fixes
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvui.py
Due: library

Updated protocol documentation
  docs/documentation/protocols.md
Due: docs

Added unit tests for touch gestures
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: tests

Updated documentation and atvremote script
  docs/documentation/supported_features.md
  pyatv/scripts/atvremote.py
Due: library, docs

Update index.md
  docs/index.md
Due: docs
