Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Switch to a single argument for launch_app
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/interface.html
  docs/development/apps.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/mrp/__init__.py
  pyatv/support/url.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
  tests/support/test_url.py
Due: library, docs, tests

Documentation for app content URLs
  docs/development/apps.md
Due: docs

Add support for URL param to LaunchApp (#2024)
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/interface.html
  docs/development/apps.md
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/protocols/mrp/__init__.py
  pyatv/support/url.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
  tests/support/test_url.py
Due: library, docs, tests

gha: Update log tests job
  .github/workflows/log.yaml
Due: none

gha: Use python 3.10 for log parsing
  .github/workflows/log.yaml
Due: none

gha: Fix python version in logs workflow
  .github/workflows/log.yaml
Due: none

Fix shairport-sync player support
  docs/documentation/supported_features.md
  pyatv/support/rtsp.py
Due: library, docs

added listener interface to Keyboard for focus updates
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
  pyatv/scripts/atvscript.py
  tests/conftest.py
  tests/core/test_facade.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/companion/test_companion_interface.py
Due: library, docs, tests

added Keyboard interface documentation
  docs/_config.yml
  docs/development/keyboard.md
  docs/development/listeners.md
  docs/documentation/atvscript.md
Due: docs

preserve integer sizes when decoding/re-encoding with opack, fixes companion proxy stability
  docs/documentation/atvproxy.md
  pyatv/support/opack.py
  tests/support/test_opack.py
Due: library, docs, tests

change exception type based on code review
  pyatv/interface.py
Due: library

if: Update doc string for pause
  pyatv/interface.py
Due: library

initial airplay proxy working with pyatv client
  pyatv/protocols/airplay/auth/hap_transient.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/scripts/atvproxy.py
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

replace CaseInsensitiveDict in pyatv.support.http with version from requests that preserves input case, which is better for proxying
  pyatv/support/http.py
Due: library

add public methods to pyatv.http to format requests and reponses
  pyatv/protocols/airplay/channels.py
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

log decoded channel messages
  pyatv/protocols/airplay/channels.py
  pyatv/protocols/airplay/utils.py
  pyatv/scripts/atvproxy.py
Due: library

add field to UpdateOutputDeviceMessage
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage.proto
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage_pb2.py
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage_pb2.pyi
Due: library

add tests for HAP and transient auth
  pyatv/protocols/airplay/server_auth.py
  tests/fake_device/airplay.py
  tests/protocols/airplay/conftest.py
  tests/protocols/airplay/test_airplay_pair.py
  tests/protocols/airplay/test_airplay_verify.py
Due: library, tests

update documentation
  docs/documentation/atvproxy.md
Due: docs

update tests to use airplay.server_auth
  tests/fake_device/__init__.py
  tests/fake_device/airplay.py
  tests/protocols/dmap/test_dmap_functional.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
  tests/scripts/test_atvscript.py
Due: tests

unify identifiers and credentials
  pyatv/auth/server_auth.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/protocols/companion/server_auth.py
  pyatv/protocols/mrp/server_auth.py
  pyatv/scripts/atvproxy.py
  tests/protocols/airplay/test_airplay_verify.py
  tests/protocols/companion/conftest.py
  tests/protocols/companion/test_companion_auth.py
  tests/protocols/mrp/test_mrp_auth.py
  tests/scripts/test_atvremote.py
Due: library, tests

rewrite identifiers to improve connection
  pyatv/protocols/airplay/channels.py
  pyatv/scripts/atvproxy.py
  pyatv/support/__init__.py
  pyatv/support/dns.py
  tests/support/test_dns.py
  tests/support/test_support.py
Due: library, tests

add protobuf ConfigureConnectionMessage
  pyatv/protocols/mrp/protobuf/ConfigureConnectionMessage.proto
  pyatv/protocols/mrp/protobuf/ConfigureConnectionMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ConfigureConnectionMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/ProtocolMessage.proto
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
Due: library

support segmented requests in BasicHttpServer
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

Release 0.12.1
  .github/workflows/release.yml
  CHANGES.md
  docs/api/pyatv/interface.html
  pyatv/const.py
Due: library, docs

cq: Disable deprecated warnings in pyatv tests
  pyatv/support/__init__.py
Due: library

tests: Fix some streaming instability in RAOP
  tests/fake_device/raop.py
Due: tests
