Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

replace CaseInsensitiveDict in pyatv.support.http with version from requests that preserves input case, which is better for proxying
  pyatv/support/http.py
Due: library

add protobuf ConfigureConnectionMessage
  pyatv/protocols/mrp/protobuf/ConfigureConnectionMessage.proto
  pyatv/protocols/mrp/protobuf/ConfigureConnectionMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ConfigureConnectionMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/ProtocolMessage.proto
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
Due: library

add tests for HAP and transient auth
  pyatv/protocols/airplay/server_auth.py
  tests/fake_device/airplay.py
  tests/protocols/airplay/conftest.py
  tests/protocols/airplay/test_airplay_pair.py
  tests/protocols/airplay/test_airplay_verify.py
Due: library, tests

support segmented requests in BasicHttpServer
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

log decoded channel messages
  pyatv/protocols/airplay/channels.py
  pyatv/protocols/airplay/utils.py
  pyatv/scripts/atvproxy.py
Due: library

unify identifiers and credentials
  pyatv/auth/server_auth.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/protocols/companion/server_auth.py
  pyatv/protocols/mrp/server_auth.py
  pyatv/scripts/atvproxy.py
  tests/protocols/airplay/test_airplay_verify.py
  tests/protocols/companion/conftest.py
  tests/protocols/companion/test_companion_auth.py
  tests/protocols/mrp/test_mrp_auth.py
  tests/scripts/test_atvremote.py
Due: library, tests

initial airplay proxy working with pyatv client
  pyatv/protocols/airplay/auth/hap_transient.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/scripts/atvproxy.py
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

add field to UpdateOutputDeviceMessage
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage.proto
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage_pb2.py
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage_pb2.pyi
Due: library

update documentation
  docs/documentation/atvproxy.md
Due: docs

tests: Fix some streaming instability in RAOP
  tests/fake_device/raop.py
Due: tests

cq: Disable deprecated warnings in pyatv tests
  pyatv/support/__init__.py
Due: library

if: Update doc string for pause
  pyatv/interface.py
Due: library

companion: Add screensaver support
  base_versions.txt
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/companion/__init__.py
  requirements/requirements.txt
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

Control AirPlay output devices
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/listeners.md
  docs/documentation/atvremote.md
  docs/documentation/atvscript.md
  pyatv/const.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/messages.py
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage.proto
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ModifyOutputContextRequestMessage.proto
  pyatv/protocols/mrp/protobuf/ModifyOutputContextRequestMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ModifyOutputContextRequestMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/ProtocolMessage.proto
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  tests/core/test_facade.py
  tests/fake_device/mrp.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_mrp_interface.py
  tests/test_interface.py
Due: library, docs, tests

support: Add a SemiSeekableBuffer
  pyatv/support/buffer.py
  tests/support/test_buffer.py
Due: library, tests

raop: Migrate PatchedIceCastClient to SemiSeekableBuffer
  pyatv/protocols/raop/audio_source.py
  tests/support/test_buffer.py
Due: library, tests

raop: Migrate remaining buffers to SemiSeekableBuffer
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/interface.html
  pyatv/core/facade.py
  pyatv/exceptions.py
  pyatv/interface.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/audio_source.py
  pyatv/support/buffer.py
  pyatv/support/metadata.py
  requirements/requirements_test.txt
  tests/conftest.py
  tests/fake_device/raop.py
  tests/protocols/raop/test_raop_functional.py
  tests/utils.py
Due: library, docs, tests

rtsp: Make handling of bplists more general
  pyatv/protocols/airplay/auth/legacy.py
  pyatv/protocols/airplay/player.py
  pyatv/protocols/airplay/remote_control.py
  pyatv/protocols/airplay/utils.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
Due: library

raop: Add feedback to AirPlay 2 streaming
  base_versions.txt
  docs/documentation/supported_features.md
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/protocols/airplayv2.py
Due: library, docs

airplay: Change RemoteControl to AP2Session
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/ap2_session.py
  pyatv/protocols/airplay/mrp_connection.py
Due: library

atvremote: Allow custom service properties
  docs/documentation/atvremote.md
  pyatv/scripts/atvremote.py
Due: library, docs

raop: Basic AirPlay 2 streaming
  docs/documentation/supported_features.md
  pyatv/auth/hap_srp.py
  pyatv/auth/hap_tlv8.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/auth/__init__.py
  pyatv/protocols/airplay/auth/hap_transient.py
  pyatv/protocols/airplay/server_auth.py
  pyatv/protocols/airplay/utils.py
  pyatv/protocols/companion/server_auth.py
  pyatv/protocols/mrp/server_auth.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/alac.py
  pyatv/protocols/raop/protocols/__init__.py
  pyatv/protocols/raop/protocols/airplayv1.py
  pyatv/protocols/raop/protocols/airplayv2.py
  pyatv/protocols/raop/stream_client.py
  pyatv/scripts/atvproxy.py
  pyatv/support/chacha20.py
  pyatv/support/http.py
  pyatv/support/rtsp.py
  tests/fake_device/raop.py
  tests/protocols/airplay/test_airplay_interface.py
  tests/protocols/airplay/test_utils.py
  tests/protocols/raop/test_alac.py
  tests/protocols/raop/test_raop.py
  tests/support/test_http.py
  tests/support/test_knock.py
Due: library, docs, tests

fixup! Control AirPlay output devices
  docs/api/pyatv/interface.html
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  tests/protocols/airplay/test_airplay.py
  tests/test_interface.py
Due: library, docs, tests

add FeatureName.TextFocusState to supported features for Companion
  pyatv/protocols/companion/__init__.py
Due: library

raop: Handle setting volume later
  pyatv/protocols/airplay/utils.py
  pyatv/protocols/raop/__init__.py
  pyatv/protocols/raop/stream_client.py
  tests/fake_device/raop.py
  tests/protocols/raop/test_raop_functional.py
  tests/support/test_knock.py
Due: library, tests

Control AirPlay output devices (#2044)
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/listeners.md
  docs/documentation/atvremote.md
  docs/documentation/atvscript.md
  pyatv/const.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/messages.py
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage.proto
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ModifyOutputContextRequestMessage.proto
  pyatv/protocols/mrp/protobuf/ModifyOutputContextRequestMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ModifyOutputContextRequestMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/ProtocolMessage.proto
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/protocols/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
  tests/core/test_facade.py
  tests/fake_device/mrp.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_mrp_interface.py
  tests/test_interface.py
Due: library, docs, tests

Add tests to validate new feature availability
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/mrp/test_mrp_functional.py
Due: tests

add FeatureName.TextFocusState to supported features for Companion (#2047)
  pyatv/protocols/companion/__init__.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, tests

Volume control improvements
  pyatv/protocols/mrp/__init__.py
  pyatv/scripts/atvproxy.py
  tests/fake_device/mrp.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, tests

Support volume control for an Apple TV connected to HomePod(s) instead of TV speakers
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage.proto
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.py
  pyatv/protocols/mrp/protobuf/DeviceInfoMessage_pb2.pyi
  tests/fake_device/mrp.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
