Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

Switch scanning to use AsyncZeroconf
  pyatv/__init__.py
  pyatv/core/mdns.py
  pyatv/core/scan.py
  pyatv/protocols/dmap/pairing.py
Due: library

use old close method for backcompat
  pyatv/__init__.py
Due: library

name stripping
  pyatv/core/mdns.py
Due: library

debug
  pyatv/__init__.py
  pyatv/conf.py
  pyatv/core/mdns.py
Due: library

debug
  pyatv/core/mdns.py
Due: library

fixes
  pyatv/__init__.py
  pyatv/core/mdns.py
Due: library

cleanups
  pyatv/core/mdns.py
Due: library

touch ups
  pyatv/support/knock.py
Due: library

lint
  pyatv/__init__.py
  pyatv/core/mdns.py
Due: library

compat
  pyatv/core/mdns.py
Due: library

tweaks
  pyatv/core/mdns.py
Due: library

end unicast early on identifiers
  pyatv/__init__.py
  pyatv/core/mdns.py
  pyatv/core/scan.py
Due: library

prevent other devices from being seen on unicast
  pyatv/core/mdns.py
Due: library

reduce probes
  pyatv/core/mdns.py
Due: library

Simplify knock
  pyatv/support/knock.py
Due: library

tweaks
  pyatv/support/knock.py
Due: library

cleanup
  pyatv/support/knock.py
Due: library

prune
  pyatv/support/knock.py
Due: library

dont rely on gc
  pyatv/support/knock.py
Due: library

more tweaks
  pyatv/support/knock.py
Due: library

wip
  pyatv/support/knock.py
Due: library

core: Add filtering to MessageDispatcher
  pyatv/core/protocol.py
  tests/core/test_protocol.py
Due: library, tests

core: Add base support for internal state updates
  docs/api/pyatv.html
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/protocols/__init__.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
Due: library, docs

core: Add main_protocol to Relayer
  pyatv/core/relayer.py
  tests/core/test_relayer.py
Due: library, tests

facade: Make Power interface respect play status
  pyatv/__init__.py
  pyatv/core/__init__.py
  pyatv/core/facade.py
  tests/core/test_facade.py
Due: library, tests

if: Remove loop argument to PushUpdater
  docs/api/pyatv/interface.html
  pyatv/core/facade.py
  pyatv/interface.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/core/test_facade.py
  tests/test_interface.py
Due: library, docs, tests

core: Prevent duplicates from state producer
  docs/api/pyatv/interface.html
  pyatv/core/__init__.py
  pyatv/interface.py
  pyatv/protocols/dmap/__init__.py
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/raop/__init__.py
  tests/core/test_core.py
  tests/core/test_facade.py
  tests/test_interface.py
Due: library, docs, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
