Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

devinfo: Minor clean ups
  docs/development/device_info.md
  docs/getting_started.md
  pyatv/__main__.py
Due: library, docs

Release 0.4.1a1
  CHANGES.md
  pyatv/const.py
Due: library, docs

scan: Do not include pure AirPlay devices
  docs/documentation/concepts.md
  pyatv/__init__.py
  pyatv/conf.py
  tests/test_conf.py
  tests/test_scan.py
Due: library, docs, tests

if: Deprecate suspend and wakeup
  pyatv/dmap/__init__.py
  pyatv/mrp/__init__.py
  pyatv/support.py
Due: library

cq: Move internal modules to support directory
  pyatv/__init__.py
  pyatv/airplay/__init__.py
  pyatv/airplay/pairing.py
  pyatv/conf.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  pyatv/support/__init__.py
  pyatv/support/cache.py
  pyatv/support/device_info.py
  pyatv/support/net.py
  pyatv/support/udns.py
  tests/airplay/test_airplay_auth.py
  tests/support/test_cache.py
  tests/support/test_device_info.py
  tests/support/test_support.py
  tests/support/test_udns.py
Due: library, tests

if: Add support for play_pause
  docs/documentation/atvremote.md
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/common_functional_tests.py
  tests/dmap/fake_dmap_atv.py
  tests/mrp/fake_mrp_atv.py
Due: library, docs, tests

cq: Remove need for tlslite-ng
  docs/documentation/documentation.md
  pyatv/mrp/chacha20.py
  setup.py
Due: library, docs

cq: Remove need for curve25519-donna
  docs/documentation/documentation.md
  pyatv/airplay/srp.py
  pyatv/mrp/srp.py
  setup.py
  tests/mrp/mrp_server_auth.py
Due: library, docs, tests

cq: Remove need for ed25519
  docs/documentation/documentation.md
  pyatv/airplay/srp.py
  pyatv/mrp/srp.py
  setup.py
  tests/mrp/mrp_server_auth.py
Due: library, docs, tests

cq: Handle invalid credentials
  pyatv/airplay/__init__.py
  pyatv/dmap/daap.py
  pyatv/mrp/srp.py
  tests/airplay/fake_airplay_device.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
Due: library, tests

cq: Add typing hints to public interface
  pyatv/__init__.py
  pyatv/__main__.py
  pyatv/conf.py
  pyatv/convert.py
  pyatv/helpers.py
  pyatv/interface.py
Due: library

mrp: Subscribe to volume updates
  pyatv/mrp/messages.py
Due: library

docs: Add API documentation
  docs/_config.yml
  docs/_layouts/template.html
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/const.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/exceptions.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/assets/css/hljs.css
  docs/assets/css/normalize.css
  docs/assets/css/pdoc.css
  docs/assets/css/sanitize.css
  docs/assets/css/style.scss
  docs/assets/js/highlight.9.12.0.min.js
  docs/pdoc_templates/config.mako
  docs/pdoc_templates/html.mako
  requirements_docs.txt
  scripts/api.py
  tox.ini
Due: docs, scripts

protobuf: Update messages
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/protobuf/SetNowPlayingPlayerMessage.proto
  pyatv/mrp/protobuf/SetNowPlayingPlayerMessage_pb2.py
  pyatv/mrp/protobuf/SetNowPlayingPlayerMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

mrp: Add basic support for features
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
Due: library

if: Add interface for supported features
  pyatv/const.py
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  scripts/features.py
Due: library, scripts

dmap: Add basic support for features
  pyatv/dmap/__init__.py
Due: library

docs: Add documentation for features
  docs/_config.yml
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  docs/development/features.md
  docs/documentation/concepts.md
  docs/index.md
Due: docs

features: Add tests for features
  tests/common_functional_tests.py
  tests/dmap/fake_dmap_atv.py
  tests/dmap/test_dmap_functional.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
  tests/test_interface.py
Due: tests

atvremote: Add support for features
  docs/documentation/atvremote.md
  pyatv/__main__.py
Due: library, docs
