Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

raop: Use correct auth type for RAOP pairing
  pyatv/protocols/airplay/pairing.py
  pyatv/protocols/raop/__init__.py
Due: library

Revert "deps: Remove bitarray code"
  base_versions.txt
  pyatv/protocols/raop/alac.py
  pyproject.toml
  requirements/requirements.txt
  tests/protocols/raop/test_alac.py
Due: library, docs, tests

mrp: Fix pairing requirement when disabled
  pyatv/protocols/mrp/__init__.py
  tests/protocols/mrp/test_mrp.py
Due: library, tests

lol
  pyatv/protocols/raop/stream_client.py
Due: library

airplay: Fix play_url with newer tvOS versions
  README.md
  chickn.yaml
  docs/api/pyatv/exceptions.html
  pyatv/exceptions.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/airplay/player.py
  pyatv/protocols/raop/protocols/__init__.py
  pyatv/protocols/raop/protocols/airplayv1.py
  pyatv/protocols/raop/protocols/airplayv2.py
  pyatv/protocols/raop/stream_client.py
  pyatv/protocols/raop/timing.py
  pyatv/scripts/atvproxy.py
  pyatv/support/rtsp.py
  tests/protocols/airplay/test_airplay_player.py
Due: library, docs, tests

airplay: Support stop with play_url
  docs/api/pyatv/interface.html
  pyatv/protocols/airplay/__init__.py
Due: library, docs

http: Abort timeout if connection close
  pyatv/support/http.py
  tests/support/test_http.py
Due: library, tests

avoid tasks if not needed
  pyatv/core/scan.py
Due: library

conf: Add macOS as operating system
  docs/api/pyatv/const.html
  docs/api/pyatv/interface.html
  pyatv/const.py
  pyatv/interface.py
  pyatv/protocols/airplay/__init__.py
  pyatv/protocols/raop/__init__.py
  pyatv/support/device_info.py
  tests/protocols/airplay/test_airplay.py
  tests/protocols/raop/test_raop.py
  tests/support/test_device_info.py
  tests/test_interface.py
Due: library, docs, tests

airplay: Handle Access Control Type
  pyatv/protocols/airplay/utils.py
  pyatv/protocols/raop/__init__.py
  tests/protocols/airplay/test_utils.py
  tests/protocols/raop/test_raop.py
Due: library, tests

mrp: Add some missing protobuf definitions
  pyatv/protocols/mrp/protobuf/NowPlayingPlayer.proto
  pyatv/protocols/mrp/protobuf/NowPlayingPlayer_pb2.py
  pyatv/protocols/mrp/protobuf/NowPlayingPlayer_pb2.pyi
  pyatv/protocols/mrp/protobuf/Origin.proto
  pyatv/protocols/mrp/protobuf/Origin_pb2.py
  pyatv/protocols/mrp/protobuf/Origin_pb2.pyi
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage.proto
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage_pb2.py
  pyatv/protocols/mrp/protobuf/UpdateOutputDeviceMessage_pb2.pyi
  pyatv/protocols/mrp/protobuf/UpdatePlayerPath.proto
  pyatv/protocols/mrp/protobuf/UpdatePlayerPath_pb2.py
  pyatv/protocols/mrp/protobuf/UpdatePlayerPath_pb2.pyi
  pyatv/protocols/mrp/protobuf/__init__.py
Due: library

gha: Remove log workflow
  .github/workflows/log.yaml
Due: none

bump zeroconf
  base_versions.txt
  requirements/requirements.txt
Due: docs

test unicast vs multicast
  tests/core/test_scan.py
Due: tests

lint
  tests/core/test_scan.py
Due: tests

Rework zeroconf for unicast scanning (#2083)
  base_versions.txt
  pyatv/core/scan.py
  requirements/requirements.txt
  tests/core/test_scan.py
Due: library, docs, tests

Release 0.13.3
  CHANGES.md
  pyatv/const.py
Due: library, docs

Release 0.13.3 (#2121)
  CHANGES.md
  pyatv/const.py
Due: library, docs

gha: Remove log workflow (#2120)
  .github/workflows/log.yaml
Due: none

Fallback to sending unicast PTR queries when multicast is broken or packets are being dropped
  pyatv/__init__.py
  pyatv/core/scan.py
Due: library

Fallback to sending unicast PTR queries when multicast is broken or packets are being dropped
  pyatv/core/scan.py
Due: library

lint
  pyatv/core/scan.py
Due: library

legacy typing
  pyatv/core/scan.py
Due: library

adjust
  pyatv/core/scan.py
Due: library

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
