Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

mrp: Support volume control features
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

Release 0.5.0
  CHANGES.md
  docs/api/pyatv/const.html
  docs/support/migration.md
  pyatv/const.py
Due: library, docs

tests: Clean up asserts in fake devices
  tests/airplay/fake_airplay_device.py
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/dmap/fake_dmap_atv.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
Due: tests

scripts: Add start of fake device script
  scripts/fake_device.py
Due: scripts

tests: Break out state in MRP fake device
  pyatv/mrp/messages.py
  scripts/fake_device.py
  tests/mrp/fake_mrp_atv.py
Due: library, scripts, tests

docs: Various minor updates
  CONTRIBUTORS.md
  README.md
  docs/_config.yml
  docs/api/pyatv.html
  docs/api/pyatv/conf.html
  docs/api/pyatv/convert.html
  docs/api/pyatv/helpers.html
  docs/api/pyatv/interface.html
  docs/assets/css/pdoc.css
  docs/development/development.md
  docs/documentation/atvproxy.md
  docs/index.md
  docs/pdoc_templates/config.mako
  docs/support/acknowledgements.md
Due: docs

docs: Add edit link at bottom
  docs/_layouts/template.html
  docs/development/features.md
Due: docs

gha: Remove push from trigger
  .github/workflows/tests.yml
Due: none

docs: Fix typo in link
  docs/index.md
Due: docs

tests: Begin extraction of fake MRP state
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
Due: tests

tests: Begin extraction of fake DMAP state
  tests/common_functional_tests.py
  tests/dmap/fake_dmap_atv.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/mrp/fake_mrp_atv.py
  tests/mrp/test_mrp_functional.py
Due: tests

scan: Remove non-breaking space
  docs/api/pyatv.html
  docs/index.md
  pyatv/__init__.py
  tests/test_scan.py
Due: library, docs, tests

scripts: Add features to atvscript
  docs/api/pyatv/interface.html
  docs/documentation/atvscript.md
  pyatv/scripts/atvscript.py
  tests/scripts/test_atvscript.py
Due: library, docs, tests

tests: Begin extraction of fake AirPlay state
  tests/airplay/fake_airplay_device.py
  tests/airplay/test_airplay.py
  tests/common_functional_tests.py
  tests/dmap/fake_dmap_atv.py
  tests/mrp/fake_mrp_atv.py
Due: tests

tests: Move all fake devices to common directory
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/fake_device/fake_airplay_device.py
  tests/fake_device/fake_dmap_atv.py
  tests/fake_device/fake_mrp_atv.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
Due: tests

tests: Refactor fake devices
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
Due: tests

tests: Use one fake device with multiple services
  tests/airplay/test_airplay.py
  tests/airplay/test_airplay_auth.py
  tests/airplay/test_airplay_pair.py
  tests/common_functional_tests.py
  tests/dmap/test_dmap_functional.py
  tests/dmap/test_dmap_pair.py
  tests/fake_device/__init__.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_auth.py
  tests/mrp/test_mrp_functional.py
  tests/scripts/script_env.py
  tests/scripts/test_atvremote.py
  tests/scripts/test_atvscript.py
Due: tests

tests: Multi-client support for fake MRP service
  tests/fake_device/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_auth.py
  tests/scripts/test_atvremote.py
Due: tests

fake_device: Add demo mode in fake_device
  scripts/fake_device.py
Due: scripts

fake_device: Add protocol flag for MRP
  scripts/fake_device.py
Due: scripts

fake_device: Initial support for DMAP
  scripts/fake_device.py
  tests/fake_device/__init__.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/fake_device/mrp.py
Due: scripts, tests

fake_device: Add initial support for AirPlay
  scripts/fake_device.py
  tests/fake_device/airplay.py
  tests/fake_device/dmap.py
  tests/utils.py
Due: scripts, tests

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
