Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project:
      default:
        target: auto
        threshold: 5%

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.md
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Update setup_dev_env.sh
  scripts/setup_dev_env.sh
Due: scripts

Update test_companion_functional.py
  tests/protocols/companion/test_companion_functional.py
Due: tests

support: Add tests for metadata decoding
  tests/support/test_metadata.py
Due: tests

support: Migrate from mediafile to tinytag
  base_versions.txt
  docs/api/pyatv.const.html
  docs/api/pyatv.settings.html
  pyatv/support/metadata.py
  requirements/requirements.txt
Due: library, docs

cq: Fix lots of warnings in tests
  tests/conftest.py
  tests/core/test_mdns_functional.py
  tests/protocols/airplay/conftest.py
  tests/protocols/companion/conftest.py
  tests/protocols/companion/test_companion_functional.py
  tests/protocols/dmap/test_dmap_pairing.py
  tests/protocols/mrp/test_mrp_functional.py
  tests/protocols/mrp/test_protocol.py
  tests/protocols/raop/conftest.py
  tests/protocols/raop/test_raop_functional.py
  tests/scripts/conftest.py
  tests/scripts/test_atvremote.py
  tests/support/test_collections.py
  tests/support/test_knock.py
  tests/test_storage_functional.py
Due: tests

support: Remove use of mediafile
  base_versions.txt
  pyatv/support/metadata.py
  tests/support/test_metadata.py
Due: library, docs, tests

Fix atvremote action enum
  pyatv/scripts/atvremote.py
Due: library

opack: fix byte encoding length
  pyatv/support/opack.py
  tests/support/test_opack.py
Due: library, tests

Add Input.Action to Companion
  pyatv/protocols/companion/__init__.py
  scripts/setup_dev_env.sh
  tests/protocols/companion/test_companion_functional.py
Due: library, scripts, tests

Artwork_save file naming.
  pyatv/scripts/atvremote.py
Due: library

deps: Deprecate python 3.8
  .github/workflows/release.yml
  .github/workflows/tests.yml
  setup.py
Due: none

deps: Support python 3.13
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/tests.yml
  pylintrc
  requirements/requirements_test.txt
  setup.py
Due: none

deps: Bump base requests to 2.30.0
  base_versions.txt
Due: docs

cq: Minor updates
  docs/documentation/atvremote.md
  tests/protocols/companion/test_companion_functional.py
Due: docs, tests

core: Update device info
  docs/api/pyatv.const.html
  docs/api/pyatv.convert.html
  pyatv/const.py
  pyatv/convert.py
  pyatv/support/device_info.py
  tests/support/test_device_info.py
  tests/test_convert.py
Due: library, docs, tests

gha: Update upload-artifact to v4
  .github/workflows/release.yml
Due: none

deps: Remove mediafile as dependency
  base_versions.txt
  requirements/requirements.txt
Due: docs

Release 0.16.0
  CHANGES.md
  pyatv/const.py
Due: library, docs

Expose delay parameter for Hold action in Companion Protocol
  pyatv/protocols/companion/__init__.py
Due: library

wip
  Taskfile.yml
Due: configs

more wip
  Taskfile.yml
  setup.cfg
Due: configs

Fix typo, expand acronym at first use
  docs/documentation/protocols.md
Due: docs

favor companion protocol for power state
  pyatv/core/facade.py
  pyatv/protocols/companion/__init__.py
Due: library
