Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

Add support for password protected RAOP devices
  docs/api/pyatv/conf.html
  docs/development/stream.md
  docs/documentation/atvremote.md
  docs/documentation/supported_features.md
  pyatv/conf.py
  pyatv/raop/__init__.py
  pyatv/raop/raop.py
  pyatv/raop/rtsp.py
  pyatv/scripts/atvremote.py
  pyatv/support/http.py
  tests/fake_device/raop.py
  tests/raop/test_raop_functional.py
Due: library, docs, tests

dmap: Add support for HSCP service
  docs/api/pyatv/helpers.html
  docs/documentation/supported_features.md
  pyatv/dmap/__init__.py
  pyatv/dmap/tag_definitions.py
  pyatv/helpers.py
  tests/dmap/test_dmap.py
  tests/dmap/test_dmap_scan.py
  tests/fake_udns.py
  tests/test_helpers.py
  tox.ini
Due: library, docs, tests

companion: Convert functional tests to pytest
  tests/companion/conftest.py
  tests/companion/test_companion_functional.py
Due: tests

companion: Add support for several buttons
  docs/api/pyatv/interface.html
  docs/documentation/supported_features.md
  pyatv/companion/__init__.py
  tests/companion/test_companion_functional.py
  tests/fake_device/companion.py
Due: library, docs, tests

mdns: Ignore duplicate records in ServiceParser
  pyatv/support/mdns.py
  tests/support/test_mdns.py
Due: library, tests

mdns: Split multicast request in multiple messages
  pyatv/support/mdns.py
  pyatv/support/scan.py
  tests/fake_udns.py
  tests/support/test_mdns.py
  tests/support/test_mdns_functional.py
Due: library, tests

mdns: Refactor service parser to a class
  pyatv/support/mdns.py
  tests/support/test_mdns.py
Due: library, tests

mdns: Split unicast requests over several messages
  pyatv/support/mdns.py
  tests/support/test_mdns_functional.py
  tests/support/test_scan.py
Due: library, tests

mdns: Ask for sleep-proxy in unicast requests
  pyatv/support/mdns.py
  pyatv/support/scan.py
  tests/support/test_mdns_functional.py
Due: library, tests

mdns: Cache parsed services
  pyatv/support/mdns.py
Due: library

mdns: Verify end condition with all services
  pyatv/support/mdns.py
Due: library

Release 0.8.2
  CHANGES.md
  pyatv/const.py
Due: library, docs

Release 0.8.2
  CHANGES.md
  pyatv/const.py
  setup.py
Due: library, docs

Fix spelling error
  docs/support/faq.md
Due: docs

docs: Fix broken links in supported_features
  docs/documentation/supported_features.md
Due: docs

docs: Add entry for Illegal instruction
  docs/support/faq.md
Due: docs

mrp: Disable some type checking
  pyatv/mrp/connection.py
Due: library

Disable pylint instead of mypy
  pyatv/mrp/connection.py
Due: library

docs: Add issue regarding cellcomtvappleos
  docs/support/faq.md
Due: docs

docs: Add remote control docs for AirPlay 2
  docs/documentation/protocols.md
Due: docs

docs: Fix broken diagram in AP 2
  docs/documentation/protocols.md
Due: docs

docs: Make some clarifications for AirPlay remote
  docs/documentation/protocols.md
Due: docs

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
