Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  range: "80..100"

  status:
    project: no

flags:
  library:
    paths:
    - pyatv/
  examples:
    paths:
    - examples/
  configs:
    paths:
    - ".git*"
    - "*.yml"
  changelog:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  scripts:
    paths:
    - scripts/
  tests:
    paths:
    - tests/

Release 0.9.5
  CHANGES.md
  pyatv/const.py
Due: library, docs

wip
  pyatv/protocols/raop/raop.py
Due: library

dep: Require protobuf 3.18.0
  base_versions.txt
Due: docs

collection: Add SharedData type
  pyatv/support/collections.py
  tests/support/test_collections.py
Due: library, tests

mrp: Migrate protocol to MessageDispatcher
  pyatv/protocols/mrp/__init__.py
  pyatv/protocols/mrp/player_state.py
  pyatv/protocols/mrp/protocol.py
  tests/protocols/mrp/conftest.py
  tests/protocols/mrp/test_mrp_interface.py
  tests/protocols/mrp/test_player_state.py
Due: library, tests

core: Add generic MessageDispatcher
  pyatv/core/protocol.py
  tests/core/test_protocol.py
Due: library, tests

companion: Improve tests for sessions and events
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/connection.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, tests

companion: Support playback control availability
  docs/documentation/protocols.md
  pyatv/protocols/companion/__init__.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

companion: Events and persistent connection
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/auth.py
  pyatv/protocols/companion/connection.py
  pyatv/protocols/companion/protocol.py
  tests/fake_device/companion.py
  tests/protocols/companion/conftest.py
Due: library, tests

companion: Add support for additional commands
  docs/api/pyatv/interface.html
  pyatv/core/facade.py
  pyatv/protocols/companion/__init__.py
  tests/fake_device/companion.py
  tests/protocols/companion/test_companion_functional.py
Due: library, docs, tests

companion: Fix button presses for HID buttons
  pyatv/protocols/companion/__init__.py
  tests/fake_device/companion.py
Due: library, tests

companion: Do not wait for initial event update
  pyatv/protocols/companion/__init__.py
Due: library

companion: Move CompanionAPI to separate module
  pyatv/protocols/companion/__init__.py
  pyatv/protocols/companion/api.py
Due: library

companion: Use XID for message dispatch
  docs/documentation/protocols.md
  pyatv/protocols/companion/api.py
  pyatv/protocols/companion/auth.py
  pyatv/protocols/companion/connection.py
  pyatv/protocols/companion/protocol.py
  pyatv/scripts/atvproxy.py
Due: library, docs

dmap: Support custom addresses during pairing
  docs/development/scan_pair_and_connect.md
  pyatv/protocols/dmap/pairing.py
  pyatv/protocols/raop/raop.py
  tests/protocols/dmap/test_dmap_pairing.py
Due: library, docs, tests

core: Do not log exception in heartbeater
  pyatv/core/protocol.py
Due: library

scripts: Log current version of pyatv
  pyatv/scripts/__init__.py
  pyatv/scripts/atvproxy.py
  pyatv/scripts/atvremote.py
  pyatv/scripts/atvscript.py
Due: library

wip
  .github/workflows/tests.yml
  base_versions2.txt
  scripts/tox.sh
Due: docs, scripts

env: Re-work test environment
  .github/dependabot.yml
  .github/workflows/tests.yml
  .gitpod.yml
  CONTRIBUTING.md
  README.md
  chickn.yaml
  docs/documentation/documentation.md
  docs/internals/documentation.md
  docs/internals/internals.md
  docs/internals/submit_pr.md
  docs/internals/tools.md
  requirements/requirements.txt
  requirements/requirements_docs.txt
  requirements/requirements_test.txt
  scripts/chickn.py
  scripts/setup_dev_env.sh
  scripts/tox.sh
  setup.py
  tox.ini
Due: configs, docs, scripts

mrp: Add support for content_identifier
  chickn.yaml
  docs/api/pyatv/const.html
  pyatv/const.py
  pyatv/protocols/mrp/__init__.py
  tests/fake_device/mrp.py
  tests/protocols/mrp/test_mrp_functional.py
Due: library, docs, tests

gha: Fix logical bug in re-run caching
  .github/workflows/tests.yml
Due: none

Release 0.9.6
  CHANGES.md
  pyatv/const.py
Due: library, docs

docs: Add example connect_with_credentials.py
  docs/development/examples.md
  examples/connect_with_credentials.py
Due: examples, docs

gha: Fix caching issue for finished job
  .github/workflows/tests.yml
Due: none
