Repository postlund/pyatv: changes, and which Codecov flags are due for each by the changed paths.
All: library, examples, configs, docs, scripts, tests

mrp: Improve client and player handling (#915)
  pyatv/mrp/__init__.py
  pyatv/mrp/player_state.py
  tests/fake_device/mrp.py
Due: library, tests

mrp: Fix a few playback state edge cases
  pyatv/mrp/player_state.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
  tests/mrp/test_player_state.py
Due: library, tests

mrp: Fix a few playback state edge cases (#916)
  pyatv/mrp/player_state.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
  tests/mrp/test_player_state.py
Due: library, tests

mrp: Add fields to UpdateOutputDevice
  pyatv/mrp/protobuf/UpdateOutputDeviceMessage.proto
  pyatv/mrp/protobuf/UpdateOutputDeviceMessage_pb2.py
  pyatv/mrp/protobuf/UpdateOutputDeviceMessage_pb2.pyi
Due: library

if: Add __eq__ to Playing interface
  pyatv/interface.py
  tests/test_interface.py
Due: library, tests

if: Do not post duplicate push updates
  docs/api/pyatv/interface.html
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/test_interface.py
Due: library, docs, tests

Do not post duplicate push updates (#920)
  docs/api/pyatv/interface.html
  pyatv/dmap/__init__.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/test_interface.py
Due: library, docs, tests

mrp: Add fields to UpdateOutputDevice (#921)
  pyatv/mrp/protobuf/UpdateOutputDeviceMessage.proto
  pyatv/mrp/protobuf/UpdateOutputDeviceMessage_pb2.py
  pyatv/mrp/protobuf/UpdateOutputDeviceMessage_pb2.pyi
Due: library

mrp: Add delay in turn_off between commands
  .github/workflows/tests.yml
  pyatv/mrp/__init__.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

mrp: Add delay in turn_off between commands (#923)
  .github/workflows/tests.yml
  pyatv/mrp/__init__.py
  tests/mrp/test_mrp_functional.py
Due: library, tests

mrp: Support default supported commands
  pyatv/mrp/player_state.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
  tests/mrp/test_player_state.py
Due: library, tests

mrp: Support default supported commands (#924)
  pyatv/mrp/player_state.py
  tests/fake_device/mrp.py
  tests/mrp/test_mrp_functional.py
  tests/mrp/test_player_state.py
Due: library, tests

mrp: Add support for heartbeats
  tests/dmap/test_daap.py
  tests/dmap/test_parser.py
  tests/mrp/test_variant.py
  tests/support/test_cache.py
  tests/test_convert.py
Due: tests

dns: Use UTF-8 for names, and (attempt) to handle dots in names
  pyatv/support/dns.py
  pyatv/support/mdns.py
  tests/support/test_dns.py
Due: library, tests

mrp: Add support for heartbeats
  pyatv/mrp/connection.py
  pyatv/mrp/protocol.py
  tests/conftest.py
  tests/fake_device/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_protocol.py
Due: library, tests

dns: Use UTF-8 for names, and (attempt) to handle dots in names (#927)
  pyatv/support/dns.py
  pyatv/support/mdns.py
  tests/support/test_dns.py
Due: library, tests

mrp: Add support for heartbeats (#926)
  tests/dmap/test_daap.py
  tests/dmap/test_parser.py
  tests/mrp/test_variant.py
  tests/support/test_cache.py
  tests/test_convert.py
Due: tests

mrp: Add support for heartbeats (#925)
  pyatv/mrp/connection.py
  pyatv/mrp/protocol.py
  tests/conftest.py
  tests/fake_device/__init__.py
  tests/fake_device/mrp.py
  tests/mrp/test_protocol.py
Due: library, tests

if: Convert Playing to data class
  docs/api/pyatv/interface.html
  pyatv/dmap/__init__.py
  pyatv/dmap/daap.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/mrp/test_mrp_functional.py
  tests/test_interface.py
Due: library, docs, tests

mrp: Fix handling of active client
  pyatv/mrp/player_state.py
  tests/mrp/test_player_state.py
Due: library, tests

if: Convert Playing to data class (#943)
  docs/api/pyatv/interface.html
  pyatv/dmap/__init__.py
  pyatv/dmap/daap.py
  pyatv/interface.py
  pyatv/mrp/__init__.py
  tests/mrp/test_mrp_functional.py
  tests/test_interface.py
Due: library, docs, tests

mrp: Fix handling of active client (#944)
  pyatv/mrp/player_state.py
  tests/mrp/test_player_state.py
Due: library, tests

mrp: Add some protobuf messages for volume
  pyatv/mrp/protobuf/GetVolumeMessage.proto
  pyatv/mrp/protobuf/GetVolumeMessage_pb2.py
  pyatv/mrp/protobuf/GetVolumeMessage_pb2.pyi
  pyatv/mrp/protobuf/GetVolumeResultMessage.proto
  pyatv/mrp/protobuf/GetVolumeResultMessage_pb2.py
  pyatv/mrp/protobuf/GetVolumeResultMessage_pb2.pyi
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/protobuf/SetVolumeMessage.proto
  pyatv/mrp/protobuf/SetVolumeMessage_pb2.py
  pyatv/mrp/protobuf/SetVolumeMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

mrp: Add some protobuf messages for volume (#947)
  pyatv/mrp/protobuf/GetVolumeMessage.proto
  pyatv/mrp/protobuf/GetVolumeMessage_pb2.py
  pyatv/mrp/protobuf/GetVolumeMessage_pb2.pyi
  pyatv/mrp/protobuf/GetVolumeResultMessage.proto
  pyatv/mrp/protobuf/GetVolumeResultMessage_pb2.py
  pyatv/mrp/protobuf/GetVolumeResultMessage_pb2.pyi
  pyatv/mrp/protobuf/ProtocolMessage.proto
  pyatv/mrp/protobuf/ProtocolMessage_pb2.py
  pyatv/mrp/protobuf/ProtocolMessage_pb2.pyi
  pyatv/mrp/protobuf/SetVolumeMessage.proto
  pyatv/mrp/protobuf/SetVolumeMessage_pb2.py
  pyatv/mrp/protobuf/SetVolumeMessage_pb2.pyi
  pyatv/mrp/protobuf/__init__.py
Due: library

Release 0.7.6
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

Release 0.7.6 (#948)
  CHANGES.md
  docs/api/pyatv/const.html
  pyatv/const.py
Due: library, docs

log2html: New script converting logs to HTML pages
  scripts/log2html.py
Due: scripts

log2html: New script converting logs to HTML pages (#960)
  scripts/log2html.py
Due: scripts

log2html: Support environment variable as input
  scripts/log2html.py
Due: scripts

gha: Generate html logs for logs in issues
  .github/workflows/log.yaml
Due: none

log2html: Support environment variable as input (#961)
  scripts/log2html.py
Due: scripts

gha: Generate html logs for logs in issues (#962)
  .github/workflows/log.yaml
Due: none

log2html: Render log entries with javascript
  scripts/log2html.py
Due: scripts

log2html: Render log entries with javascript (#965)
  scripts/log2html.py
Due: scripts

log2html: Add text and log level filtering
  scripts/log2html.py
Due: scripts

log2html: Add text and log level filtering (#966)
  scripts/log2html.py
Due: scripts

log2html: Support Home Assistant log format
  scripts/log2html.py
Due: scripts

log2html: Support Home Assistant log format (#967)
  scripts/log2html.py
Due: scripts

gha: Store issue/comment body as file for log2html
  .github/workflows/log.yaml
Due: none

Path conditions:
  library: any of: pyatv/
  examples: any of: examples/
  configs: any of: .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  scripts: any of: scripts/
  tests: any of: tests/
